.tabHeader{
    width: 100%;
    border: 1px solid #a7a9ac; 
    border-bottom: none;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: #dee0e0;
    height: 40px;
    line-height: 50px;
}