<style>
    .title {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .title>div {
        flex: 4 1 40px;
    }
    
    input {
        flex: 1 1 10px;
        max-width: 80px;
    }
</style>
<div class="content">
    <div class="title">
        <div> DANH SÁCH HÀNG SỐ NHỠ&nbsp;(<span class="total">{{count | async}}</span>) </div>
        <input [class.hidden]="!show" (keyup)="onSearch($event)" type="text" placeholder="số vé">
        <img src="../asset/img/icon/search.png" (click)="show = !show" alt="Search" width="20" height="20" style="cursor: pointer">
    </div>

    <div>
        <div class="table-row header">
            <div>Số</div>
            <div>Dịch vụ</div>
            <div>Đặt nhỡ lúc</div>
        </div>
        <div class="table">
            <div class="table-row" *ngFor="let t of tickets | async" [ticket-detail]="t">
                <div><img src="../asset/img/icon/person.png" alt="Number Ticket" width="20" height="20">&nbsp;{{t.cnum}}</div>
                <div>{{t.services | ticketServiceName}}</div>
                <div>
                    {{t.mtime | ticketHour}}
                </div>
            </div>
        </div>
    </div>
</div>