.vcodes {
    background: #00a7d1 !important;
}

.total {
    color: #00a7d1;
}

.title {
    border-bottom: 0.5px solid #cccccc;
    text-align: center;
    background-color: #dee0e0;
    height: 40px;
    line-height: 40px;
}

.content {
    margin: 10px;
    border-style: solid;
    border-width: 0.5px;
    border-color: #cccccc;
}

.table-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-grow: 0;
    flex-wrap: wrap;
    cursor: pointer;
    border-bottom: 1px solid #e0e0e0;
    border-collapse: collapse;
}

.table-row:nth-child(even) {
    background: #edf7fc;
}

.table-row:nth-child(odd) {
    background: #ffffff;
}

.table-row>* {
    flex-grow: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 80px;
    padding-right: 20px;
    text-align: center;
}

.header {
    background-color: #f4f4f4;
    color: #15809a;
    font-weight: bold;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 12px;
}

.hidden {
    display: none;
}

.table {
    height: 300px;
}