.security-pass {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 20;
    outline-color: transparent;
    background-color: black;
    .activate-button {
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 21;
        width: 10vw;
        height: 10vh;
        outline-color: transparent;
        background-color: orange;
        opacity: 0.6;
        .enter-password {
            background: white;
            button {
                font-size: 2vh;
            }
        }
    }
}