.security-pass {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 20;
    outline-color: transparent;
    .activate-button {
        width: 10vw;
        height: 10vh;
        outline-color: transparent;
        .enter-password {
            background: white;
            button {
                font-size: 2vh;
            }
        }
    }
}