<div id="summaryComponent">
    <h2 class="header uppercase" i18n>Overview</h2>
    <div class="nav">
        <button class="btnFill btnMargin uppercase" i18n>TRANSACTION</button>
        <button class="btnClear btnMargin uppercase" i18n>Device</button>
    </div>
    <table class="tableCtrl">
        <thead class="">
            <th i18n>Store</th>
            <th i18n>Printed ticket</th>
            <th i18n>Waiting ticket</th>
            <th i18n>Serving ticket</th>
            <th i18n>Served ticket </th>
            <th i18n>Missed ticket</th>
            <th i18n>Cancelled ticket</th>
            <th i18n>Serving over 15'</th>
            <th i18n>Serving under 2'</th>
        </thead>
        <tbody>
            <tr *ngFor="let s of summary$ | async" (click)="focus(s)" class="branchSummary">
                <td> {{s.branch_id | branchName}} </td>
                <td> {{s.printed}}</td>
                <td i18n> {{s.waiting}}</td>
                <td i18n> {{s.serving}}</td>
                <td i18n> {{s.finished}}</td>
                <td i18n> {{s.missed}}</td>
                <td i18n> {{s.cancelled}}</td>
                <td i18n [ngClass]="{'warning': (s.wait_long/s.waiting)*100 > 40}">
                    <span>{{s.wait_long}} ({{s.wl_percent.toFixed(2)}})%</span>
                </td>
                <td i18n> {{s.serve_short}}</td>
            </tr>
            <tr>
                <td class="uppercase" i18n>Summary</td>
                <td> {{total.printed}}</td>
                <td i18n> {{total.waiting}}</td>
                <td i18n> {{total.serving}}</td>
                <td i18n> {{total.finished}}</td>
                <td i18n> {{total.missed}}</td>
                <td i18n> {{total.cancelled}}</td>
                <td i18n [ngClass]="{'warning': (total.wait_long/total.waiting)*100 > 40}">
                    <span>{{total.wait_long}} ({{total.wl_percent.toFixed(2)}})%</span>
                </td>
                <td i18n> {{total.serve_short}}</td>
            </tr>
        </tbody>
    </table>
    <monitor-chart [data]="total"></monitor-chart>
</div>