#summaryComponent{
    .tableCtrl{
        margin: 0px;
        .branchSummary{
            cursor: pointer;
            &:hover{
                background-color: #f4f4f4;
            }
        }
    }
}