<div id="summaryComponent">
    <h2 class="header uppercase" i18n>Overview</h2>
    <div class="nav">
        <button class="btnFill btnMargin uppercase" appSafeNav="/monitor/ticket" i18n>Transaction</button>
        <button class="btnClear btnMargin uppercase" appSafeNav="/monitor/device" i18n>Device</button>
        <button class="btnClear btnMargin uppercase" appSafeNav="/monitor/survey" i18n>Survey</button>
    </div>

    <ag-grid-angular #agGrid [gridOptions]="gridOptions" [rowData]="records$ | async"
        class="ag-fresh tableCtrl" enableColResize enableSorting>

        <ag-grid-column headerName="Store" field="store" [width]="200" cellClass="padding-10" i18n-headerName></ag-grid-column>

        <ag-grid-column headerName="Print Ticket" field="printed" [width]="100" cellClass="padding-10" i18n-headerName></ag-grid-column>

        <ag-grid-column headerName="Waiting Ticket" field="waiting" [width]="100" cellClass="padding-10" i18n-headerName></ag-grid-column>

        <ag-grid-column headerName="Serving Ticket" field="serving" [width]="100" cellClass="padding-10" i18n-headerName></ag-grid-column>

        <ag-grid-column headerName="Served Ticket" field="finished" [width]="100" cellClass="padding-10" i18n-headerName></ag-grid-column>

        <ag-grid-column headerName="Cancelled Ticket" field="cancelled" [width]="100" cellClass="padding-10" i18n-headerName></ag-grid-column>

        <ag-grid-column headerName="Exceeded Waiting Time Transaction" field="exceededWaitingCell" [width]="215" cellClass="padding-10"
            [cellStyle]="warningExceededWaiting" i18n-headerName></ag-grid-column>

        <ag-grid-column headerName="Exceeded Serving Time Transaction" field="exceededServingCell" [width]="215" cellClass="padding-10"
            [cellStyle]="warningExceededServing" i18n-headerName></ag-grid-column>
        
        <ag-grid-column headerName="Waiting Ticket Under 5m" field="wai_under_5" cellClass="padding-10" i18n-headerName></ag-grid-column>
        <ag-grid-column headerName="Waiting Ticket 5-10m" field="wai_bw_5_10" cellClass="padding-10" i18n-headerName></ag-grid-column>
        <ag-grid-column headerName="Waiting Ticket 10-15m" field="wai_bw_10_15"cellClass="padding-10" i18n-headerName></ag-grid-column>
        <ag-grid-column headerName="Waiting Ticket 15-20m" field="wai_bw_15_20" cellClass="padding-10" i18n-headerName></ag-grid-column>
        <ag-grid-column headerName="Waiting Ticket 20-25m" field="wai_bw_20_25" cellClass="padding-10" i18n-headerName></ag-grid-column>
        <ag-grid-column headerName="Waiting Ticket 25-30m" field="wai_bw_25_30" cellClass="padding-10" i18n-headerName></ag-grid-column>
        <ag-grid-column headerName="Waiting Ticket Over 30m" field="wai_over_30" cellClass="padding-10" i18n-headerName></ag-grid-column>

    </ag-grid-angular>

    <div fxLayout="row">
        <div fxFlex="80%"></div>
        <button fxFlex class="btnClear uppercase margin-20-10" (click)="export()" i18n>Export to csv</button>
    </div>

    <div class="divider margin-20-0"></div>
    <div *ngIf="total$ | async; else loading; let total" class="border">
        <monitor-chart [data]="total"></monitor-chart>
    </div>
    <ng-template #loading>
        <div class="spinner">
            <mat-spinner></mat-spinner>
        </div>
    </ng-template>
</div>