#summaryComponent{
    .tableCtrl{
        margin: 0px;
        .branchSummary{
            cursor: pointer;
            &:hover{
                background-color: #f4f4f4;
            }
        }
    }
    .warning {
        background-color: #ff5858;
        color: #fff;
        font-weight: 600;
    }
}