<div class="hl-content-watting">
    <div class="hl-title-watting">
        <span translate> LIST_WAIT</span> &nbsp;(<span class="total">{{count$ | async}}</span>)
    </div>

    <div class="hl-table-missed">
        <div class="hl-table-row-missed hl-header-missed">
            <div class="text" translate>NUMBER</div>
            <div class="text" translate>SERVICE</div>
            <div class="text" translate>TIME_WAIT</div>
        </div>
        <div class="hl-table-row-missed" *ngFor="let t of waiting$ | async" [ticket-detail]="t" [ticket-highlight]="t">
            <div class="text"><img src="../asset/img/icon/person.png" alt="Number Ticket" width="20" height="20">&nbsp;{{t.cnum}}</div>
            <div class="text">{{t.services | multipleServiceName}}</div>
            <div class="text">
                <ticket-timer [start]="t.mtime"></ticket-timer>
            </div>
        </div>
    </div>
</div>