<editor #edit name="màn hình" (edit)="onEdit($event)" [fields]="fields" [data]="data | async" [service]="service">
    <editor-title> Danh sách Màn hình</editor-title>
    <form *ngIf="edit.form" [formGroup]="edit.form">
        <input formControlName="code" placeholder="Mã màn hình" style="width: 100%;">
        <input formControlName="name" placeholder="Tên màn hình" style="width: 100%;">
        <input type="checkbox" formControlName="inheritable"> Có thể kế thừa

        <br> Videos:
        <arr-form formControlName="videos"></arr-form>

        <br> Tin tức:
        <arr-form formControlName="news"></arr-form>

        <br> Màn hình cha:
        <select formControlName="parent_id">
            <option *ngFor="let sr of screens | async" [value]="sr.id"> {{sr.name}} </option> 
        </select>

        <br> Giao diện:
        <select formControlName="layout_id">
            <option *ngFor="let ly of layouts | async" [value]="ly.id"> {{ly.name}} </option>
        </select>
        <hr> Chi nhánh:
        <branch-picker level="0" formControlName="branch_id"></branch-picker>

        <hr> Quầy giao dịch:
        <select-check formControlName="counters" [data]="counters" textField="name">
        </select-check>
    </form>
</editor>