<editor #edit name="màn hình" (edit)="onEdit($event)" [fields]="fields" [data]="data | async" [service]="service">
    <editor-title> Danh sách Màn hình</editor-title>
    <form *ngIf="edit.form" [formGroup]="edit.form">
        <input class="inputs" formControlName="code" placeholder="Mã màn hình" style="width: 100%;">
        <input class="inputs" formControlName="name" placeholder="Tên màn hình" style="width: 100%;">
        <input type="checkbox" formControlName="inheritable"> Có thể kế thừa

        <br> Videos:
        <multi-file-picker formControlName="videos"></multi-file-picker>

        <br> Tin tức:
        <arr-form formControlName="news"></arr-form>

        <br> Màn hình cha:
        <select formControlName="parent_id">
            <option *ngFor="let sr of screens | async" [value]="sr.id"> {{sr.name}} </option> 
        </select>

        <br> Giao diện:
        <select formControlName="layout_id">
            <option *ngFor="let ly of layouts | async" [value]="ly.id"> {{ly.name}} </option>
        </select>
        <br> Chi nhánh:
        <branch-picker level="0" formControlName="branch_id"></branch-picker>
        <br> Quầy giao dịch:
        <div class="dichvu" *ngIf="counters">
            <select-check formControlName="counters" [data]="counters" textField="name">
            </select-check>
        </div>
    </form>
</editor>

<a routerLink="/center/layout" [queryParams]="{tag: 'screen'}"> Sửa giao diện </a>