.title {
    font-size: 18px;
    text-align: center;
    height: 50px;
    line-height: 50px;
    background-color: #dee0df;
}

.btnLogin {
    border-radius: 3px;
    color: #fff;
    background-color: #0b8fda;
    border: 0px solid #0b8fda;
    font-size: 18px;
    line-height: 40px;
    height: 40px;
    width: 100%;
}

input {
    border-radius: 3px;
    height: 35px;
    padding-left: 5px;
    border: 1px solid #a8a9ad;
}

.form {
    margin: 30px 30px;
    text-align: center;
}

.info {
    margin: 0px 30px;
}

.mk {
    font-size: 14px;
    color: #0b8fda;
}

.login {
    background-image: url("../asset/img/login/background_1.png");
    height: 100vh;
    background-size: cover;
}

.bodys {
    position: fixed;
    left: calc(50% - 185px);
    top: 100px;
    width: 370px;
    border-width: 1px;
    border-style: solid;
    border-color: #e9edeb;
    background-color: #fff;
}

.message {
    font: 18px;
    color: brown;
}

.ft {
    text-align: center;
    position: fixed;
    bottom: 5px;
    font-size: 16px;
    color: #fff;
    width: 100%;
}