.container {
    width: 100%;
    border-top: 1px solid #b0b1b5;
    background-color: #f4f4f4;
    display: flex;
}

.aside {
    flex: 1 1 250px;
    background-color: #f4f4f4;
}

.main {
    flex: 2 1 800px;
    border-left: 1px solid #b0b1b5;
    background-color: #f4f4f4;
}