#workSpace {
    .divider {
        margin: 0px;
    }
    #rightWorkSpace {
        padding: 20px;
    }
    #leftWorkSpace {
        padding: 20px;
        border-right: 1px solid #a7a9ac;
    }
    .componentBorder {
        border: 1px solid #a7a9ac;
        border-radius: 3px;
        background-color: #fff;
        .componentHeader {
            border-bottom: 1px solid #a7a9ac;
            text-align: center;
            background-color: #dee0df;
            height: 40px;
            line-height: 40px;
            text-transform: uppercase;
        }
    }
    .footer {
        margin: 0;
        text-align: center;
        line-height: 50px;
    }
}