.hl-lbtitle-filter {
    position: relative;
    margin-bottom: .2em;
    padding: 10px 0 10px 20px;
    color: #9a9a9a;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}
// .hl-span-filter input{
//     font-family: "Open Sans", sans-serif;   
//     border-radius: 0;
//     background-color: #ffffff;
//     border: 2px solid #e6e6e6;
// }
// .hl-span-filter input[type=checkbox] {
//     position: absolute;
//     left: 0;
//     top: 0;
//     margin: 0;
//     padding: 0;
//     opacity: 0;
//     z-index: 2;
// }
// .hl-span-filter{
//     font-size: 1rem;
//     font: inherit;
//     vertical-align: baseline;
// }