.hl-lbtitle-filter {
    margin-bottom: .2em;
    padding: 0px 0 3px 15px;
    color: #777;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

.hl-div-titlefiler {
    padding: 5px 0px 3px 0px;
}