 ul.tree-view {
     list-style-type: none;
 }
 
//  .list-file-upload {
//      margin-left: 5px;
//  }
 
 .node-name {}
 
//  .tree-view {
//      margin-top: 2px;
//  }
 
//  .add-hlm {
//      padding: 5px;
//      background: -webkit-gradient(linear, left top, left bottom, from(#becbd6), to(#8da5b7));
//      border-radius: 5px;
//      /*margin: 5px;*/
//  }
 
//  .remove-hlm {
//      padding: 5px;
//      background: -webkit-gradient(linear, left top, left bottom, from(#d1d1d1), to(#afafaf));
//      border-radius: 5px;
//      /*margin: 5px;*/
//  }
 
//  .head-ri-folder {
//      margin: 0px 0px 0px 5px;
//  }
 
 .hl-input-filemulti {
     margin-bottom: 15px;
     border-radius: 3px;
     height: 30px;
     border-style: solid;
     border: 1px solid #aeb0af;
     width: 78%;
 }
 
//  .btn-hlm {
//      display: inline-block;
//      color: #666;
//      /* background: -webkit-gradient(linear, left top, left bottom, from(#b7f2f4), to(#81e8eb));*/
//      text-transform: uppercase;
//      letter-spacing: 2px;
//      font-size: 12px;
//      padding: 5px 10px;
//      border-radius: 5px;
//      -moz-border-radius: 5px;
//      -webkit-border-radius: 5px;
//      border: 1px solid rgba(0, 0, 0, 0.3);
//      border-bottom-width: 3px;
//  }
 
//  .btn-upload-list {
//      margin-top: "15px";
//      background-color: #4F87A2;
//      border-color: rgba(0, 0, 0, 0.3);
//      text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
//      color: #FFF;
//  }
 
//  .btn-upload-list:hover {
//      background-color: #4F87A2;
//      border-color: rgba(0, 0, 0, 0.5);
//  }
 
//  .btn-upload-list:active {
//      background-color: #3C677B;
//      border-color: rgba(0, 0, 0, 0.9);
//  }
 
//  //  .active {
//  //      background-color: green;
//  //  }
//  .btn-view {
//      font-size: 10px;
//      padding: 2px 5px;
//  }
 
//  .btn-hlm:hover {
//      background-color: #e3e3e3;
//      border-color: rgba(0, 0, 0, 0.5);
//  }
 
//  .btn-hlm:active {
//      background-color: #CCC;
//      border-color: rgba(0, 0, 0, 0.9);
//  }
//  /* blue button */
 
//  .btn-upload {
//      margin-top: 15px;
//      background: -webkit-gradient(linear, left top, left bottom, from(#cae285), to(#27ae60));
//      /*	background-color: #699DB6;*/
//      border-color: rgba(0, 0, 0, 0.3);
//      text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
//      color: #5d7731;
//  }
 
//  .btn-upload:hover {
//      background-color: #a3cd5a;
//      border-color: rgba(0, 0, 0, 0.5);
//  }
 
//  .btn-upload:active {
//      background-color: #a3cd5a;
//      border-color: rgba(0, 0, 0, 0.9);
//  }
 
//  .btn-view {
//      background-color: #0088cc;
//      border-color: rgba(0, 0, 0, 0.3);
//      text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
//      color: #FFF;
//  }
 
//  .btn-view:hover {
//      background-color: #0088cc;
//      border-color: rgba(0, 0, 0, 0.5);
//  }
 
//  .btn-view:active {
//      background-color: #0088cc;
//      border-color: rgba(0, 0, 0, 0.9);
//  }
 
 .dragover {
     background-color: grey;
 }
 
 .file-upload {
     font-size: 1.25rem;
     background-color: #c8dadf;
     position: relative;
     display: inline-block;
     padding: 100px 20px;
     outline: 2px dashed #92b0b3;
     outline-offset: -10px;
     -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
     transition: outline-offset .15s ease-in-out, background-color .15s linear;
 }
 
//  .info {
//      padding-top: 10px;
//  }
 
 .file-upload__label {
     display: block;
     padding: 1em 2em;
     color: #fff;
     background: #222;
     border-radius: 4em;
     transition: background .3s;
 }
 
 .file-upload__label:hover {
     cursor: pointer;
     background: #000;
 }
 
 .hlm-button {
     opacity: 0.7;
 }
 
 .hlm-input {
     width: 85%;
 }
 
 .btn-close {
     background-color: #AA0000;
     border-color: rgba(0, 0, 0, 0.3);
     text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
     color: #FFF;
     padding: 2px 15px 2px 15px;
     position: fixed;
     right: 20px;
     top: 5px;
 }
 
 .btn-close:hover {
     background-color: #AA0000;
     border-color: rgba(0, 0, 0, 0.5);
 }
 
 .btn-close:active {
     background-color: #AA0000;
     border-color: rgba(0, 0, 0, 0.9);
 }