.done {
    background-color: #f4f4f4 !important;
}

:host {
    display: block;
    border: 1px solid #b0b1b5;
    background-color: #fff;
}

.ft {
    width: 100%;
    position: relative;
    bottom: 0;
    margin: 20px 100px 20px 0px;
}

.button {
    width: 110px;
    height: 30px;
    border-radius: 3px;
    line-height: 30px;
    background-color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    color: #0b8fdb;
    margin: 0px 0px 0px 10px;
    border: 1px solid #0b8fdb;
}

.gd {
    width: 230px;
    height: 30px;
    border-radius: 3px;
    line-height: 30px;
    background-color: #fff;
    color: #0b8fdb;
    border: 1px solid #0b8fdb;
}

.select {
    background-color: #fff;
    padding: 5px 20px 5px 20px;
    overflow: auto;
    height: 150px;
}

.tl {
    height: 30px;
    line-height: 30px;
    padding: 0px 20px;
    cursor: pointer;
    border-top: 1px solid #b0b1b5;
    border-bottom: 1px solid #b0b1b5;
}

.fil {
    width: 100%;
    height: 30px;
    border-radius: 3px;
    line-height: 30px;
    background-color: #0b8fda;
    color: #fff;
    border: 0px solid;
}

.active {
    background-color: #0b8fda;
    color: white;
}

.table-row {
    font-size: 14px;
}

.hl-asidehead-filter {
    text-align: center;
}

.hl-asidehead-filter:hover {
    background-color: #FFFAFA;
}

.hl-dishead-filter {
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    margin: 4px 2px 4px 2px;
    color: #9a9a9a;
    text-transform: uppercase;
}

.hl-dishead-filter:hover {
    color: #333366;
}