.done {
    background-color: #f4f4f4 !important;
}

:host {
    display: block;
    border: 1px solid #b0b1b5;
    background-color: #fff;
}

.ft {
    width: 100%;
    position: relative;
    bottom: 0;
    margin: 20px 100px 20px 0px;
}

.button {
    width: 110px;
    height: 30px;
    border-radius: 3px;
    line-height: 30px;
    background-color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    color: #0b8fdb;
    margin: 5px 0px 5px 10px;
    border: 1px solid #0b8fdb;
}

.gd {
    width: 230px;
    height: 30px;
    border-radius: 3px;
    line-height: 30px;
    background-color: #fff;
    color: #0b8fdb;
    border: 1px solid #0b8fdb;
}

.select {
    background-color: #fff;
    padding: 5px 20px 5px 20px;
    overflow: auto;
    height: 150px;
}

.tl {
    height: 30px;
    line-height: 30px;
    padding: 0px 20px;
    cursor: pointer;
    border-top: 1px solid #b0b1b5;
    border-bottom: 1px solid #b0b1b5;
}

.fil {
    width: 100%;
    height: 30px;
    border-radius: 3px;
    line-height: 30px;
    background-color: #0b8fda;
    color: #fff;
    border: 0px solid;
}

.active {
    background-color: #0b8fda;
    color: white;
}

.table-row {
    font-size: 14px;
}

.hl-asidehead-filter {
    text-align: left;
}

.hl-asidehead-filter:hover {
    background-color: #FFFAFA;
}

.hl-dishead-filter {
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    margin: 4px 2px 4px 2px;
    color: #9a9a9a;
    text-transform: uppercase;
}

.hl-dishead-filter:hover {
    color: #333366;
}

.hl-table-mn-ck {
    margin: 1em 0;
    width: 100%;
    overflow: hidden;
    background: #FFF;
    color: #024457;
    border-radius: 5px;
    border: 1px solid #167F92;
}

.hl-table-mn-cke tr {
    border: 1px solid #D9E4E6;
}

.hl-table-mn-ck tr:nth-child(odd) {
    background-color: #EAF3F3;
}

.hl-table-mn-ck th {
    display: none;
    border: 1px solid #FFF;
    background-color: #167F92;
    color: #FFF;
    padding: 1em;
}

.hl-table-mn-ck th:first-child {
    display: table-cell;
    text-align: center;
}

.hl-table-mn-ck th:nth-child(2) {
    display: table-cell;
}

.hl-table-mn-ck td {
    display: block;
    word-wrap: break-word;
    max-width: 7em;
}

.hl-table-mn-ck td:first-child {
    display: table-cell;
    text-align: left;
    border-right: 1px solid #D9E4E6;
}

.hl-table-mn-ck td {
    border: 1px solid #D9E4E6;
    text-align: center;
}

.hl-table-mn-ck th,
.hl-table-mn-ck td {
    margin: .5em 1em;
}

.hl-table-mn-ck th,
.hl-table-mn-ck td {
    display: table-cell;
    padding: 1em;
}

.hl-table-mn-ck a {
    text-decoration: none;
    font-weight: 600;
    color: #024457;
}

.hl-table-mn-ck a:hover {
    color: #006699;
}

#modal_monitor_detailTicket {
    font-size: 14px;
    .header {
        text-align: center;
        padding: 10px;
        margin-top: 0px;
        color: #ffffff;
        background-color: #0b8fda;
    }
    .twoColumn {
        display: inline-block;
        width: 48%;
        margin-bottom: 20px;
    }
    .notServeYet {
        margin-bottom: 112px;
    }
    table {
        margin: auto;
        th {
            text-align: left;
        }
    }
}

#focusComponent {
    font-size: 14px;
    .chartHeader {
        text-align: center;
        background-color: #0b8fda;
        color: #fff;
        margin: 0 50px;
        border-radius: 10px;
    }
    .tableHeader {
        text-align: center;
        background-color: #0b8fda;
        padding: 10px;
        color: #fff;
        margin: 0px;
    }
    .header {
        background-color: #0b8fda;
        color: #ffffff;
        padding: 0px 20px;
        .btn_back {
            padding-top: 10px;
            float: right;
            cursor: pointer;
        }
    }
    .overview {
        span {
            font-weight: 600;
            margin: 0px 10px;
        }
    }
    .padding_monitor {
        padding: 10px;
    }
    .waiting {
        background-color: #FFFFFF;
    }
    .missed {
        // background-color: #0b8fda;
        color: #156a9a;
    }
    .serving {
        background-color: #ffffff;
        color: #000000;
    }
    .serveDone {
        // background-color: #0b8fda;
        color: #156a9a;
    }
    .cancelled {
        // background-color: #ff5858;
        color: #ff5858;
    }
}

#summaryComponent {
    .chartHeader {
        text-align: center;
    }
    .warning {
        background-color: #ff5858;
        color: #fff;
        font-weight: 600;
    }
}