.flatpickr-input {
    margin-bottom: 20px;
    border-radius: 3px;
    height: 30px;
    padding-left: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #aeb0af;
}
.active {
    background-color: #0b8fda;
    color: white;
}
///////////////////////
// .tl {
//     height: 40px;
//     line-height: 40px;
//     padding: 0px 20px;
//     cursor: pointer;
//     border-top: 1px solid #b0b1b5;
//     border-bottom: 1px solid #b0b1b5;
// }

// .rd {
//     width: 50%;
//     float: left;
// }

// .select {
//     background-color: #fff;
//     padding: 5px 20px 5px 20px;
//     overflow: auto;
//     height: 150px;
// }

