.main-view {
    flex: 1 1 800px;
}

.hl-select-chart {
    float: right;
    width: 150px;
    height: 30px;
    border-radius: 3px;
    margin: 0px 20px 15px 0px;
}

.hl-chart {
    width: 100%;
    height: 300px;
}

.hl-chart>[pie-chart] {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.hl-column-sum {
    width: 33%;
    float: left;
}

.hl-gd-sum {
    height: 10px;
    text-align: right;
    float: left;
    border-radius: 15px;
    background: -webkit-linear-gradient(left, #03c2df, #008eef);
    -webkit-background-clip: box;
}

.hl-max-sum {
    width: 100%;
    height: 10px;
    background-color: #dee0e0;
    border-radius: 15px;
}

.hl-tg-sum {
    height: 10px;
    text-align: right;
    float: left;
    border-radius: 15px;
    background: -webkit-linear-gradient(left, #2cc3ba, #139289);
    -webkit-background-clip: box;
}

.hl-ph-sum {
    height: 10px;
    text-align: right;
    border-radius: 15px;
    background: -webkit-linear-gradient(left, #f69d41, #f05e11);
    -webkit-background-clip: box;
}

.hl-tl-sum {
    font-size: 14px;
    font-weight: 600;
}

.hl-ct-sum {
    font-size: 11px;
    margin-top: 10px;
    margin-bottom: 2px;
}

.hl-ctt-sum {
    font-size: 11px;
    margin-top: 5px;
}

.hl-giaodich {
    color: #008eef;
    float: right;
}

.thoigian {
    color: #139289;
    float: right;
}

.phanhoi {
    color: #f05e11;
    float: right;
}

.hl-label-tab {
    margin: 0px 25px;
    cursor: pointer;
    padding: 5px 0px;
}

.actives {
    color: #0b8fdb;
    border-bottom: 3px solid #0b8fdb;
}

.hl-total-tab {
    border-bottom: 1px solid #b0b1b5;
    background-color: #dee0e0;
    height: 50px;
    line-height: 50px;
}

.hl-time-period {
    padding-bottom: 20px;
}

.hl-stime-period {
    width: 45%;
    float: left;
}

.hl-today-period {
    width: 45%;
    float: left;
    padding-left: 5px;
}

date-picker {}

.filter {
    width: 100%;
    height: 30px;
    border-radius: 3px;
    line-height: 30px;
    background-color: #0b8fda;
    color: #fff;
    border: 0px solid;
}

.flatpickr-input {
    margin-bottom: 20px;
    border-radius: 3px;
    height: 30px;
    padding-left: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #aeb0af;
}

.tl {
    height: 40px;
    line-height: 40px;
    padding: 0px 20px;
    cursor: pointer;
    border-top: 1px solid #b0b1b5;
    border-bottom: 1px solid #b0b1b5;
}

.rd {
    width: 50%;
    float: left;
}

.select {
    background-color: #fff;
    padding: 5px 20px 5px 20px;
    overflow: auto;
    height: 150px;
}

.selects {
    background-color: #fff;
    padding: 5px 20px 5px 20px;
    overflow: auto;
    height: 100px;
}

.hidden {
    display: none;
}

.search-table {
    /*table-layout: fixed;*/
    margin: 0px auto 0px auto;
}

.search-table-outter {
    /*overflow-x: scroll;*/
    border: 1px solid gray;
    width: 100%;
    max-width: 100%;
}

.hl-stt-history {
    /*width: 30px;*/
    min-width: 50px;
}

.hl-btn-history {
    margin-right: 2px;
    border: 1px solid #3db1f5;
    background-color: #fff;
    color: #3db1f5;
    border-radius: 2px;
    height: 30px;
}

.hl-btn-history.active {
    background-color: #3db1f5;
    border: 1px solid #a8a8aa;
    color: white;
}

.hl-btn-history.first {
    background-color: #fff;
    border: 1px solid #a8a8aa;
    color: #a8a8aa;
    cursor: not-allowed;
}

.hl-btn-history.last {
    background-color: #fff;
    border: 1px solid #a8a8aa;
    color: #a8a8aa;
    cursor: not-allowed;
}

.hl-footer-history {
    display: flex;
    margin-top: 15px;
}

.hl-info-history {
    flex: 1 1 60px;
    text-align: left;
}

.hl-pagination-history {
    display: flex;
    flex: 1 1 200px;
    text-align: right;
    width: 75%;
}

.hl-pagination-history>button {
    flex: 0 1 20px;
}

.report-scrollbar {
    overflow: scroll;
    width: 100%;
    max-width: 100%;
}

.td-date-rp {
    min-width: 105px;
}

.td-string-rp {
    min-width: 200px;
}

.td-counter-rp {
    min-width: 80px;
}

.td-number-rp {
    min-width: 80px;
}

.hl-detail-history {
    text-align: center;
    color: red;
    font-size: 18px;
    font-weight: 700;
}

.hl-exportf-history {
    float: right;
    margin-top: 20px;
}

.hl-ft-report {
    width: 100%;
    position: relative;
    bottom: 0;
    float: left;
    background-color: lightsteelblue;
    margin: 0px 0px 0px 0px;
    text-align: center;
}

.hl-bt-report {
    width: 200px;
    height: 30px;
    border-radius: 3px;
    line-height: 30px;
    background-color: #fff;
    color: #0b8fdb;
    border: 1px solid #0b8fdb;
    padding: 3px;
    text-decoration: none;
}

.active {
    background-color: #0b8fda;
    color: white;
}

.hl-hfl-report {
    cursor: pointer;
    margin: 0px 2px 0px 2px;
    color: gray;
}

.hl-date-report {
    padding: 0px 0px 0px 5px;
}

.hl-numrp-align {
    float: left;
    width: 35%;
    text-align: right;
    font-weight: 600;
}

.hl-text-cen {
    width: 65%;
    float: left;
    text-align: left;
}

.hl-title-branch {
    background-color: #f4f4f4;
    padding: 5px;
    border: 1px solid #a6aaad;
}