.tl {
    text-align: center;
    background-color: #dee0df;
    height: 50px;
    font-size: 18px;
    line-height: 50px;
    margin: -25px;
}

.close {
    background-color: #fff;
    color: #0d8fdd;
    height: 30px;
    line-height: 30px;
    border-width: 1px;
    border-style: solid;
}

.move {
    background-color: #0b8fda;
    color: #fff;
    height: 30px;
    line-height: 30px;
    border-width: 1px;
    border-style: solid;
}

.recall {
    background-color: #0b8fda;
    color: #fff;
    height: 30px;
    line-height: 30px;
    border-width: 1px;
    border-style: solid;
}

.nomiss {
    width: 29%;
    margin-left: 10px;
}

.miss {
    width: 20%;
    margin-left: 4px;
}

.big {
    width: 25%;
    margin-left: 4px;
}

.delete {
    background-color: #dee0df;
    color: #fff;
    height: 30px;
    line-height: 30px;
    border-width: 1px;
    border-style: solid;
}

.info {
    margin-bottom: 5px;
}

button {
    cursor: pointer;
    padding: 0px 10px;
}

.dichvu {
    background-color: #fff;
    padding: 5px 20px 5px 20px;
    overflow: auto;
    height: 100px;
}