#tableEl{
    .hl-numrp-align {
        float: left;
        width: 35%;
        text-align: right;
        font-weight: 600;
    }
    .hl-text-cen {
        width: 65%;
        float: left;
        text-align: left;
    }
}