<button (click)="Next()" [ngClass]="{'hidden': auto | async}">
    KẾ TIẾP
</button>
<button (click)="NoNext()" class="danger" [ngClass]="{'hidden': !(auto | async)}">
    TỰ  ĐỘNG GỌI
</button>
<button (click)="Recall()"> 
    GỌI LẠI
</button>
<button [ticket-detail]="getTicket()"> 
    CHUYỂN
</button>
<button (click)="Miss()">
    ĐẶT NHỠ
</button>
<button (click)="Finish()" class="danger">
    KẾT THÚC
</button>

<modal #fb>
    <div style="text-align: center;color: red;font-size:18px;font-weight:700;"> Khách hàng chưa phản hồi</div>
    <p style="text-align: center;font-size:13px;">Vui lòng nhắc khách hàng phản hồi để kết thúc giao dịch.</p>
    <button class="button" (click)="fb.Close()" style="float:right; height:25px;"> Đóng </button>
</modal>