<div style="padding:10px 10px;">
    <div [style.display]="display | async">
        <div class="service"> TÊN DỊCH VỤ</div>
        <div class="padding">
        </div>
        <div class="more">
            <div class="so">
                <div class="title"> Số đang phục vụ </div>
                <div class="item">

                </div>
            </div>

            <div class="tg">
                <div class="title">Thời gian phục vụ</div>
                <div class="item">

                </div>
            </div>
        </div>
    </div>
</div>