<div class="service"> {{ticket.service_id | ticketServiceName}}</div>
<div class="padding">
</div>
<div class="more">
    <div class="so">
        <div class="title"> Số đang phục vụ </div>
        <div class="item">
            <img src="assets/img/counter/number.png" alt="Number Ticket">&nbsp;
            <span class="number">{{ticket.cnum}}</span>
        </div>
    </div>

    <div class="tg">
        <div class="title">Thời gian phục vụ</div>
        <div class="item">
            <img src="assets/img/counter/time.png" alt="Time">
            <ticket-timer class="number" [start]="ticket.mtime"></ticket-timer>
        </div>
    </div>
</div>