<div style="padding:10px 10px;">
    <div class="service uppercase"> {{ticket.service_id | serviceName}}</div>
    <div class="padding">
    </div>
    <div class="more" [ticket-highlight]="ticket">
        <div class="so">
            <div class="title" translate> NUMBER_SERVING </div>
            <div class="item">
                <img src="../asset/img/icon/person.png" alt="Number Ticket">&nbsp;
                <span class="number">{{ticket.cnum}}</span>
            </div>
        </div>

        <div class="tg">
            <div class="title" translate>TIME_SERVING</div>
            <div class="item">
                <img src="../asset/img/icon/time.png" alt="Time">
                <ticket-timer class="number" [start]="ticket.mtime"></ticket-timer>
            </div>
        </div>
    </div>
</div>