<div id="topNav">
    <ul class="firstLv">
        <li class="li_firstLv" *ngIf="isAdmin$ | async">
            <div class="paddingFirst" routerLink="/admin/house/counter" queryParamsHandling="preserve" [class.current-menu-item]="isActive('/admin')">
                <i class="fa fa-home"> </i>
                <span i18n>Admin</span>
            </div>
            <ul class="secondLv">
                <!-- <li routerLink="/admin/org/branch/2/list" queryParamsHandling="preserve">
                    <span i18n class="paddingSecond">Area</span>
                </li>
                <li routerLink="/admin/org/branch/1/list" queryParamsHandling="preserve">
                    <span i18n class="paddingSecond">Branch</span>
                </li>
                <li routerLink="/admin/org/branch/0/list" queryParamsHandling="preserve">
                    <span i18n class="paddingSecond">Store</span>
                </li>
                <li routerLink="/admin/center/tform" queryParamsHandling="preserve">
                    <span i18n class="paddingSecond">Ticket Number Format</span>
                </li>
                <li routerLink="/admin/center/service" queryParamsHandling="preserve">
                    <span i18n class="paddingSecond">Service</span>
                </li>
                <li routerLink="/admin/meta/branch_config" queryParamsHandling="preserve">
                    <span i18n class="paddingSecond">Branch Config</span>
                </li>
                <li routerLink="/admin/house/sflow" queryParamsHandling="preserve">
                    <span i18n class="paddingSecond">Service Flow</span>
                </li> -->
                <li routerLink="/admin/house/counter" queryParamsHandling="preserve">
                    <span i18n class="paddingSecond">Counter</span>
                </li>
                <li routerLink="/admin/org/user">
                    <span i18n class="paddingSecond">User</span>
                </li>
            </ul>
        </li>
        <li class="li_firstLv">
            <div class="paddingFirst" routerLink="/report/history" queryParamsHandling="preserve" [class.current-menu-item]="isActive('/report')">
                <i class="fa fa-line-chart"> </i>
                <span i18n>Report & Analysis</span>
            </div>
            <!-- <ul class="secondLv">
                <li routerLink="/report/dashboard" queryParamsHandling="preserve">
                    <span i18n class="paddingSecond">General</span>
                </li>
                <li routerLink="/report/history" queryParamsHandling="preserve">
                    <span i18n class="paddingSecond">History</span>
                </li>
                <li routerLink="/report/customer" queryParamsHandling="preserve">
                    <span i18n class="paddingSecond">Customer</span>
                </li>
                <li routerLink="/report/kiosk" queryParamsHandling="preserve">
                    <span i18n class="paddingSecond">Kiosk Effectiveness</span>
                </li>
                <li routerLink="/report/counter" queryParamsHandling="preserve">
                    <span i18n class="paddingSecond">Counter Activity</span>
                </li>
                <li routerLink="/report/store" queryParamsHandling="preserve">
                    <span i18n class="paddingSecond">Store Performance</span>
                </li>
            </ul> -->
        </li>
        <!-- <li class="li_firstLv">
            <div class="paddingFirst" routerLink="/monitor" queryParamsHandling="preserve" [class.current-menu-item]="isActive('/monitor')">
                <i class="fa fa-bell"> </i>
                <span i18n>Monitor</span>
            </div>
        </li> -->
        <li class="li_firstLv" *ngIf="isAdmin$ | async">
            <div class="paddingFirst" routerLink="/admin/house/kiosk" queryParamsHandling="preserve" [class.current-menu-item]="isActive('/admin/house/kiosk')">
                <i class="fa fa-ticket"> </i>
                <span i18n>Kiosk</span>
            </div>
            <!-- <ul class="secondLv">
                <li routerLink="/admin/center/ticketlayout" queryParamsHandling="preserve">
                    <span i18n class="paddingSecond">Ticket Layout</span>
                </li>
                <li routerLink="/admin/center/layout" queryParamsHandling="preserve">
                    <span i18n class="paddingSecond">Kiosk Layout</span>
                </li>
            </ul> -->
        </li>
        <li class="li_firstLv" *ngIf="isAdmin$ | async">
            <div class="paddingFirst" routerLink="/admin/house/screen" queryParamsHandling="preserve" [class.current-menu-item]="isActive('/admin/house/screen')">
                <i class="fa fa-desktop"> </i>
                <span i18n>Screen</span>
            </div>
            <!-- <ul class="secondLv">
                <li routerLink="/admin/center/voice" queryParamsHandling="preserve">
                    <span i18n class="paddingSecond">Voice Configuration</span>
                </li>
            </ul> -->
        </li>
        <!-- <li class="li_firstLv" *ngIf="isAdmin$ | async">
            <div class="paddingFirst" routerLink="/admin/house/test" queryParamsHandling="preserve" [class.current-menu-item]="isActive('/admin/house/test')">
                <i class="fa fa-commenting"> </i>
                <span i18n>Feedback</span>
            </div>
        </li> -->
    </ul>
</div>