<div id="loginID">
    <img src="./assets/img/login/miraway-logo.svg" alt="Miraway" class="hl-logo-login">
    <div class="hl-bodys-login">
        <div class="hl-title-login" i18n>System Login</div>
        <form [formGroup]="loginForm" (submit)="login()">
            <div class="margin-30 center">
                <div class="hl-message-login"> {{message}} </div>
                <div class="margin-0-30">
                    <div class="hl-divinp-login">
                        <input class="ctrlInput-login" id="__login_username" type="text" formControlName="username" i18n-placeholder="Username">
                    </div>
                    <div>
                        <input class="ctrlInput-login" id="__login_password" type="password" formControlName="password" i18n-placeholder="Password">
                    </div>
                    <div class="hl-divbtn-login">
                        <button class="hl-btnLogin pointer" id="__login_button" type="submit" i18n>Login</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="hl-ft-login">
        <footer></footer>
    </div>
</div>