<div class="hl-divlogin">
    <img src="./assets/img/login/miraway-logo.png" alt="Miraway" class="hl-logo-login">
    <div class="hl-bodys-login">
        <div class="hl-title-login" i18n>System Login</div>
        <form [formGroup]="loginForm" (submit)="login()">
            <div class="hl-form-login">
                <div class="hl-message-login"> {{message}} </div>
                <div class="hl-info-login">
                    <div class="hl-divinp-login">
                        <input class="ctrlInput-login" type="text" formControlName="username" i18n-placeholder="Username">
                    </div>
                    <div>
                        <input class="ctrlInput-login" type="password" formControlName="password" i18n-placeholder="Password">
                    </div>
                    <div class="hl-divbtn-login">
                        <button class="hl-btnLogin btpointer" type="submit" i18n>Login</button>
                    </div>
                </div>
                <!--<a href="#" class="mk">Bạn quên mật khẩu ? Yêu cầu Admin cấp lại mật khẩu</a>-->
            </div>
        </form>
    </div>
    <div class="hl-ft-login">
        <footer></footer>
    </div>
</div>