<style>
    .bar {
        height: 10px;
        text-align: right;
        border-radius: 15px;
        background: linear-gradient(to right, #008eef, #03c2df);
    }
    
    .max {
        width: 100%;
        height: 10px;
        background-color: #dee0e0;
        border-radius: 15px;
    }
    
    .service {
        font-size: 11px;
        margin: 10px 0px 5px;
    }
</style>

<div *ngFor="let d of _data" style="margin: 0px 10px;">
    <p class="service">{{d.service_id | serviceName}}</p>
    <div class="max">
        <div class="bar" [style.width]="''+d.count/max*100+'%'">
            <p style="color: #fff;font-size: 10px; padding-right: 5px;">{{d.count}}</p>
        </div>
    </div>
</div>