<style>
    input[type=text] {
        box-sizing: border-box;
        border: 2px solid #ccc;
        margin: 10px 15px;
        width: 90%;
        border-radius: 4px;
        font-size: 16px;
        background-color: white;
        background-image: url('../asset/img/icon/search.png');
        background-position: 10px 10px;
        background-repeat: no-repeat;
        padding: 12px 20px 12px 40px;
        transition: width 0.4s ease-in-out;
    }
    
    .message {
        color: brown;
    }
    
    .search-result {
        height: 200px;
    }
    
    p {
        padding: 2px 10px;
        margin: 0px;
    }
</style>

<input type="text" #tm placeholder="{{'SEARCH_TICKET' | translate}}" (keyup.enter)="searchTicket(tm.value)">
<div class="message"><span translate> {{message}}</span>&nbsp;{{number}} </div>

<div class="search-result" *ngIf="ticket">

    <p><span translate> TIME_CREATE_TICKET</span>&nbsp; {{ticket.ctime | localDayTime}}</p>
    <p [class.hidden]="!serving">
        <span translate> TIME_CALL_TICKET</span>
        <span style="text-align: right;">{{ticket.mtime | localDayTime}}</span>
    </p>
    <p><span translate>STATUS_NOW</span>&nbsp; {{ticket | ticketState}} </p>
    <div>
        <p translate>HISTORY</p>
        <div class="table">
            <div class="table-row header">
                <div translate>TIME</div>
                <div translate>STATUS</div>
                <div translate>SERVICE</div>
            </div>
            <div style="height:100px;overflow: auto;">
                <div class="table-row" *ngFor="let t of ticket.tracks">
                    <div> {{t.mtime | localDayTime}} </div>
                    <div> {{t | ticketState}} </div>
                    <div title="t | ticketServiceName"> {{t | ticketServiceName}} </div>
                </div>
            </div>
        </div>
    </div>
</div>