#container-setup{
    .hl-select-one-setup {
        width: 30%;
        margin-top: 10px;
        margin-bottom: 10px;
        height: 25px;
        border-radius: 3px;
    }
    .hl-select-setup {
        width: 30%;
        height: 90px;
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: 3px;
        padding-left: 5px;
        border-style: solid;
        border-width: 1px;
        border-color: #aeb0af;
        background-color: #fff;
    }
}