<span>Select Language:</span><br>
<form class="hl-form" [formGroup]="form">
    <span>Language Default:</span><br>
    <select formControlName="default">
      <option *ngFor="let d of languages" [value]="d.code">{{d.name}}</option>
    </select><br>
    <span>Language Support:</span><br>
    <div fxLayout="row" fxLayoutGap="20px" class="rowCtrl">
        <select-check class="border" fxFlex formControlName="support" [data]="languages" textField="name" idField="code" style="background-color: #fff"></select-check>
    </div>

    <!--<select formControlName="support">
        <option *ngFor="let d of languages" [value]="d.code">{{d.name}}</option>
     </select>-->
    <button class="btnFill btnCtrl" (click)="Submit()">Submit</button>
</form>