//
// Variables
// ----------------------
$border-color: #b0b1b5;
$background-color: #f4f4f4;
$gray-lighter: #eee;
$space: 40px;
$blue: #428bca;
$blue-dark: darken($blue, 5%);
.wrap {
    padding: $space;
    text-align: center;
}

//
// Modal
// ----------------------
.modal {
    // This is modal bg
    &:before {
        content: "";
        display: block;
        background: rgba(0, 0, 0, .6);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
    }
    display: flex;
    justify-content: center;
}

// Modal Dialog
// ----------------------
.modal-dialog {
    width: 350px;
    border: $border-color solid 1px;
    border-radius: 3px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    transition: transform 0.3s ease-out;
}

.modal-body {
    // padding: 0;
    overflow: auto;
    max-height: 85vh;
    // border-radius: 3px;
    background-color: #fff;
}

.modal-header,
.modal-footer {
    padding: $space/4 $space/2;
    background-color: #dee0e0;
    font-weight: 600;
    text-align: center;
}