.cem-box {
    border: 1px solid #b0b1b5;
    margin: 20px 0px 0px 0px;
    background-color: #fff;
}
#report{
    $primary-color: #0b8fdb;

    
    font-size: 12px;
    background-color: #f4f4f4;
    .footer{
        margin: 50px 0;
    }
    .leftFilter{
        padding-top: 50px;
        border-right: solid;
        border-width: 1px;
        border-color: #c1c1c1;
    }
    .mainContent{
        padding: 0 50px;
        .header{
            display: inline-block;
            font-size: 25px;
        }
        .nav{
            float: right;
            margin: 25px 0px;
        }
        .ctrlInput{
            border-radius: 3px;
            border: 1px solid #c1c1c1;
        }
        .paginNExport{
            margin: 20px 0px 30px 0px;
            .pagin{
                display: inline-block;
                button{
                    margin-right: 3px;
                    border: none;
                    background-color: transparent;
                    color: $primary-color;
                }
                .active{
                    font-weight: bold;
                }
            }
            .export{
                display: inline-block;
                float: right;
                width: 250px;
                i{
                    margin: 0 10px;
                }
            }
        }
    }
}