@import '../../../styles/design/variables';
#report{
    .paginNExport{
        line-height: 30px;
        margin: 30px;
        .pagin{
            display: inline-block;
            button{
                margin-right: 3px;
                border: none;
                background-color: transparent;
                color: $key-color;
            }
            .active{
                font-weight: $font-weight-default + 200;
            }
        }
        .export{
            display: inline-block;
            float: right;
            width: 250px;
            i{
                margin: 0 10px;
            }
        }
    }
}