<div id="countersMap" fxLayout="column" fxLayoutGap="30px" class="padding-50">

    <div class="countersRow" *ngFor="let counterRow of countersMap$ | async" fxFlex fxLayout="row" fxLayoutGap="30px">

        <div *ngFor="let cell of counterRow" fxFlex>
            <div [id]="cell.counterName" *ngIf="cell.counter" class="counterCell border" 
                [ngClass]="{'serving': cell.serving, 'warning': cell.serveLong}" fxLayout="column" (click)="selectCounter(cell)">
                <h2 fxFlex="60" i18n class="center">{{cell.counter.name}}</h2>
                <div fxFlex>
                    <h3 class="center margin-t-0">{{cell.serving?.cnum}}&nbsp;</h3>
                </div>
            </div>
        </div>

    </div>

</div>