@import '../../shared/style.scss';
#countersMap{
    height: 100%;
    padding: 2vw;
    .counterCell{
        border-radius: 3px;
        font-weight: $font-weight-default;
        cursor: pointer;
        outline: none;
        background-color: $background-color-title;
    }
    .serving{
        background-color: $key-color;
        color: #fff;
    }
    .empty{
        background-color: #fff;
        color: $text-color;
    }
    .init{
        background-color: $background-color-title;
        color: $text-color;
    }

    .warning{
        background-color: #f53e30;
    }
    
    .activated{
        border: 3px dashed $key-color - 50;
    }
}