<div id="monitorChart" class="hl-chart">
    <div style="width:33%; height:22vw; float:left;" *ngFor="let g of config.groups$ | async">
        <p *ngIf="data" class="chartHeader">{{g.title}}</p>
        <div style="width:100%; height:22vw;" pie-chart [data]="data" [items]="g.activeItems"></div>
    </div>

    <div class="legend margin-t-20">
        <div *ngFor="let item of itemGroup">
            <div *ngFor="let t of item">
                <div style="float:left;" class="margin-7-20">
                    <div style="float:left; margin: 0 10px; width: 15px; height: 15px;" [style.background-color]="t._hidden? '':t.color "></div>
                    <span style="font-size: 12px;"> {{t.title}}</span>
                </div>
            </div>
        </div>
    </div>
</div>

<chart-item-group-view #config>
    <chart-item-group title="Ticket Detail">
        <chart-item field="finished" color="#fcff4d" title="Finished Transaction"></chart-item>
        <chart-item field="cancelled" color="#8dbb00" title="Cancelled transaction"></chart-item>
        <chart-item field="waiting" color="#4df7ff" title="Waiting transaction"></chart-item>
        <chart-item field="missed" color="#584dff" title="Missed transaction"></chart-item>
        <chart-item field="serving" color="#ff4dfa" title="Serving transaction"></chart-item>
    </chart-item-group>
    <chart-item-group title="Exceeded waiting time transaction">
        <chart-item field="wait_standard" color="#ff4d4d" title="Standard waiting time transaction"></chart-item>
        <chart-item field="wait_long" color="#3eca83" title="Exceeded waiting time transaction"></chart-item>
    </chart-item-group>
    <chart-item-group title="Exceeded serving time transaction">
        <chart-item field="s_standard" color="#ff974d" title="Standard serving time transaction"></chart-item>
        <chart-item field="s_l" color="#a44adc" title="Exceeded serving time transaction"></chart-item>
    </chart-item-group>
</chart-item-group-view>