<div id="monitorChart">
    <div style="width:33%; height:22vw; float:left;" *ngFor="let g of config.groups$ | async">
        <h3 class="chartHeader">{{g.title}}</h3>
        <div style="width:100%; height:22vw;" pie-chart [data]="data" [items]="g.activeItems"></div>
    </div>

    <div class="legend margin-t-20" fxLayout="row">
        <div *ngFor="let item of config.groups$ | async" fxFlex>
            <div *ngFor="let t of item.items" class="item">
                <div style="display: inline-block; margin: 0 10px; width: 15px; height: 15px;" [style.background-color]="t._hidden? '':t.color "></div>
                <span style="font-size: 11px;"> {{t.title}}</span>
            </div>
        </div>
    </div>
</div>

<chart-item-group-view #config>
    <chart-item-group i18n-title title="Ticket Detail">
        <chart-item field="finished" color="#109619" i18n-title title="Finished Transaction"></chart-item>
        <chart-item field="cancelled" color="#ff9a00" i18n-title title="Cancelled Transaction"></chart-item>
        <chart-item field="waiting" color="#3266cc" i18n-title title="Waiting Transaction"></chart-item>
        <chart-item field="serving" color="#dc3812" i18n-title title="Serving Transaction"></chart-item>
    </chart-item-group>
    <chart-item-group i18n-title title="Exceeded Waiting Time Transaction">
        <chart-item field="wait_standard" color="#ffd092" i18n-title title="Standard Waiting Time Transaction"></chart-item>
        <chart-item field="wait_long" color="#ff9803" i18n-title title="Exceeded Waiting Time Transaction"></chart-item>
    </chart-item-group>
    <chart-item-group i18n-title title="Exceeded Serving Time Transaction">
        <chart-item field="serve_standard" color="#feb6ff" i18n-title title="Standard Serving Time Transaction"></chart-item>
        <chart-item field="serve_long" color="#990099" i18n-title title="Exceeded Serving Time Transaction"></chart-item>
    </chart-item-group>
</chart-item-group-view>