#monitorChart{
    height: 33vw;
    .chartHeader{
        text-align: center;
    }
    .legend{
        position: relative;
        top: 30px;
        clear: both;
        .item{
            margin-left: 23%;
        }
    }
}