<div class="hl-chart">
    <div style="width:33%; height:300px; float:left;" *ngFor="let item of itemGroup">
        <h3 *ngIf="data" class="chartHeader">{{item[0].header}}</h3>
        <div style="width:100%; height:300px;" pie-chart [data]="data" [items]="item"></div>
    </div>
</div>

<!--<div class="legend " style="margin:10px 20px; ">
    <div *ngFor="let item of itemGroup ">
        <div *ngFor="let t of item" style="float:left; margin-right:10px; ">
            <div style="float:left;">
                <div style="float:left; margin-right:3px;" [style.background-color]="t._hidden? '':t.color ">
                    <input type="checkbox" [ngModel]="!t._hidden " (ngModelChange)="TogglePie(t)">
                </div>
                <span style="font-size: 12px;"> {{t.title}}</span>
            </div>
        </div>
    </div>
</div>-->
<div class="divider"></div>