<div id="superCounter" fxLayout="column" class="unselectable">
    <app-env-module i18n-title title="- Counter "></app-env-module>
    <app-header fxFlex="30px" fxShow.xs="false"></app-header>
    <swiper fxFlex [config]="config" [(index)]="index">
        <div fxLayout="column" fxLayoutGap="2vw" class="counterMapNDetail">
            <app-counter-detail fxFlex="30"></app-counter-detail>
            <app-counters-map fxFlex></app-counters-map>
        </div>
        <app-queue></app-queue>
    </swiper>

    <span fxFlex="5" class="center">Copyright by Miraway &copy; 2007-2016 | www.miraway.vn</span>
</div>