#filter{
    height: 78vh;
    border-right: solid;
    border-width: 1px;
    border-color: #c1c1c1;
    .content{
        overflow: auto;
    }
    .action{
        text-align: center;
        button{
            margin: 15px 0px;
        }
    }
}