#filter{
    height: 78vh;
    .content{
        overflow: auto;
        .inputCtrl{
            margin: 10px 20px;
        }
    }
    .action{
        text-align: center;
        button{
            margin: 15px 0px;
        }
    }
}