<app-env-sub-module i18n-title title="Survey Setting"></app-env-sub-module>
<div *ngIf="!isEmailConfig" id="surveySetting">
	<div class="headerAndNav">
		<h2 class="header uppercase" i18n>Survey Setting</h2>
	</div>

	<mat-tab-group class="border surveyConfigTabs" (selectedTabChange)="onTabChange($event)">
		<mat-tab>
			<ng-template mat-tab-label>
				<span class="uppercase" i18n>UI Config</span>
			</ng-template>
			<app-feedback-uiconfig *ngIf="selectedTab === 0"></app-feedback-uiconfig>
		</mat-tab>
		<mat-tab>
			<ng-template mat-tab-label>
				<span class="uppercase" i18n>Point Config</span>
			</ng-template>
			<app-point-config *ngIf="selectedTab === 1"></app-point-config>
		</mat-tab>
		<mat-tab>
			<ng-template mat-tab-label>
				<span class="uppercase" i18n>Email Config</span>
			</ng-template>
			<app-email-config *ngIf="selectedTab === 2"></app-email-config>
		</mat-tab>
		<mat-tab>
			<ng-template mat-tab-label>
				<span class="uppercase" i18n>Lucky Number</span>
			</ng-template>
			<app-lucky-number *ngIf="selectedTab === 3"></app-lucky-number>
		</mat-tab>
	</mat-tab-group>
</div>