<h1> {{message | translate}}</h1>
<table class="hl-table-mn-ck">
    <thead>
        <th> Chi nhánh</th>
        <th> SL. vé đã in</th>
        <th> SL. vé đợi </th>
        <th> SL. vé đang phục vụ </th>
        <th> SL. vé đã phục vụ </th>
        <th> SL. vé nhỡ </th>
        <th> SL. vé hủy </th>
    </thead>
    <tbody>
        <tr *ngFor="let s of summary$ | async">
            <td class="pointer">
                <a href="javascript:void(0);" (click)="focus(s.branch_id)">
                    <span>  {{s.branch_id | branchName}} </span>&nbsp;<i class="fa fa-chevron-circle-down" _ngcontent-syn-12=""></i>
                </a>
            </td>
            <td> {{printed(s)}}</td>
            <td translate> {{s.waiting}}</td>
            <td translate> {{s.serving}}</td>
            <td translate> {{s.finished}}</td>
            <td translate> {{s.missed}}</td>
            <td translate> {{s.cancelled}}</td>
        </tr>
    </tbody>
</table>