<div style="border: 1px solid #b0b1b5; background-color: #fff;">
    <monitor-tab [tabs]="tabs" #tab (select)="setActive($event)"></monitor-tab>
    <div>
        <table>
            <thead>
                <th> STT </th>
                <th translate>AREA</th>
                <th translate> BRANCH</th>
                <th translate> TRANSACTION_ROOM </th>
                <th *ngIf="tag!='branch'" translate> {{tab.active?.titleTable}} </th>
                <th translate> Thời điểm mất kết nối </th>
            </thead>
            <tbody class=".hl-table-row-missed">
                <tr *ngFor="let item of rxData | async; let i = index">
                    <td> {{i+1}} </td>
                    <td> {{item.branches[2]}} </td>
                    <td> {{item.branches[1]}} </td>
                    <td> {{item.branches[0]}} </td>
                    <td *ngIf="tag!='branch'"> {{item.name}} </td>
                    <td> {{item.off_at | ctimeDate}} </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>