<app-header>
    <div class="module-name" translate> LABEL_SETTING </div>
</app-header>
<br>

<div style="height:100vh;">
    <div>
        <div class="tab">
            <label routerLink="/time" routerLinkActive="active">Thời Gian</label>
            <label routerLink="/file" routerLinkActive="active">File</label>
        </div>
        <router-outlet></router-outlet>

        <div class="ft">
            <p style="font-size: 12px;">Copyright by Miraway &copy; 2007-2016 | www.miraway.vn</p>
        </div>
    </div>
</div>