<div class="modal" [class.hidden]="hidden$ | async">
    <div class="dialog">
        <div style="text-align: center;color: red;font-size:18px;font-weight:700;" translate> LANGAUGE_TITLE_FEDDBACK</div>
        <p style="text-align: center;font-size:13px;" translate>LANGAUGE_CONTENT_FEDDBACK</p>

        <span translate> LANGAUGE_USERNAME_MANAGER</span>
        <input class="hl-input" type="text" [(ngModel)]="username" placeholder="Tên quản lý" autocomplete="off"><br><span translate> LANGAUGE_PASSWORD</span>
        <input class="hl-input" type="password" [(ngModel)]="pass" placeholder="Mật khẩu" autocomplete="off"><br>
        <div style="float:right;">
            <button class="hl-button" (click)="Submit()" style="width:50px;height:25px;margin-right: 15px;" translate> LANGAUGE_BUTTON_SEND </button>
            <button class="hl-button" (click)="Cancel()" style="height:25px;" translate> LANGAUGE_BUTTON_CANCEL </button>
        </div>
    </div>
</div>