<div class="modal" *ngIf="isModal">
    <div class="dialog" style="padding: 25px 25px 0px 25px;width: 300px; position:absolute;">
        <div class="hl-tl-ticket" i18n>Ticket detail</div>
        <div style="margin-top: 50px;">
            <div class="hl-info-ticket"><span i18n>Ticket Number</span> <span style="font-size:18px;">{{ticket.cnum}}</span></div>
            <div class="hl-info-ticket hidden" i18n> Priority:{{ticket.priority}}</div>
            <div class="hl-info-ticket"><span i18n>Time create ticket</span> {{ticket.ctime | localDayTime}}</div>
            <hr>

            <div *ngIf="isServing" style="margin-bottom:10px;">
                <div><span i18n>Start Serving</span> {{ticket.mtime | localDayTime}}</div>
                <br> <span i18n>Transfer Service</span>
                <div class="hl-dichvu-ticket">
                    <select-check [(ngModel)]="checkedServices" [data]="services | async" textField="name">
                    </select-check>
                </div>
            </div>

            <div *ngIf="isMissed" style="margin-bottom:10px;">
                <span i18n>Missing Time</span> {{ticket.mtime | localDayTime}}
            </div>
            <span i18n>Transfer Counter</span>
            <div class="hl-dichvu-ticket">
                <select-check [(ngModel)]="checkedCounters" [data]="counters | async" textField="name">
                </select-check>
            </div>

            <div style="margin: 30px 0px 20px 0px;" *ngIf="isMissed">
                <button class="hl-close-ticket hl-miss-ticket button-ticket" (click)="Close()" i18n>Close</button>

                <button class="hl-move-ticket hl-big-ticket button-ticket" (click)="Move()" i18n>Move</button>

                <button class="hl-recall-ticket hl-big-ticket button-ticket" (click)="Recall()" i18n>Recall</button>

                <button class="hl-delete-ticket hl-miss-ticket button-ticket" (click)="OpenRemove()" i18n>Delete</button>
            </div>
            <div style="margin: 30px 0px 20px 0px;" *ngIf="!isMissed">
                <button class="hl-close-ticket hl-nomiss-ticket button-ticket" (click)="Close()" i18n>Close</button>

                <button class="hl-move-ticket hl-nomiss-ticket button-ticket" (click)="Move()" i18n>Move</button>

                <button class="hl-delete-ticket hl-nomiss-ticket button-ticket" (click)="OpenRemove()" i18n>Delete</button>
            </div>
        </div>
    </div>

    <div class="modal" *ngIf="isRemove">
        <div class="dialog">
            <div style="text-align: center;margin-bottom: 25px;font-size: 25px;">
                <span i18n>Do you want to delete?</span>
            </div>
            <div style="float: right;margin-right: 40px">
                <button class="hl-yes-editor btpointer" (click)="Delete()">  <span i18n>Yes</span></button>
                <button class="hl-no-editor btpointer" (click)="CloseRmove()"> <span i18n>No</span></button>
            </div>
        </div>
    </div>

    <div class="modal" *ngIf="isAlert">
        <div class="dialog">
            <div style="text-align: center;color: red;font-size:18px;font-weight:700;" i18n>{{title}}</div>
            <p style="text-align: center;font-size:13px;" i18n>{{message}}</p>
            <button class="hl-close-ticket button-ticket" (click)="CloseAlert()" style="float:right; height:25px;" i18n>Yes</button>
        </div>
    </div>
</div>