<div class="modal" *ngIf="ticket && !(isRemove || isAlert)">
    <div id="ticketDetail" class="modal-dialog">
        <div class="modal-header" i18n>Ticket detail</div>
        <div class="modal-body padding-10-20">
            <div fxLayout="row" class="margin-t-10">
                <label fxFlex i18n>Ticket number:</label>
                <span fxFlex>{{ticket.cnum}}</span>
            </div>
            <div fxLayout="row" class="margin-t-10">
                <label fxFlex i18n>Priority:</label>
                <span fxFlex>{{ticket.priority}}</span>
            </div>
            <div fxLayout="row" class="margin-t-10">
                <label fxFlex i18n>Time of ticket printed:</label>
                <span fxFlex>{{ticket.ctime | localDayTime}}</span>
            </div>
            <div class="divider margin-10-0"></div>

            <div *ngIf="isServing">
                <div fxLayout="row" class="margin-10-0">
                    <label fxFlex i18n>Start serving:</label>
                    <span fxFlex>{{ticket.mtime | localDayTime}}</span>
                </div>
                <label class="margin-t-10" i18n>Transfer service:</label>
                <select-check class="margin-t-10" [(ngModel)]="checkedServices" 
                    [data]="services | async" textField="name"></select-check>
            </div>

            <div *ngIf="isMissed">
                <div fxLayout="row" class="margin-t-10">
                    <label fxFlex i18n>Missing time:</label>
                    <span fxFlex>{{ticket.mtime | localDayTime}}</span>
                </div>
            </div>
            <label class="margin-t-10" i18n>Transfer Counter</label>
            <select-check class="margin-t-10" [(ngModel)]="checkedCounters" 
                    [data]="counters | async" textField="name"></select-check>

            <div *ngIf="isMissed" fxLayout="row" fxLayoutGap="20px" class="margin-20-0">
                <button fxFlex class="btnFill" (click)="Close()" i18n>Close</button>

                <button fxFlex class="btnFill btnGreen" (click)="Move()" i18n>Move</button>

                <button fxFlex class="btnFill" (click)="Recall()" i18n>Recall</button>

                <button fxFlex class="btnFill btnRed" (click)="OpenRemove()" i18n>Delete</button>
            </div>
            <div *ngIf="!isMissed" fxLayout="row" fxLayoutGap="20px" class="margin-20-0">
                <button fxFlex class="btnFill" (click)="Close()" i18n>Close</button>

                <button fxFlex class="btnFill btnGreen" (click)="Move()" i18n>Move</button>

                <button fxFlex class="btnFill btnRed" (click)="OpenRemove()" i18n>Delete</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" *ngIf="isRemove || isAlert">
    <div class="modal-dialog">
        <div class="modal-header" i18n>Alert</div>
        <div *ngIf="isRemove" class="modal-body padding-10-20">
            <span class="center margin-t-10" i18n>Do you want to delete?</span>
            <div fxLayout="row" fxLayoutGap="20px" class="margin-t-10">
                <button fxFlex class="btnFill btnRed" (click)="Delete()" i18n>Yes</button>
                <button fxFlex class="btnFill" (click)="CloseRmove()" i18n>No</button>
            </div>
        </div>
        <div *ngIf="isAlert" class="modal-body padding-10-20">
            <h3 class="center margin-t-10" i18n>{{title}}</h3>
            <p class="center margin-t-10" i18n>{{message}}</p>
            <div fxLayout="row" fxLayoutGap="20px" class="margin-t-10">
                <div fxFlex></div>
                <button fxFlex class="btnFill" (click)="CloseAlert()" i18n>Yes</button>
            </div>
        </div>
    </div>
</div>