<div class="container-setup">
    <span class="title-setup">Set Time For Ticket:</span>
    <form [formGroup]="form" class="form-setup">
        <div>
            <div>
                <span class="uppercase inline font-bold-setup" i18n>Waiting Time Transaction</span>
                <span class="note margin-l-5" i18n>(minute)</span>
            </div>
            <input class="hl-input-setup" type="number" min="0" formControlName="max_waiting" i18n-placeholder placeholder="Code">
        </div>
        <div>
            <div>
                <span class="uppercase inline font-bold-setup" i18n>Serving Time Transaction</span>
                <span class="note margin-l-5" i18n>(minute)</span>
            </div>

            <input class="hl-input-setup" type="number" min="0" formControlName="max_serving" i18n-placeholder placeholder="Code">
        </div>
        <div>
            <div>
                <span class="uppercase inline font-bold-setup" i18n>Auto Finish Time</span>
                <span class="note margin-l-5" i18n>(minute)</span>
            </div>

            <input class="hl-input-setup" type="number" min="0" formControlName="auto_finish" i18n-placeholder placeholder="Code">
        </div>
        <button class="btnFill submit-setup" (click)="Submit()">Submit</button>
    </form>
</div>