<div>
    <div>
        <div class="tl" (click)="active='tinhthanh'">Chọn Tỉnh/Thành<i class="fa fa-caret-down" aria-hidden="true" style="float: right;cursor: pointer;"></i></div>
        <div class="select" [ngClass]="{'hidden': active!='tinhthanh'}">
            <multi-branch-selector level="2"></multi-branch-selector>
        </div>
    </div>
    <div>
        <div class="tl" (click)="active='chinhanh'">Chọn chi nhánh<i class="fa fa-caret-down" aria-hidden="true" style="float: right;cursor: pointer;"></i></div>
        <div class="select" [ngClass]="{'hidden': active!='chinhanh'}">
            <multi-branch-selector level="1"></multi-branch-selector>
        </div>
    </div>
    <div>
        <div class="tl" (click)="active='giaodich'">Chọn phòng giao dịch<i class="fa fa-caret-down" aria-hidden="true" style="float: right;cursor: pointer;"></i></div>
        <div class="select" [ngClass]="{'hidden': active!='giaodich'}">
            <multi-branch-selector level="0"></multi-branch-selector>
        </div>
    </div>
    <div style=" padding: 20px 20px;">
        <button class="filter btpointer" type="submit">XEM BÁO CÁO</button>
    </div>
</div>