<app-env-sub-module i18n-title title="Service">

</app-env-sub-module>
<div class="animated fadeInLeft" *ngIf="showList$ | async">
    <app-datatable i18n-name name="Service" [data]="data$ | async" (action)="onActionRequest($event)">
        <app-table-field name="name" i18n-title title="Name"></app-table-field>
        <app-table-field name="code" i18n-title title="Code"></app-table-field>
    </app-datatable>
</div>

<app-editor-view class="animated fadeInLeft" *ngIf="form$ | async; let form" [isValid]="form.valid" [isNew]="isNew$ | async" (action)="onActionConfirm($event, form.value)">
    <form [formGroup]="form" fxLayout="column">
        <div fxLayout="row" fxLayoutGap="20px" class="rowCtrl">
            <span fxFlex="20%" i18n>Code</span>
            <div fxFlex fxLayout="row" fxLayoutGap="5px">
                <span fxFlex="1%" class="valid-color" *ngIf="form.get('tform_vip').hasError('required')">*</span>
                <span fxFlex="1%" class="error" *ngIf="!form.get('tform_vip').hasError('required')">&nbsp;</span>
                <input fxFlex class="hl-input" formControlName="code" i18n-placeholder placeholder="Code">
            </div>
            <span fxFlex="20%" i18n="Mức ưu tiên dịch vụ">Priority</span>
            <div fxFlex fxLayout="row" fxLayoutGap="5px">
                <span fxFlex="1%" class="valid-color" *ngIf="form.get('priority').hasError('required')">*</span>
                <span fxFlex="1%" class="error" *ngIf="!form.get('priority').hasError('required')">&nbsp;</span>
                <input fxFlex class="hl-input" type="number" formControlName="priority" i18n-placeholder placeholder="Priority">
            </div>
        </div>

        <l10n-form formControlName="l10n"></l10n-form>

        <div fxLayout="row" fxLayoutGap="20px" class="rowCtrl">
            <span fxFlex="20%" i18n="Định dạng số vé">Ticket Number Format</span>
            <div fxFlex fxLayout="row" fxLayoutGap="5px">
                <span fxFlex="1%" class="valid-color" *ngIf="form.get('tform_normal').hasError('required')">*</span>
                <span fxFlex="1%" class="error" *ngIf="!form.get('tform_normal').hasError('required')">&nbsp;</span>
                <select fxFlex class="hl-select" formControlName="tform_normal">
                    <option *ngFor="let t of tforms | async" [value]="t.id">{{t.code}}</option>
                </select>
            </div>


            <span fxFlex="20%" i18n="Định dạng số vé vip">VIP Ticket Number Format</span>
            <div fxFlex fxLayout="row" fxLayoutGap="5px">
                <span fxFlex="1%" class="valid-color" *ngIf="form.get('tform_vip').hasError('required')">*</span>
                <span fxFlex="1%" class="error" *ngIf="!form.get('tform_vip').hasError('required')">&nbsp;</span>
                <select fxFlex class="hl-select" formControlName="tform_vip">
                    <option *ngFor="let t of tformVips | async" [value]="t.id">{{t.code}}</option>
                </select>
            </div>
        </div>
         <!--<div fxLayout="row" fxLayoutGap="20px" class="rowCtrl">
            <span>Calling required for Vip</span>
            <input type="checkbox" formControlName="call_for_vip">
        </div>-->
       
    </form>
</app-editor-view>