<app-env-sub-module i18n-title title="Service"></app-env-sub-module>
<editor #edit i18n-name name="Service" [makeForm]="makeForm" [service]="service">
    <form class="hl-form" *ngIf="edit.form" [formGroup]="edit.form">
        <span i18n>Code</span>:
        <input class="hl-input" formControlName="code" i18n-placeholder placeholder="Code"><br>
        <span i18n="Mức ưu tiên dịch vụ">Priority</span>:
        <input class="hl-input" type="number" formControlName="priority" i18n-placeholder placeholder="Priority">
        <l10n-form formControlName="l10n"></l10n-form>
        <span i18n="Định dạng số vé">Ticket number format</span>:
        <select class="hl-select" formControlName="tform_normal">
            <option *ngFor="let t of tforms | async" [value]="t.id">{{t.code}}</option>
        </select>

        <br> <span i18n="Định dạng số vé vip">VIP Ticket number format</span>:
        <select class="hl-select" formControlName="tform_vip">
            <option *ngFor="let t of tformVips | async" [value]="t.id">{{t.code}}</option>
        </select>
    </form>
    <editor-field name="name" i18n-title title="Name"></editor-field>
</editor>