<button class="button hl-btn-setting" (click)="add()" translate>LANGAUGE_BUTTON_ADD</button>
<table width="100%" class="hl-tabletime-setting">
    <thead>
        <td class="col-header"><span translate> LANGAUGE_NUMERICAL_ORDER </span></td>
        <td class="col-header"> <span translate>LANGAUGE_DATA_TYPE</span> </td>
        <td class="col-header"><span translate>LANGAUGE_TIME </span></td>
        <td></td>
    </thead>
    <tr *ngFor="let s of settings | async; let i = index">
        <td class="col-center">{{i+1}}</td>
        <td class="col-center">{{s.key}}</td>
        <td class="col-center">{{s.value}}</td>
        <td class="col-center">
            <img src="./assets/img/icon/edit.png" alt="Edit" class="hl-imgtime-setting" (click)="edit(s)">
        </td>
    </tr>
</table>
<div class="hl-showtime-setting" *ngIf="show">
    <select [(ngModel)]="key" (change)="onChange()">
            <option disabled selected value translate>LANGAUGE_SELECT </option>
            <option value="TIME_WAIT" translate>LANGAUGE_TIME_WAIT_STANDARD</option>
            <option value="TIME_SERVING" translate>LANGAUGE_TIME_SERVING_STANDARD</option>
            <option value="TIME_FINISH" translate>LANGAUGE_TIME_AUTO_FINISH_TRANS</option>
            <option value="TIME_AUTO_CALL" translate>LANGAUGE_TIME_AUTO_CALL</option>
        </select>
    <input class="hl-input-setting" type="number" [(ngModel)]="value" min="0"><br>
    <button class="button hl-btn-setting" *ngIf="!setting" (click)="Create()" translate>LANGAUGE_BUTTON_SENT</button>
    <button class="button hl-btn-setting" *ngIf="setting" (click)="Update()" translate>LANGAUGE_BUTTON_SAVE</button>
</div>