@import '../../../../../../shared/style.scss';
#clockForm {
    .colorPicker {
        width: 25px;
        height: 25px;
        border-radius: 3px;
        border: $border;
        margin-right: 0px !important;
    }
}