<div class="modal" [class.hidden]="hidden$ | async">
    <div class="dialog">
        <div style="text-align: center;color: red;font-size:18px;font-weight:700;" i18n>Customer No Feedback</div>
        <p style="text-align: center;font-size:13px;" i18n>Please remind customer feedback to finish transaction or management contact to finish transaction</p>

        <span i18n>Username Manager</span>
        <input class="ctrlInput" type="text" [(ngModel)]="username" i18n-placeholder="Username management" autocomplete="off"><br><span i18n>Password</span>
        <input class="ctrlInput" type="password" [(ngModel)]="pass" i18n-placeholder="Password" autocomplete="off"><br>
        <div style="float:right;">
            <button class="hl-button" (click)="Submit()" style="width:50px;height:25px;margin-right: 15px;" i18n>Send</button>
            <button class="hl-button" (click)="Cancel()" style="height:25px;" i18n>Cancel</button>
        </div>
    </div>
</div>