@import '../shared/style.scss';
#counter,
app-counter {
    display: block;
    width: 100%;
    height: 100%;
    background-color: $background-color;
}

.componentHeader {
    border-bottom: $border;
    text-align: center;
    background-color: $background-color-title;
    height: 15%;
    max-height: 32px;
    // min-height: 30px;
    text-transform: uppercase;
    span {
        position: relative;
        top: 30%;
    }
}