<div id="actions" fxLayout="row" fxLayoutGap="2vw">
    <button class="uppercase btnFill" fxFlex (click)="Next()" [ngClass]="{'hidden': auto | async}" i18n>
        Next
    </button>
    <button class="uppercase btnFill btnRed" fxFlex (click)="NoNext()" [ngClass]="{'hidden': !(auto | async)}" i18n>
        Auto text
    </button>
    <button class="uppercase btnFill" fxFlex (click)="Recall()" i18n> 
        Recall
    </button>
    <button class="uppercase btnFill" fxFlex (click)="Move()" i18n> 
        Move
    </button>
    <button class="uppercase btnFill btnRed" fxFlex (click)="Miss()" i18n>
        Miss
    </button>
    <button class="uppercase btnFill btnGreen" fxFlex (throttle)="Finish()" throttle i18n>
        Finish
    </button>
</div>
<ticket-detail-dialog #dialog [class.hidden]="!moveDialog"></ticket-detail-dialog>
<feedback-skip></feedback-skip>