#actions {
    height: 10%;
    padding: 1.5% 0;
    .btnRed {
        background-color: #f53e30;
        border: 1px solid #f53e30;
    }
    .btnGreen {
        background-color: #01947a;
        border: 1px solid #01947a;
    }
}