#actions{
    margin: 20px 0;
    .btnFill{
        padding: 10px;
    }
    .btnRed{
        background-color: #f53e30;
        border: 1px solid #f53e30;
    }
    .btnGreen{
        background-color: #01947a;
        border: 1px solid #01947a;
    }
}