<div style="padding:10px 10px;">
    <div *ngIf="!(busy$ | async)">
        <div class="hl-service-sving" translate> LANGAUGE_SERVICE_NAME</div>
        <div class="padding">
        </div>
        <div class="more">
            <div class="hl-number-sving">
                <div class="title" translate> LANGAUGE_NUMBER_SERVING </div>
                <div class="item">

                </div>
            </div>

            <div class="hl-time-sving">
                <div class="title" translate>LANGAUGE_TIME_SERVING</div>
                <div class="item">

                </div>
            </div>
        </div>
    </div>
</div>