<div class="componentBorder emptyAndServing">
    <div class="componentHeader">{{ticket.service_id | serviceName}}</div>
    
    <div fxLayout="row">
        <div fxFlex="50%" class="leftBox">
            <div translate> LANGAUGE_NUMBER_SERVING </div>
            <div class="content">
                <img class="icon" src="./assets/img/icon/person.png" alt="Number Ticket">
                <span class="number">{{ticket.cnum}}</span>
            </div>
        </div>

        <div fxFlex="50%" class="rightBox">
            <div translate>LANGAUGE_TIME_SERVING</div>
            <div class="content">
                <img class="icon" src="./assets/img/icon/time.png" alt="Time">
                <timer class="number" [start]="ticket.mtime" [timeWarning]="1" ></timer>
            </div>
        </div>
    </div>
</div>