<div id="cusInfo" fxLayout="row" fxLayoutAlign="space-between center">
    <div fxFlex="35%">
        <label i18n>Customer Name</label>
        <span *ngIf="customer | async; let c" class="cusName uppercase">{{c.full_name}}</span>
    </div>
    <div fxFlex="28%">
        <label i18n>Customer ID</label>
        <span *ngIf="customer | async; let c" class="uppercase">{{c.code}}</span>
    </div>
    <div fxFlex>
        <label i18n>Number phone</label>
        <span *ngIf="customer | async; let c" class="uppercase">{{c.phone_number}}</span>
    </div>
    <div fxFlex="16%">
        <label i18n>Segment</label>
        <span *ngIf="customer | async; let c" class="uppercase">{{c.segment}}</span>
    </div>
</div>