@import 'variables';

/***************** Global *********************/

// Buttons
.btnClear {
    padding: 5px 10px;
    border: $border;
    border-color: $key-color;
    border-radius: 3px;
    width: 190px;
    background-color: transparent;
    color: $key-color;
    font-weight: $font-weight-default;
    cursor: pointer;
    outline: none;
}

.btnFill {
    @extend .btnClear;
    background-color: $key-color;
    color: #fff;
}

.btnRed {
    @extend .btnFill;
    background-color: #f53e30;
    border: 1px solid #f53e30;
}

.btnGreen {
    @extend .btnFill;
    background-color: #01947a;
    border: 1px solid #01947a;
}

.btnGrey {
    @extend .btnClear;
    background-color: #dee0df;
    border: 1px solid #dee0df;
}

// End of buttons
// Accodion
.accordionTitle {
    padding: 0 5px;
    cursor: pointer;
    text-transform: uppercase;
}

// End of accordion
// Some UI Elements
.divider {
    width: 100%;
    height: 1px;
    background-color: $border-color;
}

.border {
    border-radius: 3px;
    border: $border;
    background-color: #fff;
}

.leftFilter {
    padding-top: 50px;
    border-right: $border;
    .filter {
        height: 78vh;
        .content {
            overflow: auto;
            .inputCtrl {
                margin: 10px 20px;
            }
        }
        .action {
            text-align: center;
            button {
                margin: 15px 0px;
            }
        }
    }
}

.mainContent {
    padding: 0 35px;
    .header {
        display: inline-block;
        font-size: $font-size-default * 2;
        font-weight: $font-weight-default;
    }
    .nav {
        float: right;
        margin: 20px 0px;
        .btnMargin {
            margin-left: 12px;
        }
    }
    .tableCtrl {
        margin-top: 20px;
        border: $border;
        border-spacing: 0;
        border-radius: 3px;
        width: 100%;
        thead {
            text-align: left;
            th {
                padding: 10px;
                background-color: $background-color-title;
            }
        }
        tbody {
            text-align: left;
            td {
                padding: 10px;
            }
            .iconDetail {
                width: 13px;
            }
        }
    }
    .main_miraway {
        min-height: 85%;
        position: relative;
        padding-bottom: 50px;
    }
    .mainContent_miraway {
        height: 100%;
        position: relative;
    }
}

// overide material 2 - tab
.mat-tab-header {
    background-color: $background-color-title;
    color: $text-color;
    border-bottom: $border;
    .mat-tab-label-active {
        // border-color: $key-color;
        color: $key-color;
        font-weight: $font-weight-default + 400;
    }
    .mat-ink-bar {
        background-color: $key-color;
    }
}

// .spinner{
//     width: 100%;
//     height: 100%;
//     position: absolute;
//     top: 0px;
//     left: 0px;
//     z-index: 999;
//     background-color: rgba(0, 0, 0, 0.6);
.mat-spinner {
    position: absolute;
    top: 45%;
    left: 45%;
    z-index: 9999;
}

.hl-input-setup {
    margin-bottom: 15px;
    border-radius: 3px;
    height: 25px;
    padding-left: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #aeb0af;
    width: 30%;
    margin-top: 10px;
}

.hl-input-seting {
    margin-bottom: 15px;
    border-radius: 3px;
    height: 25px;
    padding-left: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #aeb0af;
    width: 20%;
    margin-top: 10px;
}

.title-setup {
    font-size: 30px;
    margin-left: 20px;
}

.form-setup {
    margin-left: 20px;
    margin-top: 10px;
}

.font-bold-setup {
    font-weight: 600;
    font-size: 12px;
}

.hl-select-one-setup {
    width: 30%;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 25px;
    border-radius: 3px;
}

.hl-select-setup {
    width: 30%;
    height: 90px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    padding-left: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #aeb0af;
    background-color: #fff;
}

.hl-select-one-seting {
    width: 20%;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 25px;
    border-radius: 3px;
}

.submit-setup {
    margin-top: 10px;
    width: 30%;
}

.container-setup {
    margin-top: 20px;
}

.button-setting {
    margin-left: 20px;
    height: 30px;
    width: 20%;
    border-radius: 3px;
    padding-left: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #aeb0af;
}

.margin-left-setting {
    margin-left: 20px;
}

// }
//End of UI elements

/******************** End of global ***********************/