@import 'variables';

/***************** Global *********************/

// Buttons
.btnClear {
    padding: 5px 10px;
    border: $border;
    border-color: $key-color;
    border-radius: 3px;
    width: 190px;
    background-color: transparent;
    color: $key-color;
    font-weight: $font-weight-default;
    cursor: pointer;
    outline: none;
    text-transform: uppercase;
}

.btnFill {
    @extend .btnClear;
    background-color: $key-color;
    color: #fff;
}

.btnRed {
    @extend .btnFill;
    background-color: #f53e30;
    border: 1px solid #f53e30;
}

.btnGreen {
    @extend .btnFill;
    background-color: #01947a;
    border: 1px solid #01947a;
}

.btnGrey {
    @extend .btnClear;
    background-color: #dee0df;
    border: 1px solid #dee0df;
}

// End of buttons
// Accodion
.accordionTitle {
    padding: 0 5px;
    cursor: pointer;
    text-transform: uppercase;
}

// End of accordion
// Some UI Elements
.valid-color {
    color: red;
}

.divider {
    width: 100%;
    height: 1px;
    background-color: $border-color;
}

.border {
    border-radius: 3px;
    border: $border;
    background-color: #fff;
}

.ctrlInput {
    margin-bottom: 15px;
    height: 25px;
    text-indent: 5px;
    border: $border;
    border-radius: 3px;
    width: 100%;
}

table tbody tr:nth-child(even) {
    background: #f1f9fc;
    border-top: 1px solid #f4f4f4;
}

table tbody tr:nth-child(odd) {
    background: #ffffff;
}

.hl-select {
    width: 100%;
    height: 25px;
    margin-bottom: 10px;
    border-radius: 3px;
}

.leftFilter {
    padding-top: 50px;
    border-right: $border;
    .filter {
        height: 78vh;
        position: fixed;
        width: 249px;
        .content {
            overflow: auto; // .inputCtrl {
            //     margin: 10px 20px;
            // }
        }
        .action {
            text-align: center;
            button {
                margin: 15px 0px;
            }
        }
    }
}

.mainContent {
    padding: 0 35px;
    .header {
        display: inline-block;
        font-size: $font-size-default * 2;
        font-weight: $font-weight-default;
    }
    .nav {
        float: right;
        margin: 20px 0px;
        .btnMargin {
            margin-left: 12px;
        }
    }
    .tableCtrl {
        margin-top: 20px;
        border: $border;
        border-spacing: 0;
        border-radius: 3px;
        width: 100%;
        thead {
            text-align: left;
            th {
                padding: 10px;
                background-color: $background-color-title;
            }
        }
        tbody {
            text-align: left;
            td {
                padding: 10px;
            }
        }
    }
    .iconDetail {
        width: 13px;
    }
    .main_miraway {
        min-height: 85vh;
        @media screen and (max-width: 1300px) {
            min-height: 80vh;
        }
    }
}

//End of UI elements
// style for setup - setting
.form-setup {
    margin-left: 20px;
    margin-top: 10px;
}

.container-setup {
    margin-top: 20px;
    .ctrlInput-setup {
        margin-bottom: 15px;
        border-radius: 3px;
        height: 25px;
        padding-left: 5px;
        border-style: solid;
        border-width: 1px;
        border-color: #aeb0af;
        width: 30%;
        margin-top: 10px;
    }
    .font-bold-setup {
        font-weight: 600;
        font-size: 12px;
    }
    .title-setup {
        font-size: 30px;
        margin-left: 20px;
    }
}

//end of style for setup - setting
.ag-fresh {
    .ag-root {
        border: none !important;
        font-size: $font-size-default;
        .ag-header {
            background: $background-color-title;
            .ag-header-cell-label {
                font-weight: $font-weight-default + 200;
            }
        }
        .ag-floating-bottom{
            .ag-row{
                background-color: $key-color;
                font-weight: $font-weight-default + 200;
                color: #fff;
            }
        }
    }
}


/******************** End of global ***********************/