@import 'variables';

/***************** Global *********************/


// Buttons
.btnClear{
    padding: 5px 10px;
    border: $border;
    border-color: $key-color;
    border-radius: 3px;
    width: 190px;
    background-color: transparent;
    color: $key-color;
    font-weight: $font-weight-default;
    cursor: pointer;
    outline: none;
}
.btnFill{
    @extend .btnClear;
    background-color: $key-color;
    color: #fff;
}
// End of buttons
// Accodion
.accordionTitle{
    padding: 0 5px;
    cursor: pointer;
    text-transform: uppercase;
}
// End of accordion
// Some UI Elements
.divider{
    width: 100%;
    height: 1px;
    background-color: $border-color;
}
.leftFilter{
    padding-top: 50px;
    border-right: $border;
    .filter{
        height: 78vh;
        .content{
            overflow: auto;
            .inputCtrl{
                margin: 10px 20px;
            }
        }
        .action{
            text-align: center;
            button{
                margin: 15px 0px;
            }
        }
    }
}
.mainContent{
    padding: 0 35px;
    .header{
        display: inline-block;
        font-size: $font-size-default * 2;
        font-weight: $font-weight-default;
    }
    .nav{
        float: right;
        margin: 20px 0px;
        .btnMargin{
            margin-left: 12px;
        }
    }
    .border{
        border-radius: 3px;
        border: $border;
        background-color: #fff;
    }
    .tableCtrl{
        margin-top: 20px;
        border: 1px solid $border-color;
        border-spacing: 0;
        border-radius: 3px;
        width: 100%;
        thead{
            text-align: left;
            th{
                padding: 10px;
                background-color: $background-color-title;
            }
        }
        tbody{
            text-align: left;
            td{
                padding: 10px;
            }
            .iconDetail{
                width: 13px;
            }
        }
    }
}
//End of UI elements
// Modal
.modal-header{
    font-size: $font-size-default + 2;
    font-weight: $font-weight-default + 200;
    text-align: center;
    padding: 10px;
    background-color: $background-color-title;
    margin: 0px;
    text-transform: uppercase;
}
// End of modal
/******************** End of global ***********************/