@import 'variables';
// Modal
.modal-header {
    font-size: $font-size-default + 2;
    font-weight: $font-weight-default + 200;
    text-align: center;
    padding: 10px;
    background-color: $background-color-title;
    margin: 0px;
    text-transform: uppercase;
}

.modal-content{
    padding: 0 20px;
}

// #generic-form {
//     .title {
//         text-align: center;
//     }
//     .edittext {
//         margin-top: 10px;
//     }
//     .ok-cancel {
//         float: right;
//         width: 30%;
//     }
//     .body-generic-form {
//         margin-left: 5px;
//     }
//     .body-resource-editor {
//         text-align: center;
//     }
//     .content-margin-right {
//         margin-right: 10px
//     }
//     .margin-top-edittext {
//         margin-top: 5px;
//     }
//     .modal-header-title {
//         font-size: $font-size-default;
//         padding: 1px;
//         background-color: #f2efef;
//         margin: 0px;
//         text-transform: uppercase;
//     }
//     .button-margin {
//         margin-left: 2px;
//     }
//     .select-form {
//         height: 27px;
//         width: 94%;
//         border-style: solid;
//         border-width: 1px;
//         border-color: #aeb0af;
//         border-radius: 3px;
//         margin-right: 20px;
//     }
    
//     .format-textarea {
//         margin-top: 20px;
//         margin-left: 20px;
//         margin-right: 20px;
//         height: 80px;
//         width: 86%;
//         border-style: solid;
//         border-width: 1px;
//         border-color: #aeb0af;
//         border-radius: 3px;
//     }
// }
.report_history_modal {
    .detailTicket {
        width: 100%;
        border-spacing: 0px;
        .labelCtrl {
            padding-left: 20px;
            width: 50%;
        }
        td {
            padding: 5px 0;
        }
    }
    .customer {
        border-top: 1px solid #d6d6d6;
        .cusDetail {
            padding: 5px 20px;
        }
    }
    .ctrlBtn {
        margin: 20px;
    }
}


// End of modal