<app-env-sub-module i18n-title [title]="level$ | async | branchLevelName"></app-env-sub-module>
<div class="animated fadeInLeft" *ngIf="showList$ | async">
    <app-datatable [name]="level$ | async | branchLevelName" [data]="data$ | async" (action)="onActionRequest($event)">
        <app-table-field name="name" i18n-title title="Name"></app-table-field>
        <app-table-field name="code" i18n-title title="Code"></app-table-field>
        <app-table-field name="parent_name" i18n-title title="Parent Location"></app-table-field>
    </app-datatable>
</div>

<app-editor-view class="animated fadeInLeft" *ngIf="form$ | async; let form" [isValid]="form.valid" [title]="level$ | async | branchLevelName" [isNew]="isNew$ | async" (action)="onActionConfirm($event, form.value)">
    <form [formGroup]="form" fxLayout="column">
        <div fxLayout="row" fxLayoutGap="20px" class="rowCtrl">
            <span fxFlex="20%" i18n>Name</span>
            <div fxFlex fxLayout="row" fxLayoutGap="5px">
                <span fxFlex="1%" class="valid-color" *ngIf="form.get('name').hasError('required')">*</span>
                <span fxFlex="1%" class="error" *ngIf="!form.get('name').hasError('required')">&nbsp;</span>
                <div fxFlex fxLayout="column" fxLayoutGap="2px">
                    <input fxFlex="100%" class="hl-input" type="text" formControlName="name" i18n-placeholder placeholder="Name" style="width: 100%;">
                    <div fxFlex class="valid-color" *ngIf="form.get('code').hasError('pattern')">Atleast 4 characters</div><br>
                    <div fxFlex class="valid-color" *ngIf="!form.get('code').hasError('pattern')">&nbsp;</div><br>
                </div>
            </div>
        </div>
        <div fxLayout="row" fxLayoutGap="20px" class="rowCtrl">
            <span fxFlex="20%" i18n>Code</span>
            <div fxFlex fxLayout="row" fxLayoutGap="5px">
                <span fxFlex="1%" class="valid-color" *ngIf="form.get('code').hasError('required')">*</span>
                <span fxFlex="1%" class="error" *ngIf="!form.get('code').hasError('required')">&nbsp;</span>
                <div fxFlex fxLayout="column" fxLayoutGap="2px">
                    <input fxFlex="100%" class="hl-input" type="text" formControlName="code" i18n-placeholder placeholder="Code">
                    <div fxFlex class="valid-color" *ngIf="form.get('code').hasError('pattern')">From 4 to 20 characters; Include number, character and _</div>
                    <div fxFlex class="valid-color" *ngIf="!form.get('code').hasError('pattern')">&nbsp;</div>
                </div>
            </div>
        </div>
        <div fxLayout="row" fxLayoutGap="20px" class="rowCtrl">
            <span fxFlex="20%">{{parentLevel$ | async | branchLevelName}}</span>
            <div fxFlex fxLayout="row" fxLayoutGap="5px">
                <span fxFlex="1%">&nbsp;</span>
                <select fxFlex class="hl-select" formControlName="parent">
                    <option *ngFor="let br of parents$ | async" [value]="br.id">{{br.name}}</option>
                </select>
            </div>
        </div>
    </form>
</app-editor-view>