<app-env-sub-module i18n-title [title]="level$ | async | branchLevelName"></app-env-sub-module>
<div *ngIf="showList$ | async">
    <app-datatable [name]="level$ | async | branchLevelName" [data]="data$ | async" (action)="onActionRequest($event)">
        <app-table-field name="name" i18n-title title="Name"></app-table-field>
        <app-table-field name="code" i18n-title title="Code"></app-table-field>
        <app-table-field name="parent_name" i18n-title title="Parent Location"></app-table-field>
    </app-datatable>
</div>

<app-editor-view *ngIf="form$ | async; let form" [isNew]="isNew$ | async" (action)="onActionConfirm($event, form.value)">
    <form class="hl-form" [formGroup]="form">
        <span i18n>Name</span>:
        <input class="hl-input" type="text" formControlName="name" i18n-placeholder placeholder="Name"><br>
        <span i18n>Code</span>:
        <input class="hl-input" type="text" formControlName="code" i18n-placeholder placeholder="Code">

        <div>
            <label style="margin-right: 14px;">{{parentLevel$ | async | branchLevelName}}</label>
            <select class="hl-select" formControlName="parent">
                <option *ngFor="let br of parents$ | async" [value]="br.id">{{br.name}}</option>
            </select>
        </div>
    </form>
</app-editor-view>