@import '../shared/style.scss';
#customerReport {
    .searchNSummary {
        width: 100%;
    }
    .tabCtrl {
        table {
            width: 100%;
            margin-top: 20px;
            border-top: $border;
            border-spacing: 0;
            thead,
            tbody {
                text-align: center;
                th,
                td {
                    padding: 10px;
                }
                th {
                    font-weight: $font-weight-default + 200;
                }
                td {
                    border-top: $border;
                }
            }
        }
    }
}