@import '../../shared/style.scss';
#actions {
    height: 8vh;
    padding: 1% 50px;
    .textBtn{
        font-size: 150%;
    }
}

button[disabled] {
    cursor: not-allowed;
    background-color: $background-color-title;
    border-color: $background-color-title;
    color: $text-color;
}