<style>
    a {
        text-decoration: underline;
        color: blue;
        cursor: pointer;
    }
</style>
<div id="kiosk-resources" fxLayout="column" class="border">
    <div fxLayout="row" class="resourcesHeader">
        <h3 fxFlex="15%" class="center" i18n>Enable</h3>
        <h3 fxFlex class="center" i18n>Name</h3>
    </div>
    <div class="divider margin-b-10" *ngIf="records[0]"></div>
    <div fxLayout="row" *ngFor="let r of records">
        <md-checkbox fxFlex="15%" class="margin-0 center" color="primary" [(ngModel)]="r.enabled" (ngModelChange)="enable(r)"></md-checkbox>
        <div fxFlex fxLayout="row">
            <p fxFlex class="right">{{r.name}}</p>
            <p fxFlex class="margin-l-10">
                <a [hidden]="r.type === 'repeater' && !r.data.repeat" (click)="edit(r)" i18n>Edit</a>
                <a (click)="Reset(r)" i18n>Reset</a>
            </p>
        </div>
    </div>
</div>