@import '../../../../../shared/style.scss';
#kiosk-resources{
    .resourcesHeader{
        background-color: $background-color-title;
    }
    a {
        text-decoration: underline;
        color: blue;
        cursor: pointer;
        margin-right: 5px;
    }
}