/*.hl-ft-report {
    width: 100%;
    position: relative;
    bottom: 0;
    float: left;
    margin: 20px 100px 20px 0px;
}

.hl-bt-report {
    width: 200px;
    height: 30px;
    border-radius: 3px;
    line-height: 30px;
    background-color: #fff;
    color: #0b8fdb;
    border: 1px solid #0b8fdb;
}

.active {
    background-color: #0b8fda;
    color: white;
}

.table-row {
    font-size: 14px;

}
.hl-hfl-report{
    cursor:pointer; margin:250px 2px 0px 2px;color: gray;
}

*/