<div id="superCounterDetail" *ngIf="counterDetail$ | async; let counterDetail">
    <div fxLayout="column" class="border">
        <div fxFlex="20" id="counterDetailHeader" class="counterDetailHeader center animated">
            <span>{{counterDetail.counterName}}</span>
            <span *ngIf="counterDetail.ticketNum">: {{counterDetail.phoneNum}}</span>
        </div>
        <div fxFlex="50" fxLayout="row" class="container">
            <div fxFlex *ngIf="counterDetail.ticketNum" class="ticketNum center" fxLayout="column">
                <span fxFlex="30" class="title" i18n>Serving Ticket</span>
                <div fxFlex fxLayout="row" fxLayoutGap="20px" class="content">
                    <ticket-icon fxFlex="40px" [ticket]="ticket$ | async" width="40px"></ticket-icon>
                    <span fxFlex>{{counterDetail.ticketNum}}</span>
                </div>
            </div>
            <div fxFlex *ngIf="counterDetail.ticketNum" class="timing center" fxLayout="column">
                <span fxFlex="30" class="title" i18n>Serving Time</span>
                <div fxFlex fxLayout="row" fxLayoutGap="20px" class="content">
                    <img  fxFlex="40px" class="icon" src="./assets/img/icon/time.png" alt="Time">
                    <timer fxFlex [start]="counterDetail.serveTime" [timeWarning]="maxServingMinute"></timer>
                </div>
            </div>
        </div>

        <app-super-counter-action fxFlex [ticket]="ticket$ | async" [counterID]="counterDetail.counterID"></app-super-counter-action>

    </div>
</div>