@import '../../shared/style.scss';
#superCounterDetail {
    height: 27vh;
    padding: 3vw 3vw 0 3vw;
    overflow-x: hidden;
    .border {
        height: 27vh;
        .counterDetailHeader {
            background-color: $background-color-title;
            font-size: 150%;
            font-weight: $font-weight-default + 200;
            padding-top: 1%;
            text-transform: uppercase;
        }
        .container {
            padding: 10px 20px 0 20px;
            .timing {
                border-left: $border;
            }
            .ticketNum,
            .timing {
                .title {
                    font-size: 130%;
                }
                .content {
                    width: 20%;
                    margin: auto;
                    color: $key-color;
                    font-size: 300%;
                    font-weight: $font-weight-default + 300;
                    .icon {
                        width: 40px;
                        height: 40px;
                    }
                }
                .contentRight {
                    width: 33%;
                }
            }
            @media screen and (max-width: 1030px) {
                .ticketNum,
                .timing {
                    height: 10vh;
                }
            }
        }
    }
    #roomServing {
        color: $key-color;
        float: right;
        position: relative;
        .icon {
            position: absolute;
            top: -8px;
            left: -45px;
        }
    }
}