<div id="superCounterDetail" *ngIf="counterDetail$ | async; let counterDetail" class="padding-0-50 padding-t-50">
    <div fxLayout="column" class="border">
        <div fxFlex="20" class="counterDetailHeader center">
            <span>{{counterDetail.counterName}}</span>
            <span *ngIf="counterDetail.ticketNum">: {{counterDetail.phoneNum}}</span>
        </div>
        <div fxFlex="45" fxLayout="row" class="padding-20">
            <div fxFlex *ngIf="counterDetail.ticketNum" class="ticketNum center" fxLayout="column">
                <span fxFlex="30" i18n>Serving</span>
                <div fxFlex>
                    <ticket-icon [ticket]="ticket$ | async" width="50px"></ticket-icon>
                    <span class="content">{{counterDetail.ticketNum}}</span>
                </div>
            </div>
            <div fxFlex *ngIf="counterDetail.ticketNum" class="timing center" fxLayout="column">
                <span fxFlex="30" i18n>Timing</span>
                <div fxFlex class="content">
                    <img class="icon" src="./assets/img/icon/time.png" alt="Time">
                    <timer class="number" [start]="counterDetail.createTime" [timeWarning]="maxServingMinute"></timer>
                </div>
            </div>
        </div>

        <app-super-counter-action fxFlex [ticket]="ticket$ | async" [counterID]="counterDetail.counterID"></app-super-counter-action>

    </div>
</div>