@import '../../shared/style.scss';
#superCounterDetail {
    height: 27vh;
    padding: 3vw 3vw 0 3vw;
    .border {
        height: 100%;
        .counterDetailHeader {
            background-color: $background-color-title;
            font-size: 150%;
            font-weight: $font-weight-default + 200;
            padding-top: 1%;
        }
        .timing {
            border-left: $border;
        }
        .ticketNum,
        .timing {
            .title {
                font-size: 130%;
                margin-bottom: 10px;
            }
            .content {
                color: $key-color;
                font-size: 400%;
                font-weight: $font-weight-default + 300;
                .icon {
                    width: 50px;
                }
            }
        }
    }
}