<div class="border">
    <div class="componentHeader">
        <span i18n>Missed Call List</span>
        <span>(</span>
        <span class="total">{{count | async}}</span>
        <span>)</span>
        <input #ticket [class.hidden]="!show" (keyup)="onSearch(ticket.value)" type="text" i18n-placeholder="Ticket Number" class="inputSearch">
        <img src="./assets/img/icon/search.png" (click)="show = !show; ticket.value='';onSearch(ticket.value)" alt="Search" class="iconSearch">
    </div>
    <div class="queue">
        <div fxLayout="row" class="headerTable">
            <span fxFlex class="cell" i18n="Numerical Order">No.</span>
            <span fxFlex="50%" class="cell" i18n>Service Name</span>
            <span fxFlex class="cell" i18n>Last Call</span>
        </div>
        <div fxLayout="row" class="row" *ngFor="let t of tickets | async" [ticket-detail]="t" [ticket-highlight]="t">
            <div fxFlex class="cell">
                <img *ngIf="!t.ticket_priority.customer_priority && !t.ticket_priority.customer_vip" class="icon" src="./assets/img/icon/person.png" alt="Number Ticket">
                <img *ngIf="t.ticket_priority.customer_priority" class="icon" src="./assets/img/icon/wheelchair.png" alt="Number Ticket">
                <img *ngIf="t.ticket_priority.customer_vip" class="icon" src="./assets/img/icon/star.png" alt="Number Ticket">
                <span class="ticketNum">{{t.cnum}}</span>
            </div>
            <span fxFlex="50%" class="cell">{{t.services | multipleServiceName}}</span>
            <span fxFlex class="cell">{{t.mtime | localDayTime}}</span>
        </div>
    </div>
</div>