@import '../shared/style.scss';
.border {
    height: 100%;
    .totalCount {
        color: $key-color;
    }
    .headerTable {
        background-color: $background-color;
        border-bottom: $border;
        font-weight: $font-weight-default;
    }
    .row {
        border-bottom: $border;
    }
    .cell {
        text-align: center;
        margin: 7px;
        .icon {
            width: 15px;
            float: left;
            margin: 0 10px;
        }
        .ticketNum {
            float: left;
        }
    }
    .inputSearch {
        float: right;
        height: 25px;
        border: $border;
        border-radius: 3px;
    }
    .iconSearch {
        cursor: pointer;
        width: 20px;
        float: right;
        margin: 7px;
    }
}

.queue {
    // height: 33.7vh;
    overflow: auto;
    height: 85%;
}