<div class="border">
    <div class="componentHeader">
        <span i18n>Waiting Ticket</span>
        <span class="totalCount">({{dataLength}})</span>
    </div>
    <div class="queue">
        <div fxLayout="row" class="headerTable">
            <span fxFlex class="cell" i18n>No.</span>
            <span fxFlex="50%" class="cell" i18n>Service Name</span>
            <span fxFlex class="cell" i18n>Waiting Time</span>
        </div>
        <div id="ticket">
            <div fxLayout="row" class="row" *ngFor="let ticket of waiting$ | async; trackBy: trackFn" [ticket-detail]="ticket" [ticket-highlight]="ticket">
                <div fxFlex class="cell">
                    <ticket-icon [ticket]="ticket"></ticket-icon>
                    <span>{{ticket.cnum}}</span>
                </div>
                <span fxFlex="50%" class="cell">{{ticket.service_name}}</span>
                <timer fxFlex class="cell" [start]="ticket.mtime" [timeWarning]="maxWaitingMinute" [refreshTime]="5000"></timer>
            </div>
        </div>
    </div>
</div>