<editor #edit name="LABEL_COUNTERS" [fields]="fields" [data]="data | async" [service]="service">
    <editor-title> <span translate>LABEL_LIST_COUNTER</span> </editor-title>
    <form *ngIf="edit.form" [formGroup]="edit.form">
        <span translate>LABEL_CODE</span>
        <input type="text" formControlName="code" placeholder="{{'LABEL_CODE' | translate}}"><br>
        <span translate>LABEL_NUM_COUNTER</span>:
        <input type="text" formControlName="cnum" placeholder="{{'LABEL_NUM_COUNTER' | translate}}"><br>
        <span translate>LABEL_NAME</span>:
        <input type="text" formControlName="name" placeholder="{{'LABEL_NAME'| translate}}"><br>
        <span translate>LABEL_LED_ADD_DEVICE</span> :
        <input type="number" formControlName="dev_addr" placeholder="{{'LABEL_LED_ADD_DEVICE' | translate}}">
        <hr> <span translate>LABEL_SERVICE_NORMAL</span>:
        <div class="dichvu">
            <select-check formControlName="services" [data]="services | async" textField="name">
            </select-check>
        </div>
        <hr> <span translate>LABEL_SERVICE_VIP</span>:
        <div class="dichvu">
            <select-check formControlName="vservices" [data]="services | async" textField="name">
            </select-check>
        </div>
        <hr> <span translate>LABEL_BRANCH</span>:
        <branch-picker level="0" formControlName="branch_id"></branch-picker>
    </form>
</editor>