@import '../../../../shared/style.scss';
#chartReport {
    border-top: $border;
    height: 30vw;
    min-height: 400px;
    background-color: #fff;
    width: 100%;
    .chartType {
        float: right;
        width: 150px;
        height: 30px;
        border-radius: 3px;
        margin: 20px 50px 0px 0px;
    }
    .legend{
        position: relative;
        top: 0px;
        clear: both;
        .item{
            margin-left: 23%;
        }
        .checkBox {
            float: left;
        }
    }
}