.table thead {
    background-color: #f4f4f4;
    height: 300px;
    line-height: 30px;
    font-size: 12px;
    border-bottom: 1px solid #a8a8aa;
    border-top: 1px solid #a8a8aa;
}

.table tbody tr:nth-child(even) {
    background: #f1f9fc;
    border-top: 1px solid #f4f4f4;
}

.table tbody tr:nth-child(odd) {
    background: #ffffff;
}

.table>td {
    height: 30px;
    text-align: center;
}

.table {
    width: 100%;
}

.table td {
    text-align: center;
}