@import 'design/main';
@import 'element/main';
// @import 'dialog';
// @import 'table';
@import 'shared/main';
@font-face {
    font-family: 'Roboto';
    src: url("./assets/font/Roboto/Roboto-Light.ttf");
}
html{
    height: 100%;
    body {
        height: 100%;
        font-family: sans-serif;
        margin: 0px;
        color: $text-color;
        font-size: $font-size-default;
        background-color: $background-color;
        textarea{
            font-family: Arial, Helvetica, sans-serif
        }
    }
}