@import 'dialog';
@import 'icon';
@import 'toastr';
@import 'table';
@import 'shared/main';
@font-face {
    font-family: 'Roboto';
    src: url("./assets/font/Roboto/Roboto-Light.ttf");
}

body {
    font-family: sans-serif;
    margin: 0px;
    color: #414042;
    font-size: 11px;
    background-color: #f4f4f4;
}