@import 'design/main';
@import 'element/main';
// @import 'dialog';
// @import 'table';
@import 'shared/main';
@font-face {
    font-family: 'Roboto';
    src: url("./assets/font/Roboto/Roboto-Light.ttf");
}

html {
    height: 100%;
    body {
        height: 100%;
        font-family: sans-serif;
        margin: 0px;
        color: $text-color;
        font-size: $font-size-default;
        background-color: $background-color;
        textarea {
            font-family: Arial, Helvetica, sans-serif
        }
    }
}

#view_form {
    display: table;
    width: 100%;
    .form-row {
        display: table-row;
        width: 100%;
        cursor: move;
        >div {
            display: table-cell;
            width: auto;
            padding-bottom: 15px;
            &.txt-label {
                min-width: 50px;
                input {
                    font-size: 16px;
                    text-transform: capitalize;
                    border: none;
                    background-color: transparent;
                    &:focus {
                        outline: none;
                        border-bottom: 1px solid #0b8fdb;
                    }
                }
                span {
                    display: none;
                }
            }
            .form-input {
                height: 25px;
                text-indent: 5px;
                border: 1px solid #a7a9ac;
                border-radius: 3px;
                width: 100%;
            }
        }
    }
}

.view-form {
    .form-row {
        cursor: default;
    }
    .txt-label {
        input {
            display: none;
        }
        span {
            font-size: 16px;
            text-transform: capitalize;
            border: none;
            background-color: transparent;
            display: block !important;
        }
    }
    .form-control {
        select:not(.form-input) {
            display: none;
        }
        a {
            display: none;
        }
    }
}