.dialog {
    width: 250px;
    position: absolute;
    border: 1px solid black;
    border-radius: 5px;
    overflow: hidden;
    position: fixed;
    left: calc(50% - 125px);
    top: 100px;
    background-color: white;
}

.dialog p {
    text-align: center;
}

.dialog header {
    border-bottom: 1px solid black;
    font-size: 12px;
    padding: 5px;
    display: flex;
}

.dialog header .title {
    flex-grow: 1;
    cursor: default;
}

.dialog header .exit-button {
    cursor: pointer;
    padding: 0 5px;
}