<span style="font-size: 14px;"> Xin chào:&nbsp; </span>
<span style="color: #9dc8ed; font-size: 16px; margin-right:5px;"> {{ rxName | async}}</span>
<i class="fa fa-chevron-circle-down float-right dropdown droplabel">
<div class="dropdown-content">
                <li class="dropdown-item animate">&nbsp;Cài đặt <i class="fa fa-cog float-left"></i></li>
<li class="dropdown-item animate" (click)="Logout()">&nbsp;Thoát <i class="fa fa-sign-out float-left"></i></li>
</div>

<!--<span>Mouse over me</span>-->

<!--<div class="dropdown">
    <span style="font-size: 14px;"> Xin chào: </span> <span style="color: #9dc8ed; font-size: 16px; margin-right:5px;"> {{ rxName | async}}</span>
    <div class="dropdown-content">
        <a href="#">Cài đặt</a>
        <a href="#" (click)="Logout()">Thoát</a>
    </div>
</div>-->