<div class="droplabel" (click)="hidden=!hidden">
    <span translate> HELLO</span> {{ rxName | async}}
    <i class="fa fa-chevron-circle-down"></i>
</div>

<ul [class.hidden]="hidden" class="dropdown-content">
    <li class="dropdown-item animate" (click)="Refresh()">
        <i class="fa fa-refresh"></i> <span translate>REFRESH</span>
    </li>
    <li class="dropdown-item animate" (click)="setting=true">
        <i class="fa fa-cog"></i> <span translate>SETTING</span>
    </li>
    <li class="dropdown-item animate" (click)="Logout()">
        <i class="fa fa-power-off"></i> <span translate>LOGOUT</span>
    </li>
</ul>

<div class="modal" *ngIf="setting">
    <div class="dialog">
        <user-setting (close)="setting=false"></user-setting>
    </div>
</div>