@import '../../shared/style.scss';
#modal-history {
    .detailTicket {
        width: 90%;
        margin: auto;
        td {
            padding: 5px 0;
        }
    }
    .cusDetail {
        padding: 5px 3px;
        width: 90%;
        margin: auto;
    }
}

#historyReport {
    #curentPage{
        text-align: center;
        font-size: $font-size-default + 2;
        height: 27px;
        border-radius: 3px;
        border: $border;
    }
    .totalPages{
        font-size: $font-size-default + 2
    }
    #curentPage::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }
}