@import '../../shared/style.scss';
#historyFilter {
    .inputFilter {
        width: 2.5vw;
        margin-left: 1vw;
        font-size: $font-size-default;
        text-indent: 5px;
    }
    form {
        width: 100%;
    }
    .feedback {
        select {
            font-size: $font-size-default;
            text-indent: 5px;
        }
    }
    .note {
        font-size: $font-size-default - 1px;
    }
    .btnCtrl {
        padding: 0px;
    }
}