<editor #edit i18n-name [makeForm]="makeForm" [service]="service">
    <editor-title><span i18n>List number ticket</span></editor-title>
    <form class="hl-form" *ngIf="edit.form" [formGroup]="edit.form">
        <span i18n>Code</span>:
        <input class="hl-input" formControlName="code" i18n-placeholder placeholder="Code">
        <br><span i18n>Format</span>:
        <input class="hl-input" formControlName="format" i18n-placeholder placeholder="Format">
        <br> <span i18n>Value min</span>:
        <input class="hl-input" formControlName="minnum" type="number" i18n-placeholder placeholder="Value Min">
        <br> <span i18n>Value max</span>:
        <input class="hl-input" formControlName="maxnum" type="number" i18n-placeholder placeholder="Value Max">
        <br> <span i18n>Template</span>:
        <app-quill-editor formControlName="template" rows="8" cols="40"></app-quill-editor>
    </form>
</editor>