<div class="modal">
    <div class="dialog" style="padding: 25px 25px 0px 25px;width: 300px; position:absolute;">
        <div class="tl">CHI TIẾT VÉ</div>
        <div style="margin-top: 50px;">
            <div class="info"> Số vé: <span style="font-size:18px;">{{ticket.cnum}}</span></div>
            <div class="info hidden"> Priority:{{ticket.priority}}</div>
            <div class="info"> Thời điểm lấy vé: {{ticket.ctime | hour}}</div>
            <hr>

            <div *ngIf="isServing" style="margin-bottom:10px;">
                <div>Bắt đầu phục vụ: {{ticket.mtime | hour}}</div>
                <br> Chuyển dịch vụ:
                <div class="dichvu" *ngIf="services">
                    <select-check [(ngModel)]="checkedServices" [data]="services | async" textField="name">
                    </select-check>
                </div>
            </div>

            <div *ngIf="isMissed" style="margin-bottom:10px;">
                Thời điểm đặt nhỡ: {{ticket.mtime | hour}}
            </div>
            Chuyển quầy:
            <div class="dichvu" *ngIf="counters">
                <select-check [(ngModel)]="checkedCounters" [data]="counters | async" textField="name">
                </select-check>
            </div>

            <div style="margin: 30px 0px 20px 0px;" *ngIf="isMissed">
                <button class="close miss" (click)="Close()">ĐÓNG</button>

                <button class="move big" (click)="Move()">CHUYỂN</button>

                <button class="recall big" (click)="Recall()">GỌI LẠI</button>

                <button class="delete miss" (click)="Delete()">XÓA</button>
            </div>
            <div style="margin: 30px 0px 20px 0px;" *ngIf="!isMissed">
                <button class="close nomiss" (click)="Close()">ĐÓNG</button>

                <button class="move nomiss" (click)="Move()">CHUYỂN</button>

                <button class="delete nomiss" (click)="Delete()">XÓA</button>
            </div>
        </div>
    </div>
</div>

<modal #alert>
    {{message}}
    <button class="close" (click)="alert.Close()"> Đồng ý </button>
</modal>