.tl {
    text-align: center;
    background-color: #dee0df;
    height: 50px;
    font-size: 18px;
    line-height: 50px;
    margin: -25px;
}

.close {
    background-color: #fff;
    color: #0d8fdd;
    height: 30px;
    line-height: 30px;
    border-width: 1px;
    border-style: solid;
    width: 28%;
}

.delete {
    background-color: #fff;
    color: #0d8fdd;
    height: 30px;
    line-height: 30px;
    margin-left: 13px;
    border-width: 1px;
    border-style: solid;
    width: 28%;
}

.move {
    background-color: #0b8fda;
    color: #fff;
    height: 30px;
    line-height: 30px;
    margin-left: 13px;
    border-width: 1px;
    border-style: solid;
    width: 32%;
}

.recalls {
    background-color: #0b8fda;
    color: #fff;
    height: 30px;
    line-height: 30px;
    margin-left: 10px;
    border-width: 1px;
    border-style: solid;
    width: 22%;
}

.closes {
    background-color: #dee0df;
    color: #fff;
    height: 30px;
    line-height: 30px;
    border-width: 1px;
    border-style: solid;
    width: 20%;
}

.deletes {
    background-color: #dee0df;
    color: #fff;
    height: 30px;
    line-height: 30px;
    margin-left: 10px;
    border-width: 1px;
    border-style: solid;
    width: 20%;
}

.info {
    margin-bottom: 5px;
}

button {
    padding: 0px 10px;
}

.dichvu {
    background-color: #fff;
    padding: 5px 20px 5px 20px;
    overflow: auto;
    height: 100px;
}