<div class="dialog" style="padding: 25px 25px 0px 25px;width: 300px;">
    <div class="tl">TICKET DETAIL</div>
    <div style="margin-top: 50px;">
        <div class="info">ID: {{ticket.id}}</div>
        <div class="info"> Số vé: {{ticket.cnum}}</div>
        <div class="info hidden"> Priority:{{ticket.priority}}</div>
        <div class="info"> Vip Code:{{ticket.vcode}}</div>
        <div class="info"> In lúc: {{ticket.ctime | hour}}</div>
        <hr>

        <div *ngIf="isServing" style="margin-bottom:10px;">
            <div>Bắt đầu phục vụ: {{ticket.mtime | hour}}</div>
            <br> Chuyển dịch vụ:

            <select-check (ngModel)="checkedServices" [data]="services | async" textField="name">
            </select-check>
        </div>

        <div *ngIf="isMissed" style="margin-bottom:10px;">
            Gọi lúc: {{ticket.mtime | hour}}
        </div>

        <div *ngIf="isWaiting" style="margin-bottom:10px;">
            Chờ lúc: {{ticket.mtime | hour}}
        </div>

        Chuyển quầy:
        <select-check [(ngModel)]="checkedCounters" [data]="counters | async" textField="name">
        </select-check>

        <div style="margin: 30px 0px 20px 0px;">
            <button class="close" (click)="Close()">ĐÓNG</button>

            <button class="move" (click)="Move()">CHUYỂN</button>

            <button class="recall" *ngIf="isMissed" (click)="Recall()">GỌI LẠI</button>

            <button class="delete" (click)="Delete()">XÓA</button>
        </div>
    </div>
</div>