<div id="completed">
    <h3 i18n>Served Tickets</h3>
    
    <ag-grid-angular #agGrid [gridOptions]="gridOptions" [rowData]="data" class="ag-fresh tableCtrl"
        enableColResize enableSorting>

        <ag-grid-column headerName="No." [cellRenderer]="noCellRenderer" [width]="50" [cellClass]="cellClass" i18n-headerName></ag-grid-column>

        <ag-grid-column headerName="Service" [cellRenderer]="serviceCellRenderer" [width]="230" [cellClass]="cellClass" i18n-headerName></ag-grid-column>
        <ag-grid-column headerName="Counter" [cellRenderer]="counterCellRenderer" [width]="100" [cellClass]="cellClass" i18n-headerName></ag-grid-column>
        <ag-grid-column headerName="Teller" [cellRenderer]="userCellRenderer" [width]="100" [cellClass]="cellClass" i18n-headerName></ag-grid-column>

        <ag-grid-column headerName="Ticket Number" [cellRendererFramework]="ticketIconNumber" 
            [cellRendererParams]="{width: '15px'}"
            [width]="100" [cellClass]="cellClass" i18n-headerName></ag-grid-column>

        <ag-grid-column headerName="Customer" field="customer.full_name" [width]="200" [cellClass]="cellClass" i18n-headerName></ag-grid-column>

        <ag-grid-column headerName="Print Time" [cellRenderer]="printTimeCellRendered" [width]="95" [cellClass]="cellClass" i18n-headerName></ag-grid-column>

        <ag-grid-column headerName="Waiting Time" [cellRenderer]="waitingTimeCellRendered" 
            [width]="95" 
            [cellClass]="cellClass" i18n-headerName></ag-grid-column>

        <ag-grid-column headerName="Serving Time" [cellRenderer]="servingTimeCellRenderer" 
            [cellRendererParams]="{timeWarning: maxServingMinute}" [width]="95" 
            [cellClass]="cellClass" i18n-headerName></ag-grid-column>

        <ag-grid-column headerName="Detail" [cellClass]="cellClass" [cellRenderer]="detailCellRenderer" 
            [width]="70" i18n-headerName></ag-grid-column>

    </ag-grid-angular>
</div>