<div id="focusComponent" *ngIf="data">
    <h2 class="header uppercase"> {{data.branch_id | branchName}} </h2>
    <div class="nav">
        <button class="btnClear btnMargin uppercase" (click)="goBackBranchList()">go back</button>
    </div>

    <div class="overview" fxLayout="row" fxLayoutGap="30px">
        <div fxLayout="column" fxFlex class="padding_monitor">
            <div fxLayout="row" fxLayoutAlign="space-between none">
                <span i18n>Branch:</span>:
                <span>{{data.parent_id | branchName}}</span>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between none">
                <span i18n>Admin:</span>
                <span>Testing</span>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between none">
                <span i18n>Manager:</span>
                <span>Testing</span>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between none">
                <span i18n>Sum Counter:</span>
                <span>Testing</span>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between none">
                <span i18n>Sum Counter Is On:</span>
                <span>Testing</span>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between none">
                <span>Sum Counter Off:</span>
                <span>Testing</span>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between none">
                <span i18n>Printed ticket:</span>
                <span>{{data.printed}}</span>
            </div>
        </div>
        <div fxLayout="column" fxFlex class="padding_monitor">
            <div fxLayout="row" fxLayoutAlign="space-between none">
                <span i18n>Number of tickets waiting:</span>
                <span>{{data.waiting}}</span>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between none">
                <span i18n>Number of tickets being served:</span>
                <span>{{data.serving}}</span>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between none">
                <span i18n>Number of tickets already served:</span>
                <span>{{data.finished}}</span>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between none">
                <span i18n>Number of reserved tickets:</span>
                <span>{{data.missed}}</span>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between none">
                <span i18n>Number of cancelled tickets:</span>
                <span>{{data.cancelled}}</span>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between none">
                <span i18n>Serving over :</span>
                <span>{{data.wait_long}}</span>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between none">
                <span i18n>Serving under 2':</span>
                <span>{{data.serve_short}}</span>
            </div>
        </div>
    </div>

    <div class="divider"></div>

    <monitor-chart [data]="data"></monitor-chart>

    <h3 i18n>Customers are not served</h3>

    <table class="tableCtrl">
        <thead>
            <th i18n>No.</th>
            <th i18n>Service name</th>
            <th i18n>Ticket Number</th>
            <th i18n>Customer</th>
            <th i18n>Time create ticket</th>
            <th i18n>Time wait</th>
            <th i18n>Detail</th>
        </thead>
        <tbody>
            <tr *ngFor="let t of waitingAndMissed$ | async ; let i = index" [ngClass]="{'missed': t.state === 'missed', 'waiting': t.state === 'waiting'}">
                <td> {{i + 1}} </td>
                <td> {{t.services | multipleServiceName}}</td>
                <td> {{t.cnum}}</td>
                <td *ngIf="t.customer"> {{t.customer.full_name }} </td>
                <td *ngIf="!t.customer"> </td>
                <td> {{t.ctime | localDayTime}}</td>
                <td *ngIf="t.state === 'waiting'">
                    <timer [start]="t.mtime" [timeWarning]="15"></timer>
                </td>
                <td *ngIf="t.state === 'missed'"> {{t.mtime - t.ctime | timeDuration}}</td>
                <td>
                    <span (click)="detail(t)">
                        <img class="iconDetail" src="./assets/img/icon/play.png" (click)="detail.SetData(d);detail.GetInfoCustomer(d)" alt="Search" style="cursor: pointer">
                    </span>
                </td>
            </tr>
        </tbody>
    </table>

    <h3 i18n>Customers have been served</h3>

    <table class="tableCtrl">
        <thead>
            <th i18n>No.</th>
            <th i18n>Service</th>
            <th i18n>Counter</th>
            <th i18n>Tellers</th>
            <th i18n>Ticket number</th>
            <th i18n>Customer</th>
            <th i18n>Time Create ticket</th>
            <th i18n>Time Wait</th>
            <th i18n>Time Serve</th>
            <th i18n>Detail</th>
        </thead>
        <tbody>
            <tr *ngFor="let t of servingNServed$ | async; let i = index" [ngClass]="{'cancelled': t.state === 'cancelled', 'serving': t.state === 'serving', 'serveDone': t.state === 'finished' || t.state === 'waiting'}">
                <td> {{i + 1}} </td>
                <td> {{t.service_id | serviceName}} </td>
                <td> {{t.counter_id | counterName}}</td>
                <td> {{t.user_id | userFullName}}</td>

                <!--<td *ngIf="!t.serving">{{t.service_id | serviceName}}</td>
                <td *ngIf="!t.serving">{{t.counter_id | counterName}}</td>
                <td *ngIf="!t.serving">{{t.user_id | userFullName}}</td>-->

                <td> {{t.cnum}} </td>
                <td *ngIf="t.customer"> {{t.customer.full_name }} </td>
                <td *ngIf="!t.customer"> </td>
                <td> {{t.ctime | localDayTime}}</td>
                <td> {{t.mtime - t.ctime | timeDuration}} </td>

                <td *ngIf="t.state === 'serving'">
                    <timer [start]="t.mtime" [timeWarning]="1"></timer>
                </td>
                <td *ngIf="t.state != 'serving'"> {{t.stime | timeDuration}} </td>
                <td>
                    <span (click)="detail(t)">
                        <img class="iconDetail" src="./assets/img/icon/play.png" (click)="detail.SetData(d);detail.GetInfoCustomer(d)" alt="Search" style="cursor: pointer">
                    </span>
                    <span>
                        <img class="iconDetail" src="./assets/img/icon/volume.png" (click)="detail.SetData(d);detail.GetInfoCustomer(d)" alt="Search" style="cursor: pointer">
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<modal #edit id="modal_monitor_detailTicket">
    <h3 class="modal-header" i18n>Ticket detail</h3>
    <div *ngIf="selectedTicket" class="modalContent">
        <div fxLayout="row" fxLayoutGap="20px">
            <div fxFlex>
                <table>
                    <tr>
                        <th i18n>Ticket number</th>
                        <th>{{selectedTicket.cnum}}</th>
                    </tr>
                    <tr>
                        <th i18n>State</th>
                        <th>{{selectedTicket.state}}</th>
                    </tr>
                    <tr>
                        <th i18n>Service</th>
                        <th>
                            <span *ngIf="!isServed">{{selectedTicket.services[0] | serviceName}}</span>
                            <span *ngIf="isServed">{{selectedTicket.serving.service_id | serviceName}}</span>
                        </th>
                    </tr>
                    <tr>
                        <th i18n>Time create ticket</th>
                        <th>{{selectedTicket.ctime | localDayTime}}</th>
                    </tr>
                    <tr>
                        <th i18n>Time wait</th>
                        <th>
                            <span *ngIf="!isServed && selectedTicket.state === 'waiting'"><timer [start]="selectedTicket.mtime" [timeWarning]="15"></timer></span>
                            <span *ngIf="!isServed && selectedTicket.state === 'missed'">{{selectedTicket.mtime - selectedTicket.ctime | timeDuration}}</span>
                            <span *ngIf="isServed">{{selectedTicket.mtime - selectedTicket.ctime | timeDuration}}</span>
                        </th>
                    </tr>
                    <tr *ngIf="isServed">
                        <th i18n>Serving time</th>
                        <th *ngIf="selectedTicket.state === 'serving'">
                            <timer [start]="selectedTicket.mtime" [timeWarning]="1"></timer>
                        </th>
                        <th *ngIf="selectedTicket.state != 'serving'"> {{selectedTicket.stime | timeDuration}} </th>
                    </tr>
                </table>
            </div>
            <div fxFlex>
                <table>
                    <tr>
                        <th i18n>Branch</th>
                        <th i18n>{{selectedTicket.branch_id | branchName}}</th>
                    </tr>
                    <tr>
                        <th i18n>Store</th>
                        <th i18n>{{selectedTicket.branch_id | branchName}}</th>
                    </tr>
                    <tr *ngIf="selectedTicket.serving">
                        <th i18n>Tellers</th>
                        <th>{{selectedTicket.serving.user_id | userFullName}}</th>
                    </tr>
                    <tr *ngIf="selectedTicket.serving">
                        <th i18n>Counter</th>
                        <th>{{selectedTicket.serving.counter_id | counterName }}</th>
                    </tr>
                    <tr *ngIf="selectedTicket.serving">
                        <th i18n>Manager</th>
                        <th>testing</th>
                    </tr>
                    <tr *ngIf="selectedTicket.serving">
                        <th i18n>Administrator</th>
                        <th>testing</th>
                    </tr>
                </table>
            </div>
        </div>
        <table *ngIf="customer" class="cusDetail">
            <tr>
                <th i18n>Name Counter</th>
                <th> {{customer.full_name }}</th>
            </tr>
            <tr>
                <th i18n>Code ID</th>
                <th> {{customer.code }}</th>
            </tr>
            <tr>
                <th i18n>Number Phone</th>
                <th> {{customer.phone_number }}</th>
            </tr>
            <tr>
                <th i18n>Segment</th>
                <th> {{customer.segment }}</th>
            </tr>
        </table>

        <button class="btnFill uppercase" (click)="closeModal()" i18n>Close</button>
    </div>
</modal>