@import '../../../../shared/style.scss';
#focusComponent {
    .overview {
        width: 100%;
        span {
            margin-bottom: 10px;
        }
    }
    .waiting {
        
    }
    .missed {
        // background-color: #0b8fda;
        color: #156a9a;
    }
    .serving {
        color: #414042;
    }
    .serveDone {
        // background-color: #0b8fda;
        color: #156a9a;
    }
    .cancelled {
        // background-color: #ff5858;
        color: #ff5858;
    }
}