<div id="focusComponent" *ngIf="data">
    <div class="flex-container header" fxLayout="row" fxLayoutAlign="space-between none">
        <h1 fxFlex> {{data.branch_id | branchName}} </h1>
        <h3 fxFlex="12%" (click)="goBackBranchList()" class="btn_back"><i _ngcontent-lat-10="" class="fa fa-angle-double-left"> </i>Go back</h3>
    </div> 
    <div class="flex-container overview" fxLayout="row" fxLayoutAlign="space-between none">
        <div fxLayout="column" fxFlex class="padding_monitor">
            <div fxLayout="row" fxLayoutAlign="space-between none">
                <span>Chi nhánh: </span>
                <span>{{data.parent_id | branchName}}</span>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between none">
                <span>Admin: </span>
                <span>Testing</span>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between none">
                <span>Manager: </span>
                <span>Testing</span>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between none">
                <span>Tổng số quầy: </span>
                <span>Testing</span>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between none">
                <span>Tổng số quầy đang bật: </span>
                <span>Testing</span>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between none">
                <span>Tổng số quầy đang tắt: </span>
                <span>Testing</span>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between none">
                <span>Số lượng vé đã in: </span>
                <span>{{data.printed}}</span>
            </div>
        </div>
        <div fxLayout="column" fxFlex class="padding_monitor">
            <div fxLayout="row" fxLayoutAlign="space-between none">
                <span>Số lượng vé đang đợi: </span>
                <span>{{data.waiting}}</span>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between none">
                <span>Số lượng vé đang được phục vụ: </span>
                <span>{{data.serving}}</span>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between none">
                <span>Số lượng vé đã được phục vụ: </span>
                <span>{{data.finished}}</span>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between none">
                <span>Số lượng vé đặt nhỡ: </span>
                <span>{{data.missed}}</span>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between none">
                <span>Số lượng vé hủy: </span>
                <span>{{data.cancelled}}</span>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between none">
                <span>Số lượng vé đợi trên 15': </span>
                <span>{{data.wait_long}}</span>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between none">
                <span>Số lượng vé được phục vụ dưới 2': </span>
                <span>{{data.serve_short}}</span>
            </div>
        </div>
    </div>

    <monitor-chart [data]="data" ></monitor-chart>

    <h3> Khách hàng chưa được phục vụ </h3>

    <button (click)="test()">test</button>

    <table class="table">
        <thead>
            <th> STT </th>
            <th translate>SERVICE </th>
            <th translate> TICKET_NUMBER </th>
            <th translate>CUSTOMER </th>
            <th translate> TIME_CREATE_TICKET</th>
            <th translate> WAIT_TIME</th>
            <th translate> DETAIL </th>
        </thead>
        <tbody>
            <tr *ngFor="let t of waiting$ | async; let i = index"
                [ngClass]="{'missed': t.state === 'missed', 'waiting': t.state === 'waiting'}">
                <td> {{i + 1}} </td>
                <td> {{t.services | multipleServiceName}}</td>
                <td> {{t.cnum}}</td>
                <td> {{t.customer_id }} </td>
                <td> {{t.ctime | localDayTime}}</td>
                <td><timer [start]="t.mtime"></timer></td>
                
                <td>
                    <span (click)="detail(t)">
                        <i class="fa fa-eye" aria-hidden="true" style="cursor: pointer"></i>
                    </span>
                </td>
            </tr>
        </tbody>
    </table>

    <h3> Khách hàng đã được phục vụ </h3>

    <table class="table">
        <thead>
            <th> STT </th>
            <th translate>SERVICE </th>
            <th translate>COUNTER</th>
            <th translate>STAFF</th>
            <th translate> TICKET_NUMBER </th>
            <th translate> CUSTOMER </th>
            <th translate> TIME_CREATE_TICKET</th>
            <th translate> WAIT_TIME </th>
            <th translate> SERVE_TIME </th>
            <th translate> DETAIL </th>
        </thead>
        <tbody>
            <tr *ngFor="let t of served$ | async; let i = index" 
                [ngClass]="{'cancelled': t.state === 'cancelled', 'serving': t.state === 'serving', 'serveDone': t.state === 'finished'}">
                <td> {{i + 1}} </td>
                <td> {{t.serving.service_id | serviceName}} </td>
                <td> {{t.serving.counter_id | counterName}}</td>
                <td> {{t.serving.user_id | userFullName}}</td>
                <td> {{t.cnum}} </td>
                <td> {{t.customer_id }} </td>
                <td> {{t.ctime | localDayTime}}</td>
                <td> {{t.serving.mtime - t.ctime | timeDuration}} </td>
                <td> serve time </td>
                <td>
                    <span (click)="detail(t)">
                        <i class="fa fa-eye" aria-hidden="true" style="cursor: pointer"></i>
                    </span>
                    <span>
                        <i class="fa fa-volume-down" aria-hidden="true" style="cursor: pointer"></i>
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<modal #edit id="modal_monitor_detailTicket">
    <div *ngIf="selectedTicket">
        <h3 class="header">TICKET DETAIL</h3>
        <div class="twoColumn">
            <table>
                <tr>
                    <th translate> TICKET_NUMBER </th>
                    <th>{{selectedTicket.cnum}}</th>
                </tr>
                <tr>
                    <th translate> STATE </th>
                    <th>{{selectedTicket.state}}</th>
                </tr>
                <tr>
                    <th translate> SERVICE </th>
                    <th>
                        <span *ngIf="!isServed">{{selectedTicket.services[0] | serviceName}}</span>
                        <span *ngIf="isServed">{{selectedTicket.serving.service_id | serviceName}}</span>
                    </th>
                </tr>
                <tr>
                    <th translate> TIME_CREATE_TICKET </th>
                    <th>{{selectedTicket.ctime | localDayTime}}</th>
                </tr>
                <tr>
                    <th translate> WAIT_TIME </th>
                    <th>
                        <span *ngIf="!isServed"><timer [start]="selectedTicket.mtime"></timer></span>
                        <span *ngIf="isServed">{{selectedTicket.mtime - selectedTicket.ctime | timeDuration}}</span>
                    </th>
                </tr>
                <tr>
                    <th translate> DATE </th>
                    <th>{{selectedTicket.ctime | localDayTime}}</th>
                </tr>
            </table>
        </div>
        
        <div class="twoColumn" [ngClass]="{'notServeYet': !isServed}">
            <table>
                <tr>
                    <th translate> BRANCH </th>
                    <th translate>{{selectedTicket.branch_id | branchName}}</th>
                </tr>
                <tr>
                    <th translate> STORE </th>
                    <th translate>{{selectedTicket.branch_id | branchName}}</th>
                </tr>
                <tr *ngIf="selectedTicket.serving">
                    <th translate> STAFF </th>
                    <th>{{selectedTicket.serving.user_id | userFullName}}</th>
                </tr>
                <tr *ngIf="selectedTicket.serving">
                    <th translate> COUNTER </th>
                    <th>{{selectedTicket.serving.counter_id | counterName }}</th>
                </tr>
                <tr *ngIf="selectedTicket.serving">
                    <th translate> MANAGER </th>
                    <th>testing</th>
                </tr>
                <tr *ngIf="selectedTicket.serving">
                    <th translate> ADDMINISTRATOR </th>
                    <th>testing</th>
                </tr>
            </table>
        </div>
        <table>
            <tr>
                <th translate> CUSTOMER </th>
                <th>{{selectedTicket.customer_id }}</th>
            </tr>
            <tr>
                <th translate> TEL </th>
                <th>testing</th>
            </tr>
            <tr>
                <th translate> ID </th>
                <th>testing</th>
            </tr>
            <tr>
                <th translate> TYPE </th>
                <th>testing</th>
            </tr>
        </table>

        <button (click)="closeModal()" style="float: right;">Close</button>
    </div>
</modal>