<div id="incomplete">
    <h3 i18n>Waiting Tickets</h3>

    <!--<table class="tableCtrl">
        <thead>
            <th i18n>No.</th>
            <th i18n>Service Name</th>
            <th i18n>Ticket Number</th>
            <th i18n>Customer</th>
            <th i18n>Print Time</th>
            <th i18n>Waiting Time</th>
            <th i18n>Detail</th>
        </thead>
        <tbody>
            <tr *ngFor="let t of data ; let i = index">
                <td> {{i + 1}} </td>
                <td> {{t.service_id | serviceName}}</td>
                <td>
                    <ticket-icon [ticket]="t"></ticket-icon>
                    <span>{{t.cnum}}</span>
                </td>
                <td> {{t.customer?.full_name }} </td>
                <td> {{t.ctime | localDayTime}}</td>
                <td>
                    <timer *ngIf="t.state === 'waiting'" [start]="t.mtime" [timeWarning]="maxWaitingMinute"></timer>
                </td>
                <td>
                    <span (click)="showDetails(t)">
                    <img class="iconDetail" src="./assets/img/icon/play.png" alt="Search" style="cursor: pointer">
                </span>
                </td>
            </tr>
        </tbody>
    </table>-->


    <ag-grid-angular #agGrid [gridOptions]="gridOptions" [rowData]="data" class="ag-fresh tableCtrl"
        enableColResize enableSorting>

        <ag-grid-column headerName="No." [cellRenderer]="noCellRenderer" [width]="50" [cellClass]="cellClass" i18n-headerName></ag-grid-column>

        <ag-grid-column headerName="Service Name" [cellRenderer]="serviceCellRenderer" [width]="230" [cellClass]="cellClass" i18n-headerName></ag-grid-column>

        <ag-grid-column headerName="Ticket Number" [cellRendererFramework]="ticketIconNumber" [cellRendererParams]="{width: '15px'}"
            [width]="100" [cellClass]="cellClass" i18n-headerName></ag-grid-column>

        <ag-grid-column headerName="Customer" field="customer.full_name" [width]="200" [cellClass]="cellClass" i18n-headerName></ag-grid-column>

        <ag-grid-column headerName="Print Time" [cellRenderer]="printTimeCellRendered" [width]="95" [cellClass]="cellClass" i18n-headerName></ag-grid-column>

        <ag-grid-column headerName="Waiting Time" [cellRendererFramework]="waitingTime" [cellRendererParams]="{timeWarning: maxWaitingMinute}"
            [width]="95" [cellClass]="cellClass" i18n-headerName></ag-grid-column>

        <ag-grid-column headerName="Detail" [cellClass]="cellClass" [cellRenderer]="detailCellRenderer" [width]="70" i18n-headerName></ag-grid-column>

    </ag-grid-angular>
    <!--<div id="pagination" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="none center" class="margin-t-20">
        <button fxFlex="60px" class="btnClear pointer" (click)="jumpToFirst()">First</button>
        <button fxFlex="30px" class="btnClear pointer" (click)="prevPage()"><</button>
        <button fxFlex="30px" class="btnClear pointer" (click)="nextPage()">></button>
        <button fxFlex="60px" class="btnClear pointer" (click)="jumpToLast()">Last</button>
        <div fxFlex="10px"></div>
        <input fxFlex="30px" class="curentPage" type="number" min="1" [max]="totalPage" [(ngModel)]="curentPage">
        <span class="totalPages">/ ({{totalPage}} <span i18n>Pages</span>)</span>
        <button fxFlex="50px" class="btnClear pointer" (click)="jumpToPage(curentPage)">Go</button>
        <div fxFlex></div>
        <button fxFlex="250px" class="btnClear export uppercase" (click)="excel()">
            <i class="fa fa-file-excel-o fa-lg"></i>
            <span i18n>Export to excel</span>
        </button>
    </div>-->
</div>