<div id="incomplete">
    <h3 i18n>Services incomplete</h3>

    <table class="tableCtrl">
        <thead>
            <th i18n>No.</th>
            <th i18n>Service Name</th>
            <th i18n>Ticket Number</th>
            <th i18n>Customer</th>
            <th i18n>Print Time</th>
            <th i18n>Waiting Time</th>
            <th i18n>Detail</th>
        </thead>
        <tbody>
            <tr *ngFor="let t of data ; let i = index" [ngClass]="{'missed': t.state === 'missed', 'waiting': t.state === 'waiting'}">
                <td> {{i + 1}} </td>
                <td> {{t.service_id | serviceName}}</td>
                <td>
                    <ticket-icon [ticket]="t"></ticket-icon>
                    <span>{{t.cnum}}</span>
                </td>
                <td> {{t.customer?.full_name }} </td>
                <td> {{t.ctime | localDayTime}}</td>
                <td>
                    <timer *ngIf="t.state === 'waiting'" [start]="t.mtime" [timeWarning]="15"></timer>
                    <span *ngIf="t.state === 'missed'"> {{t.waiting_time | timeDuration}}</span>
                </td>
                <td>
                    <span (click)="showDetails(t)">
                    <img class="iconDetail" src="./assets/img/icon/play.png" alt="Search" style="cursor: pointer">
                </span>
                </td>
            </tr>
        </tbody>
    </table>
</div>