<div id="modal_monitor_detailTicket" *ngIf="ticket">
    <h3 class="modal-header" i18n>Ticket Detail</h3>

    <div class="modal-content" *ngIf="box$ | async; let box">
        <div fxLayout="row" class="margin-t-10" fxLayoutGap="20px">
            <div fxFlex i18n>Ticket Number</div>
            <div fxFlex>
                <ticket-icon [ticket]="ticket"></ticket-icon>
                <span>{{ticket.cnum}}</span>
            </div>
        </div>
        <div fxLayout="row" class="margin-t-10" fxLayoutGap="20px">
            <div fxFlex i18n>State</div>
            <div fxFlex class="capitalize">{{ticket.state}}</div>
        </div>
        <div fxLayout="row" class="margin-t-10" fxLayoutGap="20px">
            <div fxFlex i18n>Service</div>
            <div fxFlex>
                <span>{{ticket.service_id | serviceName}}</span>
            </div>
        </div>
        <div fxLayout="row" class="margin-t-10" fxLayoutGap="20px">
            <div fxFlex i18n>Time of ticket printed</div>
            <div fxFlex>{{ticket.ctime | localDayTime}}</div>
        </div>

        <div class="margin-t-10" fxLayout="row" fxLayoutGap="20px">
            <div fxFlex i18n>Waiting Time</div>
            <div fxFlex>
                <timer *ngIf="ticket.state === 'waiting'" [start]="ticket.mtime" [timeWarning]="15"></timer>
                <span *ngIf="ticket.state === 'missed'">{{ticket.waiting_time | timeDuration}}</span>
                <span *ngIf="ticket.state !== 'waiting' && ticket.state !== 'missed'">{{ticket.mtime - ticket.ctime | timeDuration}}</span>
            </div>
        </div>

        <div class="margin-t-10" fxLayout="row" fxLayoutGap="20px" *ngIf="ticket.state !== 'waiting' && ticket.state !== 'missed'">
            <div fxFlex i18n>Serving Time</div>
            <div fxFlex>
                <timer *ngIf="ticket.state === 'serving'" [start]="ticket.mtime" [timeWarning]="1"></timer>
                <div *ngIf="ticket.state === 'finished'"> {{ticket.__stime | timeDuration}} </div>
                <div *ngIf="ticket.state === 'cancelled'"> 00:00:00 </div>
            </div>
        </div>

        <div fxLayout="row" class="margin-t-10" fxLayoutGap="20px">
            <div fxFlex i18n>Branch</div>
            <div fxFlex *ngIf="box.parent; let p">{{p.name}}</div>
        </div>
        <div fxLayout="row" class="margin-t-10" fxLayoutGap="20px">
            <div fxFlex i18n>Store</div>
            <div fxFlex *ngIf="box.branch; let b">{{b.name}}</div>
        </div>
        <div fxLayout="row" class="margin-t-10" fxLayoutGap="20px" *ngIf="ticket.state !== 'waiting' && ticket.state !== 'missed'">
            <div fxFlex i18n>Tellers</div>
            <div fxFlex>{{ticket.user_id | userFullName}}</div>
        </div>
        <div fxLayout="row" class="margin-t-10" fxLayoutGap="20px" *ngIf="ticket.state !== 'waiting' && ticket.state !== 'missed'">
            <div fxFlex i18n>Counter</div>
            <div fxFlex>{{ticket.counter_id | counterName }}</div>
        </div>
        <div fxLayout="row" class="margin-t-10" fxLayoutGap="20px">
            <div fxFlex i18n>Manager</div>
            <div fxFlex *ngIf="box.users.manager[0]; let u">{{u.fullname}}</div>
        </div>
        <div fxLayout="row" class="margin-t-10" fxLayoutGap="20px">
            <div fxFlex i18n>Administrator</div>
            <div fxFlex *ngIf="box.users.admin[0]; let u">{{u.fullname}}</div>
        </div>

        <div fxLayout="row" class="margin-t-10" fxLayoutGap="20px" *ngIf="ticket.customer.full_name">
            <div fxFlex i18n>Customer Name</div>
            <div fxFlex> {{ticket.customer.full_name}}</div>
        </div>
        <div fxLayout="row" class="margin-t-10" fxLayoutGap="20px" *ngIf="ticket.customer.code">
            <div fxFlex i18n>Code ID</div>
            <div fxFlex> {{ticket.customer.code}}</div>
        </div>
        <div fxLayout="row" class="margin-t-10" fxLayoutGap="20px" *ngIf="ticket.customer.phone_number">
            <div fxFlex i18n>Phone Number</div>
            <div fxFlex> {{ticket.customer.phone_number}}</div>
        </div>
        <div fxLayout="row" class="margin-t-10" fxLayoutGap="20px" *ngIf="ticket.customer.segment">
            <div fxFlex i18n>Segment</div>
            <div fxFlex> {{ticket.customer.segment}}</div>
        </div>
        <div md-dialog-actions fxLayout="row" class="margin-t-10" fxLayoutGap="20px">
            <div fxFlex></div>
            <button fxFlex md-dialog-close class="btnFill uppercase" i18n>Close</button>
        </div>
    </div>
</div>