<md-toolbar>
    Counter Setting
    <a (click)="Go()" style="cursor: pointer">
        <i class="fa fa-arrow-right"></i> Go
    </a>
</md-toolbar>

<form [formGroup]="form">
    <h2> General Configuration</h2>
    <md-input-container>
        <input mdInput formControlName="branch_code" placeholder="Branch Code">
    </md-input-container>
    <md-input-container>
        <input mdInput formControlName="counter_code" placeholder="Counter Code">
    </md-input-container>

    <h2> Mini Mode View</h2>
    <mini-mode-form formControlName="mini_mode"></mini-mode-form>

    <h2> Advanced Configuration </h2>

    <md-tab-group>
        <md-tab label="Led">
            <md-input-container>
                <input mdInput type="number" min="0" formControlName="led_addr" placeholder="Addr Led">
            </md-input-container>
            <md-input-container>
                <input mdInput type="text" formControlName="led_com_port" placeholder="Led COM port">
            </md-input-container>

        </md-tab>
        <md-tab label="Recording">
            <md-checkbox formControlName="enable_recording">
                Enable Transaction Recording
            </md-checkbox>
        </md-tab>
    </md-tab-group>

</form>