<md-toolbar>
    <span i18n>Counter Setting</span>
    <a (click)="Go()" style="cursor: pointer">
        <i class="fa fa-arrow-right"></i>
        <span i18n>Go</span>
    </a>
</md-toolbar>

<form [formGroup]="form">

    <h2 i18n>General Configuration</h2>

    <md-input-container>
        <input mdInput formControlName="branch_code" placeholder="Branch Code" i18n-placeholder>
    </md-input-container>
    <md-input-container>
        <input mdInput formControlName="counter_code" placeholder="Counter Code" i18n-placeholder>
    </md-input-container>

    <h2 i18n>Mini Mode View</h2>

    <mini-mode-form formControlName="mini_mode"></mini-mode-form>

    <h2 i18n>Advanced Configuration</h2>

    <md-tab-group>
        <md-tab>
            <ng-template md-tab-label><span class="uppercase" i18n>Led</span></ng-template>
            <md-input-container>
                <input mdInput type="number" min="0" formControlName="led_addr" placeholder="Addr Led" i18n-placeholder>
            </md-input-container>
            <md-input-container>
                <input mdInput type="text" formControlName="led_com_port" placeholder="Led COM port" i18n-placeholder>
            </md-input-container>
        </md-tab>
        <md-tab>
            <ng-template md-tab-label><span class="uppercase" i18n>Recording</span></ng-template>
            <md-select formControlName="record_transaction" placeholder="Record Transaction">
                <md-option value="alway_on">Alway On </md-option>
                <md-option value="alway_off">Alway Off </md-option>
                <md-option value="inherit">Inherit </md-option>
            </md-select>
        </md-tab>
    </md-tab-group>
</form>