<p>Counter Setting</p>

<form [formGroup]="form">
    <md-input-container>
        <input mdInput formControlName="branch_code" placeholder="Branch Code">
    </md-input-container>
    <md-input-container>
        <input mdInput formControlName="counter_code" placeholder="Counter Code">
    </md-input-container>
    <md-input-container>
        <input mdInput type="number" min="0" formControlName="addr_led" placeholder="Addr Led">
    </md-input-container>

    <md-input-container>
        <input mdInput type="number" min="0" formControlName="mini_hight" placeholder="Height">
    </md-input-container>

    <md-input-container>
        <input mdInput type="number" min="0" formControlName="mini_width" placeholder="Width">
    </md-input-container>

    <md-input-container>
        <input mdInput type="text" formControlName="com_led" placeholder="Com Led">
    </md-input-container>

    <md-checkbox formControlName="enable_recording">
        Enable Transaction Recording
    </md-checkbox>

</form>

<div>
    <a routerLink="../workspace">Go</a>
</div>