<table class="table" style="width:300px" *ngFor="let summary of focus$ | async">
    <tbody>
        <tr>
            <td> Phòng giao dịch </td>
            <td> {{summary.branch_id | branchName}}</td>
        </tr>
        <tr>
            <td> SL. vé đã in</td>
            <td> {{printed(summary)}}</td>
        </tr>
        <tr>
            <td> SL. vé đợi </td>
            <td> {{summary.waiting}}</td>
        </tr>
        <tr>
            <td> SL. vé đang phục vụ </td>
            <td> {{summary.serving}}</td>
        </tr>
        <tr>
            <td> SL. vé đã phục vụ </td>
            <td> {{summary.finished}}</td>
        </tr>
        <tr>
            <td> SL. vé nhỡ </td>
            <td> {{summary.missed}}</td>
        </tr>
        <tr>
            <!--<td> SL. vé hủy </td>-->
            <!--<td> {{summary.cancellled}} </td>-->
        </tr>
    </tbody>
</table>

<h1> Khách hàng chưa được phục vụ </h1>

<table class="table">
    <thead>
        <th> STT </th>
        <th translate> TICKET_NUMBER </th>
        <th translate>SERVICE </th>
        <th translate> TIME_CREATE_TICKET</th>
    </thead>
    <tbody>
        <tr *ngFor="let t of waiting$ | async; let i = index">
            <td> {{i + 1}} </td>
            <td> {{t.cnum}}</td>
            <td> {{t.services | multipleServiceName}}</td>
            <td> {{t.ctime | localDayTime}}</td>
        </tr>
    </tbody>
</table>

<h1> Khách hàng đã được phục vụ </h1>

<table class="table">
    <thead>
        <th> STT </th>
        <th translate>STATE</th>
        <th translate> TICKET_NUMBER </th>
        <th translate>SERVICE </th>
        <th translate>COUNTER</th>
        <th translate>STAFF</th>
        <th translate> TIME_CREATE_TICKET</th>
        <th translate> TIME_CALL_TICKET </th>
    </thead>
    <tbody>
        <tr *ngFor="let t of served$ | async; let i = index">
            <td> {{i + 1}} </td>
            <td translate> {{t | ticketState}}</td>
            <td> {{t.cnum}} </td>
            <td> {{t.serving.service_id | serviceName}} </td>
            <td> {{t.serving.counter_id | counterName}}</td>
            <td> {{t.serving.user_id | userFullName}}</td>
            <td> {{t.ctime | localDayTime}}</td>
            <td> {{t.serving.mtime | localDayTime}} </td>
        </tr>
    </tbody>
</table>