<div *ngIf="node" id="folderUpload">
    <div fxLayout="row">
        <h1 fxFlex>Folder: {{node.name}} </h1>
        <h1 fxFlex="10" (click)="refresh()">
            <i class="fa fa-refresh pointer" color="primary"></i>
        </h1>
    </div>
    <h2 class="center" i18n>Files list</h2>
    <div fxLayout="row" class="margin-10-0">
        <h3 fxFlex i18n>File name</h3>
        <h3 fxFlex="10%" i18n>Detail</h3>
    </div>
    <div *ngFor="let d of node.rxChildren | async">
        <div class="divider"></div>
        <div fxLayout="row" class="margin-10-0">
            <a fxFlex class="pointer" (click)="focus($event, d)">{{ d.name }}</a>
            <div fxFlex="10%">
                <img class="iconDetail" src="./assets/img/icon/play.png" style="cursor: pointer" (click)="view(d)">
            </div>
            <div fxFlex="10%">
                <i class="fas fa-times pointer center" (click)="removeFile(d)"></i>
            </div>
        </div>
    </div>
    <div class="divider"></div>
    <div fxLayout="row" class="margin-t-20">
        <file-upload fxFlex #upload></file-upload>
        <button fxFlex="20%" class="btnFill" (click)="upload.open(node)" style="height: 27px">Upload</button>
    </div>
</div>