<app-env-sub-module i18n-title title="Ticket Number Format">
</app-env-sub-module>
<div class="animated fadeInLeft" *ngIf="showList$ | async">
    <app-datatable i18n-name name="Ticket Number Format" [data]="data$ | async" (action)="onActionRequest($event)">
        <app-table-field name="code" i18n-title title="Code"></app-table-field>
        <app-table-field name="format" i18n-title title="Number Format"></app-table-field>
        <app-table-field name="minnum" i18n-title title="Minimum Value"></app-table-field>
        <app-table-field name="maxnum" i18n-title title="Maximum Value"></app-table-field>
    </app-datatable>
</div>

<app-editor-view class="animated fadeInLeft" [isValid]="form.valid" *ngIf="form$ | async; let form" [title]="title" [isNew]="isNew$ | async" (action)="onActionConfirm($event, form.value)">
    <form [formGroup]="form" fxLayout="column">
        <div fxLayout="row" fxLayoutGap="20px" class="rowCtrl">
            <span fxFlex="20%" i18n>Code</span>
            <div fxFlex fxLayout="row" fxLayoutGap="5px">
                <span fxFlex="1%" class="valid-color" *ngIf="form.get('code').hasError('required')">*</span>
                <span fxFlex="1%" class="error" *ngIf="!form.get('code').hasError('required')">&nbsp;</span>
                <div fxFlex fxLayout="column" fxLayoutGap="2px">
                    <input fxFlex="100%" class="hl-input" type="text" formControlName="code" i18n-placeholder placeholder="Code">
                    <div fxFlex class="valid-color" *ngIf="form.get('code').hasError('pattern')">From 4 to 20 characters; Include number, character and _</div>
                    <div fxFlex class="valid-color" *ngIf="!form.get('code').hasError('pattern')">&nbsp;</div>
                    <div fxFlex class="valid-color" *ngIf="!form.get('code').hasError('pattern')">&nbsp;</div>
                </div>
            </div>
            <span fxFlex="20%" i18n>Number Format</span>
            <div fxFlex fxLayout="row" fxLayoutGap="5px">
                <span fxFlex="1%" class="valid-color" *ngIf="form.get('format').hasError('required')">*</span>
                <span fxFlex="1%" class="error" *ngIf="!form.get('format').hasError('required')">&nbsp;</span>
                <div fxFlex fxLayout="column" fxLayoutGap="2px">
                    <input fxFlex="100%" class="hl-input" type="text" formControlName="format" i18n-placeholder placeholder="Number Format">
                    <div fxFlex class="valid-color" *ngIf="form.get('format').hasError('pattern')">Format: First character(upper)%, then one number, last d character(upper). Eg: A%03dA</div>
                    <div fxFlex class="valid-color" *ngIf="!form.get('format').hasError('pattern')">&nbsp;</div>
                    <div fxFlex class="valid-color" *ngIf="!form.get('format').hasError('pattern')">&nbsp;</div>
                </div>
            </div>
        </div>
        <div fxLayout="row" fxLayoutGap="20px" class="rowCtrl">
            <span fxFlex="20%" i18n>Minimum Value</span>
            <div fxFlex fxLayout="row" fxLayoutGap="5px">
                <span fxFlex="1%" class="valid-color" *ngIf="form.get('minnum').hasError('required')">*</span>
                <span fxFlex="1%" class="error" *ngIf="!form.get('minnum').hasError('required')">&nbsp;</span>
                <input fxFlex class="hl-input" type="number" formControlName="minnum" i18n-placeholder placeholder="Minimum Value">
            </div>
            <span fxFlex="20%" i18n>Maximum Value</span>
            <div fxFlex fxLayout="row" fxLayoutGap="5px">
                <span fxFlex="1%" class="valid-color" *ngIf="form.get('maxnum').hasError('required')">*</span>
                <span fxFlex="1%" class="error" *ngIf="!form.get('maxnum').hasError('required')">&nbsp;</span>
                <input fxFlex class="hl-input" type="number" formControlName="maxnum" i18n-placeholder placeholder="Maximum Value">
            </div>
        </div>
    </form>
</app-editor-view>