<editor #edit [makeForm]="makeForm" [service]="service">
    <editor-title><span translate>List of Ticket Formats</span></editor-title>
    <form class="hl-form" *ngIf="edit.form" [formGroup]="edit.form">
        <span translate>Code</span>:
        <input class="hl-input" formControlName="code" placeholder="Code">
        <br><span translate>LANGAUGE_FORMAT</span>:
        <input class="hl-input" formControlName="format" placeholder="{{'LANGAUGE_FORMAT' | translate}}">
        <br> <span translate>LANGAUGE_VALUE_MIN</span>:
        <input class="hl-input" formControlName="minnum" type="number" placeholder="{{'LANGAUGE_VALUE_MIN' | translate}}">
        <br> <span translate>LANGAUGE_VALUE_MAX</span>:
        <input class="hl-input" formControlName="maxnum" type="number" placeholder="{{'LANGAUGE_VALUE_MAX' | translate}}">
        <br> <span translate>TICKET_TEMPLATE</span>:
        <app-quill-editor formControlName="template" rows="8" cols="40"></app-quill-editor>
    </form>
</editor>