<br>
<a routerLink="/admin/ui"><span translate>LABEL_BACK_LAYOUT</span></a>
<md-card class="demo-card">
    <md-card-title>
        <span translate>LABEL_LIST_SOUND</span>
        <a class="btpointer" (click)="editor()"> <span translate>BUTTON_ADD</span> </a>
    </md-card-title>
    <md-card-content>
        <table width="100%">
            <thead>
                <td><span translate>LABEL_NUMERICAL_ORDER</span></td>
                <td><span translate>LABEL_NAME</span></td>
                <td><span translate>LABEL_TYPE</span></td>
            </thead>
            <tr *ngFor="let voice of voices | async; let i = index">
                <td>{{i+1}}</td>
                <td>{{voice.name}}</td>
                <td>{{voice.type}}</td>
                <td>
                    <button md-button (click)="editor(voice)"> <span translate>BUTTON_EDIT</span> </button>
                    <button md-button [confirm]="[voice.id]" (done)="Delete($event)"> <span translate>BUTTON_DEL</span> </button>
                </td>
            </tr>
        </table>
    </md-card-content>
</md-card>