<br>
<a routerLink="/admin/ui">Quay lại giao diện</a>
<md-card class="demo-card">
    <md-card-title>
        Danh sách âm thanh
        <a (click)="editor()"> Thêm </a>
    </md-card-title>
    <md-card-content>
        <table width="100%">
            <thead>
                <td>STT</td>
                <td>Tên</td>
                <td>Loại</td>
            </thead>
            <tr *ngFor="let voice of voices | async; let i = index">
                <td>{{i+1}}</td>
                <td>{{voice.name}}</td>
                <td>{{voice.type}}</td>
                <td>
                    <button md-button (click)="editor(voice)"> Sửa </button>
                    <button md-button [confirm]="[voice.id]" (done)="Delete($event)">Xóa </button>
                </td>
            </tr>
        </table>
    </md-card-content>
</md-card>