@import '../../shared/style.scss';
#queueContainer {
    padding: 50px;
    height: 100%;
    // font-size: $font-size-default * 2;
    .border {
        height: 100%;
        position: relative;
        .tableName{
            height: 50px;
            max-height: none;
        }
        .totalCount {
            color: $key-color;
        }
        .searchBar{
            height: 50px;
            padding: 30px;
            .ctrlInput{
                margin: 0px;
                height: 100%;
                text-indent: 20px;
            }
        }
        .headerTable {
            background-color: $background-color;
            border-top: $border;
            border-bottom: $border;
            font-weight: $font-weight-default;
        }
        .row {
            border-bottom: $border;
            cursor: pointer;
        }
        .cell {
            text-align: center;
            margin: 15px;
            .icon {
                width: 15px;
                float: left;
                margin: 0 10px;
            }
            .ticketNum {
                float: left;
            }
        }
        .inputSearch {
            position: absolute;
            top: 2px;
            right: 2px;
            height: 17px;
            width: 30%;
            border: $border;
            border-radius: 3px;
        }
        .iconSearch {
            position: absolute;
            top: 0px;
            right: 2px;
            z-index: 2;
            cursor: pointer;
            width: 20px;
            margin: 7px;
        }
    }
    .queue {
        overflow: auto;
        width: 100%;
        height: 88%;
    }
}