<div id="queueContainer" class="" fxLayout="row" fxLayoutGap="50px">
  <div class="border" fxFlex>
    <div class="componentHeader">
      <span i18n>Waiting Ticket</span>
      <span class="totalCount">({{ticketsWaitingCount$ | async}})</span>
    </div>
    <div class="queue">
      <div fxLayout="row" class="headerTable">
        <span fxFlex class="cell" i18n>No.</span>
        <span fxFlex="50%" class="cell" i18n>Phone Number</span>
        <span fxFlex class="cell" i18n>Waiting Time</span>
      </div>
      <div fxLayout="row" class="row" *ngFor="let ticket of ticketsWaiting$ | async" [ticket-detail]="ticket" [ticket-highlight]="ticket">
        <div fxFlex class="cell">
          <ticket-icon [ticket]="ticket"></ticket-icon>
          <span>{{ticket.ticketNum}}</span>
        </div>
        <span fxFlex="50%" class="cell">{{ticket.cusPhoneNum}}</span>
        <timer fxFlex class="cell" [start]="ticket.createTime" [timeWarning]="maxWaitingMinute"></timer>
      </div>
    </div>
  </div>

  <!-- ---------------------&&----------------------- -->
  <div class="border" fxFlex>
    <div class="componentHeader">
      <span i18n>Cancelled Tickets</span>
      <span class="totalCount">({{ticketsCanceledCount$ | async}})</span>
      <input #ticket [class.hidden]="!show" style="padding:5px;" (keyup)="onSearch(ticket.value)" type="text" i18n-placeholder="Ticket Number"
        class="inputSearch" autofocus>
      <img src="./assets/img/icon/search.png" (click)="show = !show; ticket.value='';onSearch(ticket.value)" alt="Search" class="iconSearch">
    </div>
    <div class="queue">
      <div fxLayout="row" class="headerTable">
        <span fxFlex class="cell" i18n="Numerical Order">No.</span>
        <span fxFlex="50%" class="cell" i18n>Phone Number</span>
        <span fxFlex class="cell" i18n>Cancelled At</span>
      </div>
      <div fxLayout="row" class="row" *ngFor="let ticket of ticketsCanceled$ | async" [ticket-detail]="ticket" [ticket-highlight]="ticket">
        <div fxFlex class="cell">
          <ticket-icon [ticket]="ticket"></ticket-icon>
          <span>{{ticket.ticketNum}}</span>
        </div>
        <span fxFlex="50%" class="cell">{{ticket.cusPhoneNum}}</span>
        <span fxFlex class="cell">{{ticket.waitingTime | localDayTime}}</span>
      </div>
    </div>
  </div>
</div>