<div id="queueContainer" class="" fxLayout="row" fxLayoutGap="50px">
  <div class="border" fxFlex>
    <div class="componentHeader tableName">
      <span i18n>Waiting Ticket</span>
      <span class="totalCount">({{ticketsWaitingCount$ | async}})</span>
    </div>
    <div class="searchBar">
      <input #waitingTicket type="number" i18n-placeholder placeholder="(Search by ticket number/ phone number)" (keyup)="search('waiting', $event.target.value)" class="ctrlInput">
    </div>
    <div class="queue">
      <div fxLayout="row" class="headerTable">
        <span fxFlex class="cell" i18n>No.</span>
        <span fxFlex="50%" class="cell" i18n>Phone Number</span>
        <span fxFlex class="cell" i18n>Waiting Time</span>
      </div>
      <div fxLayout="row" class="row" *ngFor="let ticket of ticketsWaiting$ | async">
        <div fxFlex class="cell">
          <ticket-icon [ticket]="ticket" width="30px"></ticket-icon>
          <span>{{ticket.cnum}}</span>
        </div>
        <span fxFlex="50%" class="cell">{{ticket.customer.phone_number}}</span>
        <timer fxFlex class="cell" [start]="ticket.ctime" [timeWarning]="maxWaitingMinute"></timer>
      </div>
    </div>
  </div>

  <!-- ---------------------&&----------------------- -->
  <div class="border" fxFlex>
    <div class="componentHeader tableName">
      <span i18n>Cancelled Tickets</span>
      <span class="totalCount">({{ticketsCanceledCount$ | async}})</span>
    </div>
    <div class="searchBar">
      <input #canceledTicket type="number" i18n-placeholder placeholder="(Search by ticket number/ phone number)" (keyup)="search('canceled', $event.target.value)" class="ctrlInput">
    </div>
    <div class="queue">
      <div fxLayout="row" class="headerTable">
        <span fxFlex class="cell" i18n="Numerical Order">No.</span>
        <span fxFlex="50%" class="cell" i18n>Phone Number</span>
        <span fxFlex class="cell" i18n>Cancelled At</span>
      </div>
      <div fxLayout="row" class="row" *ngFor="let ticket of ticketsCanceled$ | async" 
        appConfirm="Do you want to restore this ticket?" width="850px" platform="mobile" (confirm)="restore(ticket)" i18n-appConfirm>
        <div fxFlex class="cell">
          <ticket-icon [ticket]="ticket" width="30px"></ticket-icon>
          <span>{{ticket.cnum}}</span>
        </div>
        <span fxFlex="50%" class="cell">{{ticket.customer.phone_number}}</span>
        <span fxFlex class="cell">{{ticket.mtime | localDayTime}}</span>
      </div>
    </div>
  </div>
</div>