@import '../../shared/style.scss';
#queueContainer {
    padding: 2vw;
    height: 100%;
    font-size: $font-size-default * 1.5;
    .border {
        height: 100%;
        position: relative;
        .tableName{
            height: 40px;
            max-height: none;
        }
        .totalCount {
            color: $key-color;
        }
        .searchBar{
            height: 40px;
            padding: 3%;
            .ctrlInput{
                margin: 0px;
                height: 94%;
                text-indent: 7px;
                font-size: $font-size-default * 1.5;
            }
        }
        .headerTable {
            background-color: $background-color;
            border-top: $border;
            border-bottom: $border;
            font-weight: $font-weight-default;
        }
        .row {
            border-bottom: $border;
            cursor: pointer;
        }
        .cell {
            text-align: center;
            margin: 17px 0;
            // .icon {
            //     width: 15px;
            //     float: left;
            //     margin: 0 10px;
            // }
            // .ticketNum {
            //     float: left;
            // }
        }
        .inputSearch {
            position: absolute;
            top: 2px;
            right: 2px;
            height: 17px;
            width: 30%;
            border: $border;
            border-radius: 3px;
        }
        .iconSearch {
            position: absolute;
            top: 0px;
            right: 2px;
            z-index: 2;
            cursor: pointer;
            width: 20px;
            margin: 7px;
        }
    }
    .queue {
        overflow: auto;
        width: 100%;
        height: 65vh;
    }
}