<app-env-sub-module i18n-title title="User"></app-env-sub-module>

<editor #edit i18n-name name="User" i18n-name [service]="service" [makeForm]="makeForm">
    <form class="hl-form" *ngIf="edit.form" [formGroup]="edit.form">
        <span i18n>Username</span>:
        <input class="hl-input" type="text" formControlName="username" i18n-placeholder placeholder="Username" style="width: 100%;"><br>
        <span i18n>Full Name</span>:
        <input class="hl-input" type="text" formControlName="fullname" i18n-placeholder placeholder="Full Name" style="width: 100%;"><br>
        <span i18n>Password</span>:
        <input class="hl-input" type="password" formControlName="password" i18n-placeholder placeholder="Password" style="width: 100%;">
        <br>
        <span i18n>Role</span>:
        <select class="hl-select" formControlName="role">
            <option *ngFor="let ro of roles" [value]="ro.code">{{ro.name}}</option>
        </select><br>
        <span i18n>Location</span>:
        <branch-picker formControlName="branch_id"></branch-picker>
    </form>
    <editor-field name="username" i18n-title title="Username"></editor-field>
    <editor-field name="fullname" i18n-title title="Full Name"></editor-field>
    <editor-field name="branch" i18n-title title="Location"></editor-field>
</editor>