<editor #edit [name]="level | branchLevelName" [makeForm]="makeForm" [service]="service">
    <editor-title> <span translate>LABEL_LIST</span>&nbsp;{{level | branchLevelName| translate}}</editor-title>
    <form *ngIf="edit.form" [formGroup]="edit.form">
        <span translate>LABEL_NAME</span>:
        <input type="text" formControlName="name" placeholder="{{'LABEL_NAME' | translate}}"><br>
        <span translate>LABEL_CODE</span>:
        <input type="text" formControlName="code" placeholder="{{'LABEL_CODE' | translate}}">

        <div>
            <label style="margin-right: 14px;">{{level + 1 | branchLevelName| translate}}</label>
            <select formControlName="parent">
                <option *ngFor="let br of parents | async" [value]="br.id">{{br.name}}</option>
            </select>
        </div>
    </form>
</editor>