<div id="focusComponent">
    <h2 class="header uppercase"> </h2>
    <div class="nav">
        <button class="btnClear btnMargin uppercase" (click)="goBackBranchList()">go back</button>
    </div>
    <div>
        <span> Counter:</span>
        <table class="tableCtrl">
            <thead class="">
                <th i18n>Store</th>
                <th i18n>Name</th>
                <th i18n>State</th>
                <th i18n>Counter On</th>
                <th i18n>Counter Off</th>
                <th i18n>Total time on(hour)</th>
            </thead>
            <tbody>
                <tr *ngFor="let s of counter$ | async" class="branchSummary">
                    <td> {{s.branch_id | branchName}} </td>
                    <td> {{s.name}}</td>
                    <td> {{s.state}} </td>
                    <td> {{s.on_at | timeToDate}} </td>
                    <td> {{s.off_at | timeToDate}} </td>
                    <td> {{s.total_on | timeToHourDeviceTrack}} </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <span>Kiosk</span>:
        <div>
            <table class="tableCtrl">
                <thead class="">
                    <th i18n>Store</th>
                    <th i18n>Name</th>
                    <th i18n>State</th>
                    <th i18n>Kiosk On</th>
                    <th i18n>Kiosk Off</th>
                    <th i18n>Total time on(hour)</th>
                </thead>
                <tbody>
                    <tr *ngFor="let s of kisok$ | async" class="branchSummary">
                        <td> {{s.branch_id | branchName}} </td>
                        <td> {{s.name}}</td>
                        <td> {{s.state}} </td>
                        <td> {{s.on_at | timeToDate}} </td>
                        <td> {{s.off_at | timeToDate}} </td>
                        <td> {{s.total_on | timeToHourDeviceTrack}} </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>