<div style="padding:10px 10px;">
    <div *ngIf="!(display | async)">
        <div class="service" translate> SERVICE_NAME</div>
        <div class="padding">
        </div>
        <div class="more">
            <div class="so">
                <div class="title" translate> NUMBER_SERVING </div>
                <div class="item">

                </div>
            </div>

            <div class="tg">
                <div class="title" translate>TIME_SERVING</div>
                <div class="item">

                </div>
            </div>
        </div>
    </div>
</div>