.sp {
    width: 100%;
}

.so {
    width: 50%;
    text-align: center;
    border-right: 0.5px solid #cccccc;
}

.tg {
    width: 50%;
    text-align: center;
}

.padding {
    /*height: 15px;
    background-color: #fff;*/
    border-left: 0.5px solid #cccccc;
    border-right: 0.5px solid #cccccc;
}

.service {
    border: 0.5px solid #cccccc;
    text-align: center;
    background-color: #dee0e0;
    height: 40px;
    line-height: 40px;
}


/*.more {
    border: 0.5px solid #cccccc;
    border-top: 0px solid;
    background-color: #fff;
    height: 150px;
    display: flex;
}*/

.more>span {
    flex: 1;
    text-align: center;
    font-size: 24px;
    font-weight: normal;
}

.more:nth-child(2) {
    border-left: 0.5px solid #cccccc;
}

:host {
    align-content: center;
    justify-content: center;
}