<app-env-sub-module i18n-title title="Kiosk"></app-env-sub-module>
<div class="animated fadeInLeft" *ngIf="showList$ | async">
    <app-datatable i18n-name name="Kiosk" [data]="data$ | async" (action)="onActionRequest($event)">
        <app-table-field name="name" i18n-title title="Name"></app-table-field>
        <app-table-field name="branch" i18n-title title="Location"></app-table-field>
    </app-datatable>
</div>

<app-editor-view class="animated fadeInLeft" *ngIf="form$ | async; let form" [isValid]="form.valid" [isNew]="isNew$ | async" title="Kiosk" i18n-title (action)="onActionConfirm($event, form.value)">
    <form [formGroup]="form" id="editKioskForm" fxLayout="column">
        <div fxLayout="row" class="rowCtrl">
            <span fxFlex="20%" i18n>Code</span>
            <span fxFlex="2%" class="valid-color" *ngIf="form.get('code').hasError('required')">*&nbsp;</span>
            <span fxFlex="2%" *ngIf="!form.get('code').hasError('required')">&nbsp;</span>
            <div fxFlex fxLayout="column" fxLayoutGap="2px">
                <input fxFlex="100%" class="ctrlInput" type="text" formControlName="code" i18n-placeholder="Code">
                <div fxFlex class="valid-color" *ngIf="form.get('code').hasError('pattern')">From 4 to 20 characters; Include number, character and _</div>
                <div fxFlex class="valid-color" *ngIf="!form.get('code').hasError('pattern')">&nbsp;</div>
            </div>
            <div fxFlex="2%"></div>

            <span fxFlex="10%" i18n>Name</span>
            <span fxFlex="2%" class="valid-color" *ngIf="form.get('name').hasError('required')">*&nbsp;</span>
            <span fxFlex="2%" *ngIf="!form.get('name').hasError('required')">&nbsp;</span>
            <div fxFlex fxLayout="column" fxLayoutGap="2px">
                <input fxFlex="100%" class="ctrlInput" type="text" formControlName="name" i18n-placeholder="Name">
                <div fxFlex class="valid-color" *ngIf="form.get('name').hasError('pattern')">At least 4 characters</div>
                <div fxFlex class="valid-color" *ngIf="!form.get('name').hasError('pattern')">&nbsp;</div>
            </div>
        </div>
        <div fxLayout="row" class="rowCtrl">
            <span fxFlex="20%" i18n="Default Kiosk Vip Codes">Fixed Vip Codes</span>
            <span fxFlex="2%">&nbsp;</span>
            <input fxFlex class="ctrlInput" type="text" formControlName="vcodes" i18n-placeholder="Vip Codes">
            <div fxFlex="2%"></div>
            <span fxFlex="10%" i18n="Inherit kiosk attributes">Inherit From</span>
            <span fxFlex="2%">&nbsp;</span>
            <select fxFlex class="hl-select" formControlName="parent_id">           
                <option value="">--None--</option>
                <option *ngFor="let ki of kiosks | async" [value]="ki.id"> {{ki.name}}</option> 
            </select>
        </div>
        <div fxLayout="row" class="rowCtrl">
            <span fxFlex="20%">Layout</span>
            <span fxFlex="2%">&nbsp;</span>
            <select fxFlex class="hl-select" formControlName="layout_id">
                <option value="">--None--</option>
                <option *ngFor="let ly of layouts | async" [value]="ly.id"> {{ly.name}}</option> 
            </select>
            <a *ngIf="!(isAdminStandard$ | async)" fxFlex="2%" class="right" [routerLink]="layoutEditLink$ | async" queryParamsHandling="merge">
                <i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i>
            </a>
            <div *ngIf="isAdminStandard$ | async" fxFlex="2%"></div>
            <span fxFlex="10%" i18n>Ticket Layout</span>
            <span fxFlex="2%">&nbsp;</span>
            <select fxFlex class="hl-select" formControlName="tlayout_id">
                <option value="">--None--</option>
                <option *ngFor="let tl of ticketlayouts | async" [value]="tl.id"> {{tl.name}}</option> 
            </select>
        </div>
        <div fxLayout="row" class="rowCtrl">
            <span fxFlex="20%" i18n>Location</span>
            <span fxFlex="2%" class="valid-color" *ngIf="form.get('branch_id').hasError('required')">*&nbsp;</span>
            <span fxFlex="2%" *ngIf="!form.get('branch_id').hasError('required')">&nbsp;</span>
            <branch-picker scope="store" fxFlex level="0" formControlName="branch_id"></branch-picker>
            <div fxFlex="2%"></div>
            <span fxFlex="10%" i18n>Services</span>
            <span fxFlex="2%">&nbsp;</span>
            <service-list fxFlex class="border" formControlName="services" [services]="services$ | async"></service-list>
        </div>
        <!-- <div fxLayout="row" class="rowCtrl">
            <span fxFlex="20%" i18n>Resources</span>
            <span fxFlex="2%">&nbsp;</span>
            <app-resource-editor fxFlex formControlName="layout_resources"></app-resource-editor>
        </div> -->
    </form>
</app-editor-view>