<app-env-sub-module i18n-title title="Kiosk"></app-env-sub-module>
<editor #edit i18n-name name="Kiosk" [makeForm]="makeForm" [service]="service">
    <form class="hl-form form" *ngIf="edit.form" [formGroup]="edit.form">

        <span i18n>Code</span>
        <input class="hl-input" type="text" formControlName="code" i18n-placeholder="Code"><br>
        <span i18n>Name</span>:<input class="hl-input" type="text" formControlName="name" i18n-placeholder="Name"><br>
        <span i18n="Default Kiosk Vip Codes">Fixed Vip Codes</span>: <input class="hl-input" type="text" formControlName="vcodes" i18n-placeholder="Vip Codes">

        <br> <span i18n="Inherit kiosk attributes">Inherit from</span>:
        <select class="hl-select" formControlName="parent_id">           
            <option *ngFor="let ki of kiosks | async" [value]="ki.id"> {{ki.name}}</option> 
        </select>

        <br> <span i18n>Layout</span>
        <a routerLink="/admin/center/layout" queryParamsHandling="merge" [queryParams]="{tag: 'kiosk'}"> 
             Edit
        </a>
        <select class="hl-select" formControlName="layout_id">
            <option *ngFor="let ly of layouts | async" [value]="ly.id"> {{ly.name}}</option> 
        </select>
        <br> <span i18n>Ticket layout</span>
        <select class="hl-select" formControlName="tlayout_id">
            <option *ngFor="let tl of ticketlayouts | async" [value]="tl.id"> {{tl.name}}</option> 
        </select>

        <br><span i18n>Services</span>:
        <div class="">
            <service-list formControlName="services" [services]="services | async">
            </service-list>
        </div>

        <hr> <span i18n>Location</span>
        <branch-picker level="0" formControlName="branch_id"></branch-picker>
    </form>
    <editor-field name="name" i18n-title title="Name"></editor-field>
    <editor-field name="branch" i18n-title title="Location"></editor-field>
</editor>