/*button {
    width: 100px;
    height: 30px;
    border-radius: 3px;
    line-height: 30px;
    background-color: #0b8fda;
    color: #fff;
    margin-top: 20px;
    border: 0px solid;
}

.hl-select-chart {
    float: right;
    width: 150px;
    height: 30px;
    border-radius: 3px;
    margin: 0px 20px 15px 0px;
}

.hl-chart {
    width: 100%;
    height: 300px;
}

.hl-chart>[pie-chart] {
    display: inline-block;
    width: 100%;
    height: 100%;
}*/