<div id="jsonForm">
    <div fxLayout="row" class="border">
        <textarea fxFlex rows="10" style="border: none; outline: none;" [ngModel]="text" (ngModelChange)="onChange($event)" [disabled]="disableEditTextArea"></textarea>
    </div>
    <h3 *ngIf="invalid" style="color:red; text-align: center">Text input is not a valid json string</h3>
    <div class="fab-container">
        <button mat-mini-fab color="primary" class="fab-editCode" (click)="disableEditTextArea = !disableEditTextArea">
        <span *ngIf="disableEditTextArea">Edit</span>
        <span *ngIf="!disableEditTextArea">Done</span>
    </button>
    </div>
</div>