@import '../shared/style.scss';
#actions {
    // height: 10%;
    min-height: 40px;
    padding: 1.5% 0;
}

button[disabled] {
    cursor: not-allowed;
    // background-color: $background-color-title;
    // color: $text-color;
}

@media only screen and (max-width: 600px) {
    #actions {
        .btnFill,
        .btnGreen {
            font-size: $font-size-default - 2px;
        }
    }
}