#historyReport{
    $primary-color: #0b8fdb;
    $font-size: 11px;
    .filterHistory{
        .inputFilter{
            width: 40px;
            display: inline-block;
            margin-left: 15px;
            font-size: $font-size;
            text-indent: 5px;
        }
        .waitTime{
            display: inline-block;
            width: 20vw;
        }
        .serveTime{
            display: inline-block;
            width: 20vw;
        }
        .feedback{
            float: right;
            position: relative;
            top: -18px;
            left: -100px;
            width: 300px;
            strong{
                display: inline-block;
            }
            select{
                display: inline-block;
                margin-left: 15px;
                font-size: $font-size;
                text-indent: 5px;
            }
        }
        .note{
            font-size: $font-size - 1px;
            margin-left: 5px;
        }
    }
}
#report_history_modal{
    .detailTicket{
        width: 100%;
        border-spacing: 0px;
        .ctrlLable{
            padding-left: 20px;
            width: 50%;
        }
        td{
            padding: 10px 0;
        }
    }
    .cusDetail{
        padding: 10px 20px;
    }
    .ctrlBtn{
        margin: 30px 20px;
    }
}