@import '../../../shared/style.scss';
#modal-history{
    .detailTicket{
        width: 90%;
        margin: auto;
        td{
            padding: 5px 0;
        }
    }
    .cusDetail{
        padding: 5px 3px;
        width: 90%;
        margin: auto;
    }
}