/*thead {
    background-color: #f4f4f4;
    height: 300px;
    font-size: 12px;
    border-bottom: 1px solid #a8a8aa;
}

table tbody tr:nth-child(even) {
    background: #f1f9fc;
}

table tbody tr:nth-child(odd) {
    background: #ffffff;
}

td {
    height: 30px;
    text-align: center;
}

table {
    border-bottom: 1px solid #a8a8aa;
    width: 100%;
}*/


/*
.search-table {
    table-layout: fixed;
    margin: 0px auto 0px auto;
}

.search-table-outter {
   
    border: 1px solid gray;
    width: 100%;
    max-width: 100%;
}

.hl-stt-history {
   
    min-width: 50px;
}

.hl-btn-history {
    margin-right: 2px;
    border: 1px solid #3db1f5;
    background-color: #fff;
    color: #3db1f5;
    border-radius: 2px;
    height: 30px;
}

.hl-btn-history.active {
    background-color: #3db1f5;
    border: 1px solid #a8a8aa;
    color: white;
}

.hl-btn-history.first {
    background-color: #fff;
    border: 1px solid #a8a8aa;
    color: #a8a8aa;
    cursor: not-allowed;
}

.hl-btn-history.last {
    background-color: #fff;
    border: 1px solid #a8a8aa;
    color: #a8a8aa;
    cursor: not-allowed;
}

.hl-footer-history {
    display: flex;
    margin-top: 15px;
}

.hl-info-history {
    flex: 1 1 60px;
    text-align: left;
}

.hl-pagination-history {
    display: flex;
    flex: 1 1 200px;
    text-align: right;
}

.hl-pagination-history>button {
    flex: 0 1 20px;
}

.report-scrollbar {
    overflow: scroll;
    width: 100%;
    max-width: 100%;
}

.td-date-rp {
    min-width: 105px;
}

.td-string-rp {
    min-width: 200px;
}

.td-counter-rp {
    min-width: 80px;
}

.td-number-rp {
    min-width: 80px;
}

.hl-detail-history {
    text-align: center;
    color: red;
    font-size: 18px;
    font-weight: 700;
}

.hl-exportf-history {
    float: right;
    margin-top: 20px;
}*/