#historyReport{
    $primary-color: #0b8fdb;
    $font-size: 11px;
    .filterHistory{
        .inputFilter{
            width: 40px;
            display: inline-block;
            margin-left: 15px;
            font-size: $font-size;
            text-indent: 5px;
        }
        .waitTime{
            display: inline-block;
            width: 260px;
        }
        .serveTime{
            display: inline-block;
            width: 260px;
        }
        .feedback{
            float: right;
            position: relative;
            top: -21px;
            left: -100px;
            width: 300px;
            strong{
                display: inline-block;
            }
            select{
                display: inline-block;
                margin-left: 15px;
                font-size: $font-size;
                text-indent: 5px;
            }
        }
        .note{
            font-size: $font-size - 1px;
            margin-left: 5px;
        }
    }
    .content{
        margin-top: 20px;
        border: 1px solid #a7a9ac;
        border-spacing: 0;
        width: 100%;
        thead{
            text-align: left;
            th{
                padding: 5px;
                background-color: #dee0e0;
            }
        }
        tbody{
            text-align: left;
            td{
                padding: 10px;
            }
            .iconDetail{
                width: 13px;
            }
        }
    }
}