<div #main id="generic-form" *ngIf="record" class="report_history_modal">
    <h1 class="modal-header">
        <span>Edit</span>
        <span> {{record.name}}</span>
    </h1>
    <div class="padding-20">
        <h2 class="center margin-t-0">
            <span>Type</span>
            <span>: {{record.type}}</span>
        </h2>
        <div [ngSwitch]="record.type">
            <div *ngSwitchCase="'text'">
                <app-text-form [(ngModel)]="record.data"></app-text-form>
            </div>
            <div *ngSwitchCase="'image'">
                <app-image-form [(ngModel)]="record.data"></app-image-form>
            </div>
            <div *ngSwitchCase="'videos'">
                <app-video-form [(ngModel)]="record.data"></app-video-form>
            </div>
            <div *ngSwitchCase="'repeater'">
                <app-repeater-form [(ngModel)]="record.data"></app-repeater-form>
            </div>
            <div *ngSwitchDefault>
                <json-text-form [(ngModel)]="record.data"></json-text-form>
            </div>
        </div>
        <div class="border margin-b-20">
            <accordion>
                <accordion-title class="accordionTitle margin-t-15">
                    <span i18n>Show Code</span>
                </accordion-title>
                <div fxLayout="row">
                    <!--<textarea fxFlex rows="10" style="border: none" [disabled]="disableEditTextArea">{{record.data | json}}</textarea>-->
                    <json-text-form [(ngModel)]="record.data" style="width: 100%;" [disabled]="disableEditTextArea"></json-text-form>
                </div>
                <div class="fab-container">
                    <button md-mini-fab color="primary" class="fab-editCode" (click)="toggleEditable()">
                        <span *ngIf="disableEditTextArea">Edit</span>
                        <span *ngIf="!disableEditTextArea">Done</span>
                    </button>
                </div>
            </accordion>
        </div>

        <div fxLayout="row" fxLayoutGap="10px">
            <button fxFlex class="btnClear" (click)="Cancel()">Cancel</button>
            <button fxFlex class="btnFill" (click)="Save()">Ok</button>
        </div>
    </div>
</div>