<div #main id="generic-form" class="report_history_modal">
    <div *ngIf="record">
        <h1 class="modal-header"><span>Edit Resource</span>
            <{{record.name}}>
        </h1>
        <div [ngSwitch]="record.type">
            <div *ngSwitchCase="'text'">
                <app-text-form [(ngModel)]="record.data"></app-text-form>
            </div>
            <div *ngSwitchCase="'image'">
                <app-image-form [(ngModel)]="record.data"></app-image-form>
            </div>
            <div *ngSwitchCase="'videos'">
                <app-video-form [(ngModel)]="record.data"></app-video-form>
            </div>
            <div *ngSwitchCase="'repeater'">
                <app-repeater-form [(ngModel)]="record.data"></app-repeater-form>
            </div>
            <div *ngSwitchDefault>
                <json-text-form [(ngModel)]="record.data"></json-text-form>
            </div>
        </div>
    </div>
    <div fxLayout="row" fxLayoutGap="10px">
        <button fxFlex class="btnFill margin-top margin-bot margin-left" (click)="Cancel()">Cancel</button>
        <button fxFlex class="btnFill margin-top margin-bot margin-right" (click)="Save()">Ok</button>
    </div>
</div>