<div id="sta" class="componentBorder">
    <div class="componentHeader">
        <span i18n>Statistic</span>
    </div>
    <div fxLayout="row" class="tabs">
        <div fxFlex class="tabCtrl" [class.active]="showFinished$ | async" (click)="showFinished()">
            &nbsp;<span i18n>Finished Transaction</span>
            <!-- <span class="hl-count">{{fc | async}}</span>) &nbsp;-->
            <span>&nbsp; ({{fcount$ | async}}) &nbsp; </span>
        </div>
        <div fxFlex class="tabCtrl" [class.active]="showCancelled$ | async" (click)="showCancelled()">
            <span i18n>Cancel Transaction</span>
            <!--<span class="hl-count">&nbsp;({{cc | async}}) &nbsp;</span>-->
            <span>&nbsp;({{ccount$ | async}}) &nbsp;</span>
        </div>
    </div>
    <bar [data]="data$ | async"></bar>
</div>
<search></search>