<div id="sta" class="componentBorder">
    <div class="componentHeader">
        <span translate>LANGAUGE_STAT</span>
    </div>
    <div fxLayout="row" class="tabs">
        <div fxFlex class="tabCtrl" [class.active]="showFinished$ | async" (click)="showFinished()">
            &nbsp;<span translate> LANGAUGE_SERVICE_FINISH</span>
            <!-- <span class="hl-count">{{fc | async}}</span>) &nbsp;-->
            <span>&nbsp; ({{fcount$ | async}}) &nbsp; </span>
        </div>
        <div fxFlex class="tabCtrl" [class.active]="showCancelled$ | async" (click)="showCancelled()">
            <span translate>LANGAUGE_SERVICE_CANCEL</span>
            <!--<span class="hl-count">&nbsp;({{cc | async}}) &nbsp;</span>-->
            <span>&nbsp;({{ccount$ | async}}) &nbsp;</span>
        </div>
    </div>
    <bar [data]="data$ | async"></bar>
</div>
<search></search>