.hide,
.hidden {
    display: none;
}

.inline {
    display: inline-block;
}

.pointer {
    cursor: pointer;
    &:hover {
        color: green;
    }
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.uppercase {
    text-transform: uppercase;
}

.capitalize {
    text-transform: capitalize;
}

[height100] {
    height: 100%;
}