@import '../shared/style.scss';
#actions {
    height: 10%;
    padding: 1.5% 0;
}

@media only screen and (max-width: 600px) {
    #actions {
        .btnFill,
        .btnGreen{
            font-size: $font-size-default - 2px;
        }
    }
}