<div id="actions" fxLayout="row" fxLayoutGap="2vw">
    <button class="uppercase btnFill" fxFlex (click)="Next()" [class.hidden]="auto_next$ | async">
        <ng-container i18n="Counter Button: Next">Next</ng-container>
    </button>
    <button class="uppercase btnRed" fxFlex (click)="NoNext()" [class.hidden]="!(auto_next$ | async)">
        <ng-container i18n="Counter Button: Auto Next">Auto Next</ng-container>
    </button>
    <button class="uppercase btnFill" [disabled]="!ticket" fxFlex (click)="Recall()"> 
        <ng-container i18n="Counter Button: Recall Ticket">Recall</ng-container>
    </button>
    <button class="uppercase btnFill" [disabled]="!ticket" fxFlex (click)="Move()" fxShow.xs="false"> 
        <ng-container i18n="Counter Button: Move Ticket">Move</ng-container>
    </button>
    <button class="uppercase btnRed" [disabled]="!ticket" fxFlex appConfirm="Are you sure to delete?" (confirm)="Delete()" fxShow.xs="false">
        <ng-container i18n="Counter Button: Delete Ticket">Delete</ng-container>
    </button>
    <button class="uppercase btnRed" *ngIf="hasMiss" [disabled]="!ticket" fxFlex (click)="Miss()" fxShow.xs="false">
        <ng-container i18n="Counter Button: Miss Ticket">Miss</ng-container>
    </button>
    <button class="uppercase btnGreen" [disabled]="!ticket" fxFlex (throttle)="Finish()" throttle>
        <ng-container i18n="Counter Button: Finish Ticket">Finish</ng-container>
    </button>
</div>