<div *ngIf="!(busy$ | async)" class="border emptyAndServing" fxShow.xs="false">
    <div class="componentHeader">
        <span i18n>Service Name</span>
    </div>

    <div fxLayout="row" class="wrap">
        <div fxFlex="50%" class="leftBox" i18n>Serving Ticket</div>

        <div fxFlex="50%" class="rightBox" i18n>Serving Time</div>
    </div>
</div>

<div *ngIf="!(busy$ | async)" fxShow.gt-xs="false" class="emptyAndServing" fxLayout="row">
    <div fxFlex="75%">
        <div i18n>Ticket</div>
        <div class="holder"></div>
    </div>
    <div fxFlex class="servingTimeContainer">
        <div i18n>Time</div>
        <div class="holder"></div>
    </div>
</div>

<ticket-action></ticket-action>