@import '../shared/style.scss';
.emptyAndServing {
    height: 28.5vh;
    .wrap {
        height: 85%;
        .leftBox,
        .rightBox {
            height: 25vh;
            padding: 20px;
            text-align: center;
            font-size: $font-size-default + 3;
        }
        .rightBox {
            border-left: $border;
        }
        .content {
            margin-top: 12px;
            .icon {
                width: 40px;
                margin: 0 10px;
            }
            .number {
                font-size: $font-size-default * 7;
                color: $key-color;
            }
            @media only screen and (max-width: 1200px) {
                .number {
                    font-size: $font-size-default * 4;
                }
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .emptyAndServing{
        text-align: center;
        span{
            font-weight: $font-weight-default + 200;
            position: relative;
            top: -5px;
            left: 5px;
        }
        .holder{
            width: 100%;
            height: 22px;
        }
        .servingTimeContainer{
            border-left: $border;
            .servingTime{
                line-height: 20px;
            }
        }
    }
}

.servingMini{
    @extend .emptyAndServing;
    height: 65px;
}

.actionMini{
    // position: absolute;
    // bottom: 0px;
    width: 100%;
}

.cover-top{
    position: relative;
    display: inline-block;
    height: 100%;
    i{
        cursor: pointer;
    }
    ul{
        position: absolute;
        top: 101%;
        left: -25%;
        background-color: #fff;
        margin: 0;
        padding: 0;
        list-style: none;
        border-top: 0;
        border: 1px solid #666;
        min-width: 200px;
        display: none;
        &.active{
            display: block;
        }
        li{
            text-transform: uppercase;
            font-size: $font-size-default + 1;
            cursor: pointer;
            padding: 5px 10px;
            &:hover{
                background-color: #0b8fdb;
                color: #fff;
            }
            &+li{
                border-top: 1px solid #ebebeb;
            }
            
        }
    }
}