<div fxShow.xs="false" class="border emptyAndServing">
    <div class="componentHeader">
        <span>{{ticket.service_name}}</span>
    </div>

    <div fxLayout="row" class="wrap">
        <div fxFlex="50%" class="leftBox">
            <div i18n>Serving Ticket</div>
            <div class="content">
                <ticket-icon width="40px" widthIconBooking="20px" [ticket]="ticket"></ticket-icon>
                <span class="number">{{ticket.cnum}}</span>
            </div>
        </div>

        <div fxFlex="50%" class="rightBox">
            <div i18n>Serving Time</div>
            <div class="content">
                <img class="icon" src="./assets/img/icon/time.png" alt="Time">
                <timer class="number" [start]="ticket.mtime" [timeWarning]="maxServingMinute"></timer>
            </div>
        </div>

    </div>
</div>

<div fxShow.gt-xs="false" class="servingMini" fxLayout="row">
    <div fxFlex="80%">
        <p><b i18n>Ticket</b></p>
        <div>
            <ticket-icon width="20px" widthIconBooking="12px" [ticket]="ticket"></ticket-icon>
            <span>{{ticket.cnum}} - </span>
            <span *ngIf="ticket.customer.first_name">{{ticket.customer.first_name}}</span>
            <span *ngIf="!ticket.customer.first_name">CLIENTE</span>
        </div>
    </div>
    <div fxFlex class="servingTimeContainer">
        <p><b i18n>Time</b></p>
        <timer class="servingTime" [start]="ticket.mtime" [timeWarning]="maxServingMinute"></timer>
    </div>
</div>

<ticket-action [ticket]="ticket" class="actionMini"></ticket-action>
<div class="divider"></div>
<customer-info fxShow.xs="false" [customer]="ticket.customer"></customer-info>