#cus-sum{
    .standard_exceeded_waiting {
        height: 10px;
        text-align: right;
        float: left;
        border-radius: 15px;
        background: -webkit-linear-gradient(left, #109619, #109619 + 50);
    }
    .standard_exceeded_serving{
        @extend .standard_exceeded_waiting;
        background: -webkit-linear-gradient(left, #ff9a00, #ff9a00 + 50);
    }
    .hl-max-sum {
        width: 100%;
        height: 10px;
        background-color: #dee0e0;
        border-radius: 15px;
    }
    .hl-tl-sum {
        font-size: 14px;
        font-weight: 600;
    }
    .hl-ct-sum {
        font-size: 11px;
        margin-top: 10px;
        margin-bottom: 2px;
    }
    .hl-giaodich {
        color: #008eef;
        float: right;
    }
}