#cus-sum{
    .hl-gd-sum {
        height: 10px;
        text-align: right;
        float: left;
        border-radius: 15px;
        background: -webkit-linear-gradient(left, #03c2df, #008eef);
        -webkit-background-clip: box;
    }
    .hl-max-sum {
        width: 100%;
        height: 10px;
        background-color: #dee0e0;
        border-radius: 15px;
    }
    .hl-tl-sum {
        font-size: 14px;
        font-weight: 600;
    }
    .hl-ct-sum {
        font-size: 11px;
        margin-top: 10px;
        margin-bottom: 2px;
    }
    .hl-giaodich {
        color: #008eef;
        float: right;
    }
}