<div class="container-setup">
    <span class="title-setup">Set time serving for transaction:</span><br>
    <div>
        <form class="form-setup" [formGroup]="form">
            <div>
                <span class="uppercase inline font-bold-setup" i18n>Time Serving</span> <label class="note margin-l-5" i18n>(minute)</label>
            </div>
            <input class="ctrlInput-setup" type="number" min="0" formControlName="serving_time">
            <div>
                <span class="uppercase inline font-bold-setup" i18n>Attended</span>
                <input class="inline border" type="checkbox" formControlName="attended">
            </div>

            <button class="btnFill submit-setup" (click)="Submit()">Submit</button>
        </form>
    </div>
</div>