<app-env-sub-module i18n-title title="Screen"></app-env-sub-module>
<div *ngIf="showList$ | async">
    <app-datatable i18n-name name="Screen" [data]="data$ | async" (action)="onActionRequest($event)">
        <app-table-field name="name" i18n-title title="Name"></app-table-field>
        <app-table-field name="branch" i18n-title title="Location"></app-table-field>
    </app-datatable>
</div>

<app-editor-view *ngIf="form$ | async; let form" [isNew]="isNew$ | async" (action)="onActionConfirm($event, form.value)">
    <form class=" hl-form form" [formGroup]="form">
        <span i18n>Code</span>:
        <input class="hl-input" formControlName="code" i18n-placeholder placeholder="Code" style="width: 95%;">
        <br> <span i18n>Name</span>:
        <input class="hl-input" formControlName="name" i18n-placeholder placeholder="Name" style="width: 95%;">

        <br><span i18n>Location</span>:
        <branch-picker level="0" formControlName="branch_id"></branch-picker>
        <br> <span i18n>Counters</span>:
        <div class="dichvu">
            <select-check formControlName="counters" [data]="counters$ | async" textField="name">
            </select-check>
        </div>

        <br><span i18n>Inherit from</span>:
        <select class="hl-select" formControlName="parent_id">
            <option value="">--None--</option>
            <option *ngFor="let sr of screens | async" [value]="sr.id"> {{sr.name}} </option> 
        </select>

        <br><span i18n>Resources</span>
        <app-resource-editor formControlName="layout_resources"></app-resource-editor>

        <br><span i18n>Layout</span>:
        <a routerLink="/admin/center/layout" queryParamsHandling="merge" [queryParams]="{tag: 'screen'}"> 
             Edit
        </a>
        <select class="hl-select" formControlName="layout_id">
            <option *ngFor="let ly of layouts | async" [value]="ly.id"> {{ly.name}} </option>
        </select>
    </form>
</app-editor-view>