<div id="search">

    <div class="searchContainer border">
        <input type="text" #tm i18n-placeholder="Search Ticket" (keyup.enter)="searchTicket(tm.value)" (focus)="isShowResult = true"
            (focusout)="isShowResult = false">
        <img src="./assets/img/icon/search.png" (click)="searchTicket(tm.value)" alt="Search" class="iconSearch">
        <div *ngIf="isShowResult">
            <div class="margin-10-0" fxLayout="row">
                <span *ngIf="message === 1" fxFlex style="text-align:left;" i18n>Ticket number</span>
                <span *ngIf="message === 2" fxFlex style="text-align:left;" i18n>Not Found Ticket</span>
                <span *ngIf="message === 3" fxFlex style="text-align:left;" i18n>Search Ticket</span>

                <span fxFlex style="text-align:right;">{{cnum$ | async}}</span>
            </div>
            <div class="searchResult" *ngFor="let ticket of tickets$ | async">
                <div fxLayout="row">
                    <span class="margin-10-0 label" fxFlex i18n>Print Time</span>
                    <span class="margin-10-0 detail" fxFlex>{{ticket.ctime | localDayTime}}</span>
                </div>
                <div fxLayout="row" [class.hidden]="!serving">
                    <span class="margin-10-0 label" fxFlex i18n>Time of ticket called</span>
                    <span [class.hidden]="ticket.state === 'waiting'" class="margin-10-0 detail" fxFlex>{{getLastCallingTime(ticket) | localDayTime}}</span>
                </div>
                <div fxLayout="row">
                    <span class="margin-10-0 label" fxFlex i18n>Ticket Status</span>
                    <span class="margin-10-0 detail" fxFlex>{{ticket | ticketState}}</span>
                </div>
                <h3 class="margin-10-0" i18n>History</h3>
                <div fxLayout="row" fxLayoutGap="10px">
                    <span fxFlex="20%" class="margin-10-0" style="font-weight:700;" i18n>Time</span>
                    <span fxFlex class="margin-10-0" style="font-weight:700;" i18n>Status</span>
                    <span fxFlex class="margin-10-0" style="font-weight:700;" i18n>Service</span>
                </div>
                <div fxLayout="row" fxLayoutGap="10px" *ngFor="let t of ticket.tracks">
                    <span fxFlex="20%" class="margin-10-0"> {{t.mtime | localDayTime}} </span>
                    <span fxFlex class="margin-10-0"> {{t | ticketState}} </span>
                    <span fxFlex class="margin-10-0" title="t | ticketServiceName"> {{t | ticketServiceName}} </span>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div id="searchHolder"></div> -->