<div id="sta" class="border">
    <div class="componentHeader">
        <span i18n>Transaction Summary</span>
    </div>
    <div fxLayout="row" class="tabs">
        <div fxFlex class="tabCtrl center padding-5" [class.active]="tab$.IsActive('finished')" (click)="tab$.SetActive('finished')">
            &nbsp;<span i18n>Finished Transaction</span>
            <span>&nbsp; ({{fcount$ | async}}) &nbsp; </span>
        </div>
        <div fxFlex class="tabCtrl center padding-5" [class.active]="tab$.IsActive('cancelled')" (click)="tab$.SetActive('cancelled')">
            <span i18n>Cancelled Transaction</span>
            <span>&nbsp;({{ccount$ | async}}) &nbsp;</span>
        </div>
    </div>
    <bar [data]="data$| async"></bar>
</div>
<search></search>
<average-time [stime]="average_stime$ | async"></average-time>