#editor {
    form {
        width: 100%;
        margin: auto;
        .rowCtrl {
            width: 90%;
            margin-bottom: 20px;
            span {
                text-align: right;
                padding-top: 6px;
            }
        }
        .quillEditor {
            width: 40%;
            margin: auto;
            background-color: #fff;
        }
    }
    .action {
        width: 90%;
        margin: auto;
        margin-top: 50px;
    }
}