#editor {
    form {
        width: 100%;
        .rowCtrl {
            margin-left: 30px;
            width: 80%;
            //margin: auto;
            margin-bottom: 20px;
            span {
                text-align: right;
                padding-top: 6px;
            }
        }
    }
    .action {
        width: 90%;
        margin: auto;
        margin-top: 50px;
    }
}