@import '../../../../shared/style.scss';
#overview{
    border-top: $border;
    table{
        width: 100%;
        border-spacing: 0px;
        th, td{
            text-align: left;
            padding: 10px;
        }
        th{
            font-weight: $font-weight-default;
        }
        td{
            font-weight: $font-weight-default + 200;
        }
    }
}