<app-header>
    <div class="module-name"> Giám Sát </div>
</app-header>

<top-nav></top-nav>
<br>
<br>

<div class="container" style="height:100vh;">
    <div class="aside">
        <monitor-filter *ngIf="hidden" style="padding-top: 50px;" (filter)="setAsideFilter($event)"></monitor-filter>
        <i *ngIf="!hidden" class="fa fa-angle-double-right fa-2x" aria-hidden="true" style="cursor:pointer; margin:250px 2px 0px 2px;color: gray;" (click)="hidden=!hidden" title="{{SHOW_FILTER | translate}}"></i>
        <i *ngIf="hidden" class="fa fa-angle-double-left fa-2x" aria-hidden="true" style="cursor:pointer; margin:250px 2px 0px 2px;color:gray;" (click)="hidden=!hidden" title="{{HIDDEN_FILTER | translate}}"></i>
    </div>

    <div class="main">
        <router-outlet></router-outlet>
    </div>
</div>