<div id="workSpace" fxLayout="column">
    <app-env-module i18n-title title="Counter "></app-env-module>
    <app-env-sub-module [title]="counterName$ | async"></app-env-sub-module>
    <app-header fxShow.xs="false"></app-header>
    <div fxFlex fxLayout="row">
        <div fxFlex="75%" id="leftWorkSpace" class="padding-20">
            <serving></serving>
            <div fxLayout="row" fxLayoutGap="10px" style="height: 47%">
                <waiting-queue fxFlex></waiting-queue>
                <missed-queue *ngIf="hasMiss" fxFlex></missed-queue>
                <cancel-queue fxFlex></cancel-queue>
            </div>
        </div>
        <sta fxFlex="25%" class="padding-20"></sta>
    </div>

    <div fxFlex="5%" fxLayout="row" fxShow.xs="false">
        <footer fxFlex="75" class="footer center"></footer>
        <div fxFlex></div>
    </div>
</div>