@import '../../shared/style.scss';
#workSpace {
    width: 100%;
    height: 92.5vh;
    #leftWorkSpace {
        border-right: $border;
    }
    .btnRed {
        background-color: #f53e30;
        border: 1px solid #f53e30;
    }
    .btnGreen {
        background-color: #01947a;
        border: 1px solid #01947a;
    }
    .btnGrey {
        background-color: #dee0df;
        border: 1px solid #dee0df;
    }
    .footer {
        span {
            border-right: $border;
        }
    }
}