<div id="summaryComponent">
    <h2 class="header uppercase" i18n>Overview</h2>
    <div class="nav">
        <button class="btnClear btnMargin uppercase" appSafeNav="/monitor/ticket" i18n>Transaction</button>
        <button class="btnClear btnMargin uppercase" appSafeNav="/monitor/device" i18n>Device</button>
    </div>
    <table class="tableCtrl">
        <thead class="">
            <th i18n>Store</th>
            <th i18n>Counter</th>
            <th i18n>Counter on</th>
            <th i18n>Counter off</th>
            <th i18n>Kiosk</th>
            <th i18n>Kiosk on</th>
            <th i18n>Kiosk off</th>
        </thead>
        <tbody>
            <tr *ngFor="let s of summary$ | async" (click)="focus(s)" class="branchSummary">
                <td> {{s.branch_id | branchName}} </td>
                <td> {{s.total_counter}}</td>
                <td> {{s.counter_on}} </td>
                <td> {{s.counter_off}} </td>
                <td> {{s.total_kiosk}} </td>
                <td> {{s.kiosk_on}} </td>
                <td> {{s.kiosk_off}} </td>
            </tr>
        </tbody>
    </table>
    <div class="divider margin-20-0"></div>
</div>