<div id="summaryComponent">
    <h2 class="header uppercase" i18n>Overview</h2>
    <div class="nav">
        <button class="btnClear btnMargin uppercase" appSafeNav="/monitor/ticket" i18n>Transaction</button>
        <button class="btnFill btnMargin uppercase" appSafeNav="/monitor/device" i18n>Device</button>
        <button class="btnClear btnMargin uppercase" appSafeNav="/monitor/survey" i18n>Survey</button>
    </div>
    <ng-template #loading>
        <div class="spinner">
            <mat-spinner></mat-spinner>
        </div>
    </ng-template>
    <table class="tableCtrl" *ngIf="records$ | async; else loading; let records">
        <thead class="">
            <th i18n>Store</th>
            <th i18n>Counter</th>
            <th i18n>Counter On</th>
            <th i18n>Counter Off</th>
            <th i18n>Kiosk</th>
            <th i18n>Kiosk On</th>
            <th i18n>Kiosk Off</th>
        </thead>
        <tbody>
            <tr *ngFor="let s of records" (click)="focus(s)" class="branchSummary">
                <td> {{s.branch_id | branchName}} </td>
                <td> {{s.counter.total}}</td>
                <td> {{s.counter.on}} </td>
                <td> {{s.counter.off}} </td>
                <td> {{s.kiosk.total}} </td>
                <td> {{s.kiosk.on}} </td>
                <td> {{s.kiosk.off}} </td>
            </tr>
        </tbody>
    </table>
</div>