<editor #edit name="dịch vụ" [fields]="fields" [data]="data | async" [service]="service">
    <editor-title> <span translate>LABEL_LIST_SERVICE</span></editor-title>
    <form *ngIf="edit.form" [formGroup]="edit.form">
        <span translate>LABEL_IMAGE</span>:
        <input formControlName="image" placeholder="{{'LABEL_IMAGE' | translate}}"><br> <span translate>LABEL_CODE</span>:
        <input formControlName="code" placeholder="{{'LABEL_CODE' | translate}}"><br> <span translate>LABEL_PRIORITIZE</span>:
        <input type="number" formControlName="priority" placeholder="{{'LABEL_PRIORITIZE' | translate}}">
        <l10n-form formControlName="l10n"></l10n-form>
        <span translate>LABEL_NUM_TICKET</span>:
        <select formControlName="tform_normal">
            <option *ngFor="let t of tforms | async" [value]="t.id">{{t.code}}</option>
        </select>

        <br> <span translate>LABEL_NUM_TICKET_VIP</span>:
        <select formControlName="tform_vip">
            <option *ngFor="let t of tformVips | async" [value]="t.id">{{t.code}}</option>
        </select>
    </form>
</editor>