<editor #edit name="dịch vụ" [fields]="fields" [data]="data | async" [service]="service">
    <editor-title> Danh sách dịch vụ</editor-title>
    <form *ngIf="edit.form" [formGroup]="edit.form">
        <input formControlName="image" placeholder="Hình ảnh">
        <input formControlName="code" placeholder="Mã">
        <input type="number" formControlName="priority" placeholder="Ưu tiên">
        <l10n-form formControlName="l10n"></l10n-form>
        <br> Số vé:
        <select formControlName="tform_normal">
            <option *ngFor="let t of tforms | async" [value]="t.id">{{t.code}}</option>
        </select>
    </form>
</editor>