#customerReport{
    .searchNSummary{
        width: 100%;
        background-color: #fff;
        border: 1px solid #a7a9ac;
        border-radius: 3px;
        padding: 25px;
        .totalTrans{
            margin-left: 25px;
        }
    }
}