#period{
    .radioCtrl{
        margin: 5px 10px;
    }
    label{
        margin: 10px 0 0 15px;
    }
    date-picker{
        margin: 5px 0 10px 15px;
    }
    input[type='radio']:after {
        width: 10px;
        height: 10px;
        border-radius: 10px;
        top: -2px;
        left: -1px;
        position: relative;
        background-color: #fff;
        content: '';
        display: inline-block;
        visibility: visible;
        border: 1px solid #a7a9ac;
    }

    input[type='radio']:checked:after {
        width: 10px;
        height: 10px;
        border-radius: 10px;
        top: -2px;
        left: -1px;
        position: relative;
        background-color: #0b8fdb;
        content: '';
        display: inline-block;
        visibility: visible;
        border: 1px solid #a7a9ac;
    }
}