<p>Edit Text</p>
<div *ngIf="value" (change)="onChange($event)">
    <select [(ngModel)]="value.align">
            <option value="left">Left</option>
            <option value="center">Center</option>
            <option value="right">Right</option>
        </select>
    <l10n-form [(ngModel)]="value.i18n"></l10n-form>
    <select [(ngModel)]="value.scroll">
            <option value="none">--None--</option>
            <option value="rtl">Right To Left</option>
            <option value="ltr">Left To Right</option>
        </select>
</div>