<div id="editor">
    <div class="headerAndNav">
        <h2 *ngIf="isNew" class="header uppercase">add new {{title}}</h2>
        <h2 *ngIf="!isNew" class="header uppercase">edit {{title}}</h2>
        <div class="nav">
            <button class="btnClear btnMargin uppercase" (click)="GoBack()">
                <span>Back</span>
            </button>
        </div>
    </div>

    <ng-content></ng-content>

    <div fxLayout="row" fxLayoutGap="30%" class="action">
        <div fxFlex [class.hide]="!isNew"></div>
        <button fxFlex class="uppercase btnFill" [class.hide]="!isNew" (click)="onAction('add')" i18n>Add</button>
        <button fxFlex class="uppercase btnFill" [class.hide]="isNew" (click)="onAction('edit')" i18n>Save</button>
        <button fxFlex class="uppercase btnRed" [class.hide]="isNew" appConfirm="Do you want to delete this?" (confirm)="onAction('remove')" i18n>Delete</button>
    </div>
</div>