<!--<div id="edittor">
    <app-datatable [name]="name" [fields]="listFields" [data]="listView$ | async" (action)="onAction($event)">
    </app-datatable>
</div>

<modal #edit id="editor-editDialog">
    <div *ngIf="form" class="modal-dialog">
        <div *ngIf="current" class="modal-header" i18n>Edit {{name}} </div>
        <div *ngIf="!current" class="modal-header" i18n>Add {{name}} </div>
        <div class="modal-body padding-20">

            <span class="err">{{err}}</span>

            <ng-content></ng-content>

            <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center" class="margin-t-20">
                <button class="uppercase btnClear" (click)="CloseEditor()" i18n>Cancel</button>
                <button *ngIf="!current" class="uppercase btnFill" (click)="Create()" [disabled]="!form.valid" i18n>Add</button>
                <button *ngIf="current" class="uppercase btnFill" (click)="Update()" [disabled]="!form.valid" i18n>Save</button>
            </div>
        </div>
    </div>
</modal>

<modal #remove id="editor-confirmDialog">
    <div class="modal-dialog">
        <div class="modal-confirm modal-body">
            <p class="center" i18n="Confirm delete">Do you want to delete the selected item?</p>
            <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center" class="margin-t-20">
                <button fxFlex="20%" class="uppercase btnClear" (click)="Delete()" i18n="Confirm yes">Yes</button>
                <button fxFlex="20%" class="uppercase btnFill" (click)="CloseRemove()" i18n="Cancel">No</button>
            </div>
        </div>
    </div>
</modal>-->