<div class="hl-title-edittor">
    <div i18n class="uppercase">List Of {{name}}</div>
    <button class="hl-add-editor uppercase btpointer" (click)="onAdd()">
        <span i18n>Add {{name}}</span>
    </button>
</div>

<table width="100%" style="border: 1px solid #dee0df; border-radius: 3px;">
    <thead class="hl-thr-editor">
        <td class="col-header"> <span i18n="Ordered number in table">No.</span> </td>
        <td class="col-header" *ngFor="let fi of listFields">{{fi.title}}</td>
        <td class="col-header" i18n>Action</td>
    </thead>
    <tr *ngFor="let da of listView$ | async; let i = index">
        <td class="col-center">{{i+1}}</td>
        <td class="col-center" *ngFor="let fi of listFields">{{da[fi.name]}}</td>
        <td class="col-center">
            <!--<i class="fa fa-edit edit" (click)="onEdit(da)"></i>-->
            <!--<i class="fa fa-trash trash" (click)="onRemove(da)"></i>-->
            <img src="./assets/img/icon/edit.png" alt="Edit" style="cursor: pointer;margin: 5px 10px;" (click)="onEdit(da)">
            <img src="./assets/img/icon/delete.png" alt="Delete" style="cursor: pointer; margin: 5px 10px;" (click)="onRemove(da)">
        </td>
    </tr>
</table>

<modal #edit id="editor-editDialog">
    <div *ngIf="form" class="modal-dialog">
        <div *ngIf="current" class="modal-header" i18n>Edit {{name}} </div>
        <div *ngIf="!current" class="modal-header" i18n>Add {{name}} </div>
        <div class="modal-body padding-20">

            <span class="err">{{err}}</span>

            <ng-content></ng-content>

            <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center" class="margin-t-20">
                <button class="uppercase btnClear" (click)="CloseEditor()" i18n>Cancel</button>
                <button *ngIf="!current" class="uppercase btnFill" (click)="Create()" [disabled]="!form.valid" i18n>Add</button>
                <button *ngIf="current" class="uppercase btnFill" (click)="Update()" [disabled]="!form.valid" i18n>Save</button>
            </div>
        </div>
    </div>
</modal>

<modal #remove id="editor-confirmDialog">
    <div class="modal-dialog">
        <div class="modal-confirm modal-body">
            <p class="center" i18n="Confirm delete">Do you want to delete the selected item?</p>
            <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center" class="margin-t-20">
                <button fxFlex="20%" class="uppercase btnClear" (click)="Delete()" i18n="Confirm yes">Yes</button>
                <button fxFlex="20%" class="uppercase btnFill" (click)="CloseRemove()" i18n="Cancel">No</button>
            </div>
        </div>
    </div>
</modal>