<div id="editor">
    <div class="headerAndNav">
        <h2 *ngIf="isNew" class="header uppercase" i18n="Add New Model">Add New {{title}}</h2>
        <h2 *ngIf="!isNew" class="header uppercase" i18n>Edit {{title}}</h2>
        <div class="nav">
            <button class="btnClear btnMargin uppercase" (click)="GoBack()">
                <span i18n>Back To List Of {{title}}</span>
            </button>
        </div>
    </div>

    <ng-content></ng-content>

    <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="end center" class="action">
        <button fxFlex="15%" class="uppercase btnRed" [class.hide]="isNew" appConfirm="Do you want to delete the selected item?" (confirm)="onAction('remove')" i18n>Delete</button>
        <button fxFlex="15%" class="uppercase btnFill" [class.hide]="!isNew" [disabled]="getValid()" [style.opacity]="getStyle()" (click)="onAction('add')" i18n>Add</button>
        <button fxFlex="15%" class="uppercase btnFill" [class.hide]="isNew" (click)="onAction('edit')" i18n>Save</button>
    </div>
</div>