<div class="hl-title-edittor">
    <div i18n>List of {{name}}</div>
    <button class="hl-add-editor uppercase btpointer" (click)="onAdd()">
        <span i18n>Add {{name}}</span>
    </button>
</div>

<table width="100%" style="border: 1px solid #dee0df; border-radius: 3px;">
    <thead class="hl-thr-editor">
        <td class="col-header"> <span i18n="Ordered number in table">No.</span> </td>
        <td class="col-header" *ngFor="let fi of listFields">{{fi.title}}</td>
        <td class="col-header" i18n>Delete</td>
    </thead>
    <tr *ngFor="let da of listView$ | async; let i = index">
        <td class="col-center">{{i+1}}</td>
        <td class="col-center" *ngFor="let fi of listFields">{{da[fi.name]}}</td>
        <td class="col-center">
            <!--<i class="fa fa-edit edit" (click)="onEdit(da)"></i>-->
            <!--<i class="fa fa-trash trash" (click)="onRemove(da)"></i>-->
            <img src="./assets/img/icon/edit.png" alt="Edit" style="cursor: pointer;margin: 5px 10px;" (click)="onEdit(da)">
            <img src="./assets/img/icon/delete.png" alt="Delete" style="cursor: pointer; margin: 5px 10px;" (click)="onRemove(da)">
        </td>
    </tr>
</table>

<modal #edit>
    <div *ngIf="form">
        <div class="hl-header-editor">
            <div class="uppercase btpointer" *ngIf="current"> <span i18n="Edit Name">Edit {{name}} </span></div>
            <div class="uppercase btpointer" *ngIf="!current"> <span i18n="Add Name">Add {{name}}</span> </div>
        </div>

        <span class="err">{{err}}</span>

        <ng-content></ng-content>
        <modal-footer class="mod-ft-editor">
            <button class="hl-huy-editor btpointer" (click)="CloseEditor()" style="width: 45%"><span i18n>Cancel</span>&nbsp; </button>
            <button *ngIf="!current" class="hl-them-editor" (click)="Create()" [disabled]="!form.valid" style="width: 45%;float: right;"><span i18n>Add</span>&nbsp; </button>
            <button *ngIf="current" class="hl-them-editor" (click)="Update()" [disabled]="!form.valid" style="width: 45%;float: right;"><span i18n>Save</span>&nbsp; </button>
        </modal-footer>
    </div>
</modal>

<modal #remove>
    <div style="text-align: center;margin-bottom: 25px;font-size: 25px;">
        <span i18n="Confirm delete">Do you want to delete this?</span>
    </div>
    <div style="float: right;margin-right: 40px">
        <button class="hl-yes-editor btpointer" (click)="Delete()">  <span i18n="Confirm yes">Yes</span></button>
        <button class="hl-no-editor btpointer" (click)="CloseRemove()"> <span i18n="Cancel">No</span></button>
    </div>
</modal>