<div class="headerAndNav">
    <h2 class="header uppercase" i18n>List Of {{name}}</h2>
    <div class="nav">
        <button class="btnClear btnMargin uppercase" (click)="onAction('add')">
            <span i18n="Add New Model">Add New {{name}}</span>
        </button>
    </div>
</div>

<table id="tableComponent">
    <thead class="hl-thr-editor">
        <td class="col-header"> <span i18n="Numerical Order">No.</span> </td>
        <td class="col-header" *ngFor="let fi of fields">{{fi.title}}</td>
        <td class="col-header" i18n>Action</td>
    </thead>
    <tr *ngFor="let da of data; let i = index">
        <td class="center">{{i+1}}</td>
        <td class="center" *ngFor="let fi of fields">{{da[fi.name]}}</td>
        <td class="center">
            <img src="./assets/img/icon/edit.png" alt="Edit" style="cursor: pointer;margin: 5px 10px;" (click)="onAction('edit',da)">
            <img src="./assets/img/icon/delete.png" alt="Delete" style="cursor: pointer; margin: 5px 10px;" appConfirm="Do you want to delete the selected item?" (confirm)="onAction('remove-confirm', da)">
        </td>
    </tr>
</table>

<app-notice>
    <app-notice-message name="dont_have_authorize" message="You don't have authorize to add new service" i18n-message></app-notice-message>
</app-notice>