<style>
    .module-name {
        font-size: 16px;
    }
    
    .main {
        display: flex;
        background-color: #f4f4f4;
    }
    
    .left {
        flex: 1 1 800px;
        border-right: 1px solid #afb1b4;
    }
    
    .queue {
        display: flex;
    }
    
    .queue>* {
        flex: 1;
    }
    
    sta {
        flex: 1 1 200px;
        border: 0px solid !important;
    }
    
    .ft {
        text-align: center;
        position: relative;
        bottom: 5px;
        font-size: 12px;
    }
</style>

<app-header>
    <div class="module-name">MQ-COUNTER:&nbsp;{{counterName | async}}</div>
</app-header>

<div class="main">
    <div class="left">
        <serving></serving>
        <div class="queue">
            <waiting></waiting>
            <missed></missed>
        </div>
    </div>
    <sta></sta>
</div>

<p class="ft">Copyright by Miraway &copy; 2007-2016 | www.miraway.vn</p>