<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Counter</title>
    <script>
        document.write('<base href="' + document.location + '" />');
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <% _.forEach(styles, function(s) { %>
        <link rel="stylesheet" type="text/css" href="<%- s %>">
        <% }); %>
            <style>
                /* */
            </style>

</head>

<body>
    <app-root>
        <div class="loading">
            <p style="font-size:24px;">Kết nối hệ thống</p>
            <span class="l-1 spans"></span>
            <span class="l-2 spans"></span>
            <span class="l-3 spans"></span>
            <span class="l-4 spans"></span>
            <span class="l-5 spans"></span>
            <span class="l-6 spans"></span>
        </div>
    </app-root>
    <% _.forEach(scripts, function(s) { %>
        <script src="<%- s %>"></script>
        <% }); %>
</body>

</html>