<app-env-sub-module i18n-title title="Counter">
</app-env-sub-module>
<div class="animated fadeInLeft" *ngIf="showList$ | async">
    <app-datatable i18n-name name="Counter" [data]="data$ | async" (action)="onActionRequest($event)">
        <app-table-field name="branch" i18n-title title="Location"></app-table-field>
        <app-table-field name="name" i18n-title title="Name"></app-table-field>
    </app-datatable>
</div>

<app-editor-view class="animated fadeInLeft" [isValid]="form.valid" *ngIf="form$ | async; let form" [title]="title" [isNew]="isNew$ | async" (action)="onActionConfirm($event, form.value)">
    <form [formGroup]="form" fxLayout="column">
        <div fxLayout="row" fxLayoutGap="20px" class="rowCtrl">
            <span fxFlex="20%" i18n>Code</span>
            <div fxFlex fxLayout="row" fxLayoutGap="5px">
                <span fxFlex="1%" class="valid-color" *ngIf="form.get('code').hasError('required')">*</span>
                <span fxFlex="1%" *ngIf="!form.get('code').hasError('required')">&nbsp;</span>
                <input fxFlex class="hl-input" type="text" formControlName="code" i18n-placeholder placeholder="Code">
            </div>
            <span fxFlex="20%" i18n>Number</span>
            <div fxFlex fxLayout="row" fxLayoutGap="5px">
                <span fxFlex="1%" class="valid-color" *ngIf="form.get('cnum').hasError('required')">*</span>
                <span fxFlex="1%" *ngIf="!form.get('cnum').hasError('required')">&nbsp;</span>
                <input fxFlex class="hl-input" type="text" formControlName="cnum" i18n-placeholder placeholder="Number">
            </div>
        </div>
        <div fxLayout="row" fxLayoutGap="20px" class="rowCtrl">
            <span fxFlex="15%" i18n>Name</span>
            <div fxFlex fxLayout="row" fxLayoutGap="5px">
                <span fxFlex="1%" class="valid-color" *ngIf="form.get('name').hasError('required')">*</span>
                <span fxFlex="1%" *ngIf="!form.get('name').hasError('required')">&nbsp;</span>
                <input fxFlex class="hl-input" type="text" formControlName="name" i18n-placeholder placeholder="Name">
            </div>
            <span fxFlex="15%" i18n>Led Address</span>
            <div fxFlex fxLayout="row" fxLayoutGap="5px">
                <span fxFlex="1%">&nbsp;</span>
                <input fxFlex class="hl-input" type="number" formControlName="dev_addr" i18n-placeholder placeholder="Led Address">
            </div>
        </div>
        <div fxLayout="row" fxLayoutGap="20px" class="rowCtrl">
            <div fxFlex fxLayout="row" fxLayoutGap="25px">
                <span fxFlex="30%" i18n>Normal services</span>
                <div fxFlex fxLayout="row" fxLayoutGap="5px">
                    <span fxFlex="1%">&nbsp;</span>
                    <select-check fxFlex class="border" formControlName="services" [data]="services | async" textField="name" style="background-color: #fff"></select-check>
                </div>
            </div>
            <div fxFlex fxLayout="row" fxLayoutGap="25px">
                <span fxFlex="30%" i18n>Vip services</span>
                <div fxFlex fxLayout="row" fxLayoutGap="5px">
                    <span fxFlex="1%">&nbsp;</span>
                    <select-check fxFlex class="border" formControlName="vservices" [data]="services | async" textField="name" style="background-color: #fff"></select-check>
                </div>
            </div>
        </div>
        <div fxLayout="row" fxLayoutGap="20px" class="rowCtrl">
            <span fxFlex="15%" i18n>Store</span>
            <div fxFlex>
                <span class="valid-color" *ngIf="form.get('branch_id').hasError('required')">*</span>
                <span *ngIf="!form.get('branch_id').hasError('required')">&nbsp;</span>
                <select formControlName="branch_id" *ngIf="storeLevel0$ | async; let stores" required>
                    <option value="" class="uppercase" selected>Choose store</option>
                    <option [value]="store.id" *ngFor="let store of stores">{{store.name}}</option>
                </select>
            </div>
            <div fxFlex="15%"></div>
            <div fxFlex></div>
        </div>
    </form>
</app-editor-view>