<app-env-sub-module i18n-title title="Counter">
</app-env-sub-module>
<div class="animated fadeInLeft" *ngIf="showList$ | async">
    <app-datatable i18n-name name="Counter" [data]="data$ | async" (action)="onActionRequest($event)">
        <app-table-field name="branch" i18n-title title="Location"></app-table-field>
        <app-table-field name="name" i18n-title title="Name"></app-table-field>
    </app-datatable>
</div>

<app-editor-view class="animated fadeInLeft" [isValid]="form.valid" *ngIf="form$ | async; let form" [title]="title" [isNew]="isNew$ | async" (action)="onActionConfirm($event, form.value)">
    <form [formGroup]="form" fxLayout="column">
        <div fxLayout="row" fxLayoutGap="20px" class="rowCtrl">
            <span fxFlex="15%" i18n>Code</span>
            <div fxFlex fxLayout="row" fxLayoutGap="5px">
                <span fxFlex="1%" class="valid-color" *ngIf="form.get('code').hasError('required')">*</span>
                <span fxFlex="1%" *ngIf="!form.get('code').hasError('required')">&nbsp;</span>
                <div fxFlex fxLayout="column" fxLayoutGap="2px">
                    <input fxFlex="100%" class="ctrlInput" type="text" formControlName="code" i18n-placeholder placeholder="Code">
                    <div fxFlex class="valid-color" *ngIf="form.get('code').hasError('pattern')">From 4 to 20 characters; Include number, character and _</div>
                    <div fxFlex class="valid-color" *ngIf="!form.get('code').hasError('pattern')">&nbsp;</div>
                </div>
            </div>
            <span fxFlex="15%" i18n>Number</span>
            <div fxFlex fxLayout="row" fxLayoutGap="5px">
                <span fxFlex="1%" class="valid-color" *ngIf="form.get('cnum').hasError('required')">*</span>
                <span fxFlex="1%" *ngIf="!form.get('cnum').hasError('required')">&nbsp;</span>
                <input fxFlex class="ctrlInput" type="text" formControlName="cnum" i18n-placeholder placeholder="Number">
            </div>
        </div>
        <div fxLayout="row" fxLayoutGap="20px" class="rowCtrl">
            <span fxFlex="15%" i18n>Name</span>
            <div fxFlex fxLayout="row" fxLayoutGap="5px">
                <span fxFlex="1%" class="valid-color" *ngIf="form.get('name').hasError('required')">*</span>
                <span fxFlex="1%" *ngIf="!form.get('name').hasError('required')">&nbsp;</span>
                <div fxFlex fxLayout="column" fxLayoutGap="2px">
                    <input fxFlex="100%" class="ctrlInput" type="text" formControlName="name" i18n-placeholder placeholder="Name">
                    <div fxFlex class="valid-color" *ngIf="form.get('name').hasError('pattern')">Atleast 4 characters</div>
                    <div fxFlex class="valid-color" *ngIf="!form.get('name').hasError('pattern')">&nbsp;</div>
                </div>

            </div>
            <span fxFlex="15%" i18n>Led Address</span>
            <div fxFlex fxLayout="row" fxLayoutGap="5px">
                <span fxFlex="1%">&nbsp;</span>
                <input fxFlex class="ctrlInput" type="number" formControlName="dev_addr" i18n-placeholder placeholder="Led Address">
            </div>
        </div>
        <div fxLayout="row" fxLayoutGap="20px" class="rowCtrl">
            <div fxFlex fxLayout="row" fxLayoutGap="25px">
                <span fxFlex="30%" i18n>Normal Services</span>
                <div fxFlex fxLayout="row" fxLayoutGap="5px">
                    <span fxFlex="1%" class="valid-color" *ngIf="form.get('services').hasError('required')">*</span>
                    <span fxFlex="1%" *ngIf="!form.get('services').hasError('required')">&nbsp;</span>
                    <select-check fxFlex class="border" formControlName="services" [data]="services$ | async" textField="name" style="background-color: #fff"></select-check>
                </div>
            </div>
            <div fxFlex fxLayout="row" fxLayoutGap="25px">
                <span fxFlex="30%" i18n>Vip Services</span>
                <div fxFlex fxLayout="row" fxLayoutGap="5px">
                    <span fxFlex="1%">&nbsp;</span>
                    <select-check fxFlex class="border" formControlName="vservices" [data]="services$ | async" textField="name" style="background-color: #fff"></select-check>
                </div>
            </div>
        </div>
        <div fxLayout="row" fxLayoutGap="20px" class="rowCtrl">
            <span fxFlex="15%" i18n>Store</span>
            <div fxFlex fxLayout="row" fxLayoutGap="5px">
                <span fxFlex="1%" class="valid-color" *ngIf="form.get('branch_id').hasError('required')">*</span>
                <span fxFlex="1%" *ngIf="!form.get('branch_id').hasError('required')">&nbsp;</span>
                <select fxFlex class="hl-select" formControlName="branch_id" *ngIf="storeLevel0$ | async; let stores" required>
                    <option value="" class="uppercase" selected>Choose store</option>
                    <option [value]="store.id" *ngFor="let store of stores">{{store.name}}</option>
                </select>
            </div>
            <span fxFlex="15%"></span>
            <div fxFlex></div>
        </div>
    </form>
</app-editor-view>