@import '../../style.scss';
#ticketDetail{
    span{
        text-align: right;
    }
    label{
        font-weight: $font-weight-default + 200;
    }
}
#alert{
    p{
        font-size: 13px;
    }
    h4{
        color: red;
        margin: 0px;
        font-size: 18px;
    }
}