<div class="padding-10">
    <i class="fa fa-plus hl-pointer-sv margin-t-5" (click)="Add()"><span i18n>Add</span></i>
    <div *ngFor="let v of value; let i = index" class="hl-row-sv margin-t-10">
        {{getName(v.id)}}
        <i class="fa fa-edit hl-pointer-sv margin-l-5" i18n-title="Edit" (click)="Edit(v)"></i>
        <!--<i class="fa fa-chevron-up hl-pointer-sv margin-l-5" i18n-title="Move up" (click)="Swap(i-1, i)" style="color: #a6a6a6;"></i>
        <i class="fa fa-chevron-down hl-pointer-sv margin-l-5" i18n-title="Move down" (click)="Swap(i, i+1)" style="color: #a6a6a6;"></i>-->
    </div>
</div>
<modal #m>
    <div *ngIf="active">
        <h2 style="text-align: center"> <span i18n>Edit service name on this kiosk</span> </h2>
        <div style="height: 25px; margin-bottom: 15px; margin-left: 45%; margin-right: 7%;">
            <select class="hl-input" [(ngModel)]="active.id" (ngModelChange)="setActive()">
                <option *ngFor="let d of services" [value]="d.id">{{d.name}}</option>
            </select>
        </div>
        <l10n-form [(ngModel)]="active.l10n"></l10n-form>
        <div style="margin-left: 28%;">
            <hr>Code:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input style="margin-bottom: 15px;
                    border-radius: 3px;
                    height: 20px;
                    padding-left: 5px;
                    border-style: solid;
                    border-width: 1px;
                    width: 64%;
                    border-color: #aeb0af;" [(ngModel)]="active.code" i18n-placeholder="Display code">
        </div>

        <br>
        <div style="margin-bottom: 15px; margin-left: 35%;">
            <button (click)="Close()"> <i class="fa fa-close"></i> <span i18n>Cancel</span> </button>
            <button (click)="Save()"> <i class="fa fa-save"></i> <span i18n>Save</span> </button>
            <button (click)="Remove()"> <i class="fa fa-trash"></i><span i18n>Delete</span>  </button>
        </div>
    </div>
</modal>