<app-header>
    <div class="module-name" translate> LANGAUGE_MONITOR </div>
</app-header>

<top-nav></top-nav>
<br>
<br>

<div class="hl-asidehead-filter">
    <i *ngIf="!hidden" class="hl-dishead-filter fa fa-angle-double-right  " aria-hidden="true" (click)="hidden=!hidden" title="{{LANGAUGE_SHOW_FILTER | translate}}">&nbsp; Filters</i>
    <i *ngIf="hidden" class="hl-dishead-filter fa fa-angle-double-left  " aria-hidden="true" (click)="hidden=!hidden" title="{{LANGAUGE_HIDDEN_FILTER | translate}}">&nbsp; Filters</i>
</div>

<div class="flex-container container" fxLayout="row" fxLayoutAlign="space-between none">
    <div class="aside" fxFlex="20%" *ngIf="hidden">
        <monitor-filter style="padding-top: 50px;" (filter)="setAsideFilter($event)"></monitor-filter>
    </div>

    <div fxFlex>
        <router-outlet></router-outlet>
    </div>
</div>

<div class="hl-ft-report">
    <p style="font-size: 12px;">Copyright by Miraway &copy; 2007-2016 | www.miraway.vn</p>
</div>