<app-env-module i18n-title title="Monitor"></app-env-module>
<div id="monitor" fxLayout="column" style="overflow: hidden">
    <app-header fxFlex="5%" style="z-index: 2"></app-header>

    <top-nav fxFlex="5%" style="z-index: 1"></top-nav>
    <!--<div class="hl-asidehead-filter">
        <i *ngIf="!hidden" class="hl-dishead-filter fa fa-angle-double-right  " aria-hidden="true" (click)="hidden=!hidden" title="{{LANGAUGE_SHOW_FILTER | translate}}">&nbsp; Filters</i>
        <i *ngIf="hidden" class="hl-dishead-filter fa fa-angle-double-left  " aria-hidden="true" (click)="hidden=!hidden" title="{{LANGAUGE_HIDDEN_FILTER | translate}}">&nbsp; Filters</i>
    </div>-->

    <div fxLayout="row" fxFlex="90%">
        <div [fxFlex]="hideFilter? '60px':'250px'" class="leftFilter">
            <monitor-filter *ngIf="hidden" [class.hidden]="hideFilter" style="padding-top: 50px; height: 100%" (filter)="setAsideFilter($event)"></monitor-filter>
        </div>

        <div fxFlex style="overflow: auto;" class="mainContent">
            <router-outlet></router-outlet>
            <p class="footer">Copyright by Miraway &copy; 2007-2016 | www.miraway.vn</p>
        </div>
    </div>
</div>