<editor #edit name="LANGAUGE_CONFIG" [makeForm]="makeForm" [service]="service" (refresh)="Refresh()">
    <editor-title> <span translate>LANGAUGE_LIST_CONFIG</span></editor-title>
    <form class="hl-form" *ngIf="edit.form" [formGroup]="edit.form">
        <hr><span translate>LANGAUGE_ADDRESS</span>
        <select class="hl-select" formControlName="branch_id">
            <option *ngFor="let br of branches | async" [value]="br.id">{{br.name}}</option>
        </select>
        <hr> <span translate>LANGAUGE_DEVICE_FEEDBACK</span>:
        <feedback-config formControlName="feedback"></feedback-config>
    </form>
</editor>