.body {
    display: flex;
    flex-flow: row;
    border-top: 1px solid #b0b1b5;
    background-color: #f4f4f4;
}

.branch-selector {
    flex: 1 1 200px;
}

.main-view {
    flex: 1 1 800px;
    border-left: 1px solid #b0b1b5;
}