<app-header>
    <div class="module-name"> Quản Lý Trung Tâm </div>
</app-header>

<top-nav></top-nav>
<br>
<br>

<div class="container" style="height:100vh;">
    <branch-selector *ngIf="hidden" class="aside" style="padding-top: 50px;"></branch-selector>
    <i *ngIf="!hidden" class="fa fa-angle-double-right fa-2x" aria-hidden="true" style="cursor:pointer; margin:250px 0px 0px 5px;color: gray;" (click)="hidden=!hidden" title="Hiển thị bộ lọc"></i>
    <i *ngIf="hidden" class="fa fa-angle-double-left fa-2x" aria-hidden="true" style="cursor:pointer; margin:250px 0px 0px 5px;color: gray;" (click)="hidden=!hidden" title="Đóng bộ lọc"></i>
    <div class="main" style="padding: 20px 20px 0px 0px;">
        <router-outlet></router-outlet>
    </div>
</div>