<app-header>
    <div class="module-name"> </div>
</app-header>

<top-nav></top-nav>
<br>
<br>

<div class="container" style="height:100vh;">
    <div class="aside">
        <branch-selector *ngIf="hidden" style="padding-top: 50px;"></branch-selector>
        <i *ngIf="!hidden" class="fa fa-angle-double-right fa-2x" aria-hidden="true" style="cursor:pointer; margin:250px 2px 0px 2px;color: gray;" (click)="hidden=!hidden" title="{{'LABEL_DISPLAY_FILTER' | translate}}"></i>
        <i *ngIf="hidden" class="fa fa-angle-double-left fa-2x" aria-hidden="true" style="cursor:pointer; margin:250px 2px 0px 2px;color: gray;" (click)="hidden=!hidden" title="{{'LABEL_CLOSE_FILTER' | translate}}"></i>
    </div>
    <div class="main">
        <router-outlet></router-outlet>
    </div>
</div>