<div id="layout-editor">
  <h1 class="modal-header">Edit UI</h1>
  <div class="padding-20">
    <div fxLayout="row" fxLayoutGap="20px">

      <span fxFlex="15" class="right margin-t-5">Background color</span>
      <div fxFlex="30" fxLayout="row" fxLayoutGap="10px" class="margin-b-20">
        <div fxFlex="25" class="colorPicker pointer" [(colorPicker)]="backgroundColor" [style.background]="backgroundColor" [cpPosition]="'left'"
          [cpOKButton]="true" [cpOKButtonClass]="'btnFill colorPickerActionBtn'" [cpCancelButton]="true" [cpCancelButtonClass]="'btnClear colorPickerActionBtn'"
          [cpOutputFormat]="'rbga'" (colorPickerChange)="changeBackgroundColor(backgroundColor)"></div>
        <mat-form-field>
          <input fxFlex="60" type="text" matInput [value]="backgroundColor" placeholder="Background color">
        </mat-form-field>
        <div fxFlex></div>
      </div>

      <span fxFlex="15" class="right margin-t-5">Text color</span>

      <div fxFlex="30" fxLayout="row" fxLayoutGap="10px" class="margin-b-20">
        <div fxFlex="25" class="colorPicker pointer" [(colorPicker)]="textColor" [style.background]="textColor" [cpPosition]="'left'"
          [cpOKButton]="true" [cpOKButtonClass]="'btnFill colorPickerActionBtn'" [cpCancelButton]="true" [cpCancelButtonClass]="'btnClear colorPickerActionBtn'"
          (colorPickerChange)="changeTextColor(textColor)"></div>

        <mat-form-field>
          <input fxFlex="60" type="text" matInput [value]="textColor" placeholder="Text color">
        </mat-form-field>

        <div fxFlex></div>
      </div>

    </div>
    <div fxLayout="row" fxLayoutGap="20px">
      <span fxFlex="15" class="right margin-t-5">Background image</span>
      <file-picker fxFlex="30" [(ngModel)]="layout.style.backgroundImage"></file-picker>
      <span fxFlex="15" *ngIf="layout.style.backgroundImage" class="right margin-t-5">Background position</span>

      <div fxFlex="30" fxLayout="row" fxLayoutGap="20px" *ngIf="layout.style.backgroundImage">
        <div fxFlex fxLayout="row" fxLayoutGap="7px">
          <span fxFlex class="margin-t-5">X axis</span>
          <input fxFlex class="ctrlInput" type="text" [value]="backgroundPosX" (input)="backgroundPosX = $event.target.value" (change)="getBackgroundPos(x, $event)">
        </div>
        <div fxFlex fxLayout="row" fxLayoutGap="7px">
          <span fxFlex class="margin-t-5">Y axis</span>
          <input fxFlex class="ctrlInput" type="text" [(value)]="backgroundPosY" (input)="backgroundPosY = $event.target.value" (change)="getBackgroundPos(y, $event)">
        </div>
      </div>
    </div>
    <div fxLayout="row" fxLayoutGap="10px">
      <div fxFlex></div>
      <button fxFlex="20" class="btnClear" (click)="cancel()">Cancel</button>
      <button fxFlex="20" class="btnFill" (click)="save()">Ok</button>
    </div>
  </div>
</div>