<div class="content">
    <div class="title" translate>
        STAT
    </div>

    <div class="tabs">
        <div [ngClass]="{'active': tab === 'finished'}" (click)="tab = 'finished'">
            &nbsp;<span translate> SERVICE_FINISH</span>&nbsp; (
            <span class="count">{{fc | async}}</span>) &nbsp;
        </div>
        <div [ngClass]="{'active': tab === 'cancelled'}" (click)="tab = 'cancelled'">
            <span translate>SERVICE_CANCEL</span>&nbsp;(
            <span class="count">{{cc | async}}</span>) &nbsp;
        </div>
    </div>
    <div class="padding">
    </div>
    <div class="detail">
        <div *ngIf="tab == 'finished'">
            <bar [data]="finished | async"></bar>
        </div>
        <div *ngIf="tab == 'cancelled'">
            <bar [data]="cancelled | async"></bar>
        </div>
    </div>
</div>
<div class="search">
    <search></search>
</div>