@import '../../shared/style.scss';
#appointmentSum {
    width: 100%;
    .rowCtrl {
        margin-top: 20px;
        label {
            font-size: $font-size-default + 2;
            font-weight: $font-weight-default + 200;
        }
    }
}