<i class="fa fa-plus pointer" (click)="Add()">Thêm</i>
<div *ngFor="let v of value; let i = index">
    <div>
        {{getName(v.id)}}
        <i class="fa fa-edit pointer" title="Sửa" (click)="Edit(v)"></i>
        <i class="fa fa-chevron-up pointer" title="Chuyển lên" (click)="Swap(i-1, i)"></i>
        <i class="fa fa-chevron-down pointer" title="Chuyển xuống" (click)="Swap(i, i+1)"></i>
    </div>
</div>
<modal #m>
    <div *ngIf="active">
        <h2> Sửa dịch vụ trên kiosk </h2>
        <select class="select" [(ngModel)]="active.id" (ngModelChange)="setActive()">
            <option *ngFor="let d of services" [value]="d.id">{{d.name}}</option>
        </select>
        <input class="inputs" [(ngModel)]="active.image" placeholder="Hình ảnh">
        <l10n-form [(ngModel)]="active.l10n"></l10n-form>
        <hr>
        <button (click)="Close()"> <i class="fa fa-close"></i> Hủy </button>
        <button (click)="Save()"> <i class="fa fa-save"></i>Lưu </button>
        <button (click)="Remove()"> <i class="fa fa-trash"></i>Xóa </button>
    </div>
</modal>