<button class="button-counter" (click)="Next()" [ngClass]="{'hidden': auto | async}" translate>
    NEXT
</button>
<button class="button-counter danger" (click)="NoNext()" [ngClass]="{'hidden': !(auto | async)}" translate>
    AUTO_NEXT
</button>
<button class="button-counter" (click)="Recall()" translate> 
    RECALL
</button>
<button class="button-counter" (click)="Move()" translate> 
    MOVE
</button>
<button class="button-counter" (click)="Miss()" translate>
    MISS
</button>
<button class="button-counter danger" (click)="Finish()" translate>
    FINISH
</button>

<ticket-detail-dialog #dialog [class.hidden]="!moveDialog"></ticket-detail-dialog>
<feedback-skip></feedback-skip>