<monitor-tab [tabs]="tabs" #tab (select)="setActive($event)"></monitor-tab>
<table *ngIf="waitLong">
    <thead>
        <th> STT </th>
        <th translate> AREA </th>
        <th translate> BRANCH</th>
        <th translate> TRANSACTION_ROOM</th>
        <th translate>SERVICE </th>
        <th translate> TICKET_NUMBER </th>
        <th translate> TIME_CREATE_TICKET</th>
        <th translate> TIME_CALL_TICKET </th>
        <!--<th> Thời gian đợi chuẩn </th>-->
    </thead>
    <tbody class="table-row">
        <tr *ngFor="let item of rxData | async; let i = index" [class.done]="item.s_at>0">
            <td> {{i+1}} </td>
            <td> {{item.branches[2]}} </td>
            <td> {{item.branches[1]}} </td>
            <td> {{item.branches[0]}} </td>
            <td> {{item.service}} </td>
            <td> {{item.cnum}} </td>
            <td> {{item.c_at | ctimeDate}} </td>
            <td><span *ngIf="item.s_at>0"> {{item.s_at | ctimeDate}} </span></td>
            <!--<td> {{item.swtime | hour}} </td>-->
        </tr>
    </tbody>
</table>

<table *ngIf="!waitLong">
    <thead>
        <th> STT </th>
        <th translate>AREA</th>
        <th translate> BRANCH</th>
        <th translate> TRANSACTION_ROOM</th>
        <th translate>SERVICE</th>
        <th translate> TICKET_NUMBER </th>
        <th translate> TIME_SERVING</th>
        <th translate> TIME_FINISH </th>
        <!--<th> Thời gian phục vụ chuẩn </th>-->
    </thead>
    <tbody class="table-row">
        <tr *ngFor="let item of rxData | async; let i = index" [class.done]="item.f_at>0">
            <td> {{i+1}} </td>
            <td> {{item.branches[2]}} </td>
            <td> {{item.branches[1]}} </td>
            <td> {{item.branches[0]}} </td>
            <td> {{item.service}} </td>
            <td> {{item.cnum}} </td>
            <td> {{item.s_at | ctimeDate}} </td>
            <td><span *ngIf="item.f_at>0"> {{item.f_at | ctimeDate}}</span> </td>
            <!--<td> {{item.sstime | hour}} </td>-->
        </tr>
    </tbody>
</table>