<editor #edit name="kiosk" [fields]="fields" [data]="data | async" [service]="service">
    <editor-title> Danh sách Kiosk</editor-title>
    <form *ngIf="edit.form" [formGroup]="edit.form">
        <input class="inputs" type="text" formControlName="code" placeholder="Mã" style="width: 100%;">
        <input class="inputs" type="text" formControlName="name" placeholder="Tên kiosk" style="width: 100%;">
        <input class="inputs" type="text" formControlName="vcodes" placeholder="Vip code" style="width: 100%;">
        <input class="check" type="checkbox" formControlName="inheritable"> Có thể kế thừa

        <br> Kiosk cha:
        <select formControlName="parent_id">
            <option *ngFor="let ki of kiosks | async" [value]="ki.id"> {{ki.name}}</option> 
        </select>

        <br> Giao diện:
        <select formControlName="layout_id">
            <option *ngFor="let ly of layouts | async" [value]="ly.id"> {{ly.name}}</option> 
        </select>
        <br> Dịch vụ:
        <div class="dichvu">
            <select-check formControlName="services" [data]="services | async" textField="name">
            </select-check>
        </div>

        <hr> Chi nhánh:
        <branch-picker level="0" formControlName="branch_id"></branch-picker>
    </form>
</editor>
<a routerLink="/center/layout" [queryParams]="{tag: 'kiosk'}"> Sửa giao diện </a>