<editor #edit name="kiosk" [fields]="fields" [data]="data | async" [service]="service">
    <editor-title> Danh sách Kiosk<button class="add uppercase btpointer" routerLink="/center/layout" [queryParams]="{tag: 'kiosk'}"> sửa giao diện </button></editor-title>
    <form *ngIf="edit.form" class="form" [formGroup]="edit.form">
        Mã:
        <input class="inputs" type="text" formControlName="code" placeholder="Mã"><br>Tên kiosk:
        <input class="inputs" type="text" formControlName="name" placeholder="Tên kiosk"><br>Vip code:
        <input class="inputs" type="text" formControlName="vcodes" placeholder="Vip code">
        <input class="check" type="checkbox" formControlName="inheritable"> Có thể kế thừa

        <br> Kiosk cha:
        <select formControlName="parent_id">           
            <option *ngFor="let ki of kiosks | async" [value]="ki.id"> {{ki.name}}</option> 
        </select>

        <br> Giao diện:
        <select formControlName="layout_id">
            <option *ngFor="let ly of layouts | async" [value]="ly.id"> {{ly.name}}</option> 
        </select>
        <br> Dịch vụ:
        <div class="dichvu">
            <service-list formControlName="services" [services]="services | async">
            </service-list>
        </div>

        <hr> Chi nhánh:
        <branch-picker level="0" formControlName="branch_id"></branch-picker>
    </form>
</editor>