<div id="imageFormID" *ngIf="value" (change)="onChange($event)" class="margin-b-15">
    <file-picker [(ngModel)]="value.data.srcs" (ngModelChange)="onChange()"></file-picker>
    <div class="divider margin-20-0"></div>
    <div fxLayout="row" fxLayoutGap="20px" class="rowCtrl">
        <span fxFlex="10" class="margin-t-5" i18n>Width</span>
        <input fxFlex type="text" class="ctrlInput" [(ngModel)]="value.style.width">
        <span fxFlex="10" class="margin-t-5" i18n>Height</span>
        <input fxFlex type="text" class="ctrlInput" [(ngModel)]="value.style.height">
    </div>
    <div fxLayout="row" fxLayoutGap="20px" class="rowCtrl">
        <span fxFlex="10" class="margin-t-5" i18n>Border</span>
        <select fxFlex="34" class="hl-select" [(ngModel)]="value.data.border">
            <option value="square">Square</option>
            <option value="round">Round</option>
        </select>
        <span fxFlex="10" class="margin-t-5" i18n>Background color</span>
        <div fxFlex="30" fxLayout="row" class="margin-b-20">
            <div fxFlex="15" class="colorPicker pointer" [(colorPicker)]="value.style.backgroundColor" [style.background]="value.style.backgroundColor"
                [cpPosition]="'left'" [cpOKButton]="true" [cpOKButtonClass]="'btnFill colorPickerActionBtn'" [cpCancelButton]="true"
                [cpCancelButtonClass]="'btnClear colorPickerActionBtn'" (colorPickerChange)="changeBackgroundColor()" [cpAlphaChannel]="'always'"
                [cpOutputFormat]="'rgba'"></div>
            <div fxFlex></div>
            <mat-form-field fxFlex="80">
                <input type="text" matInput [(ngModel)]="value.style.backgroundColor" (ngModelChange)="changeBackgroundColor()" placeholder="Background color">
            </mat-form-field>
        </div>
    </div>
    <div class="divider"></div>
    <h4 class="center">Margin</h4>
    <div fxLayout="row" fxLayoutGap="20px" class="rowCtrl">
        <span fxFlex="10" class="margin-t-5" i18n>Top</span>
        <input fxFlex type="text" class="ctrlInput" [(ngModel)]="value.style.marginTop">
        <span fxFlex="10" class="margin-t-5" i18n>Right</span>
        <input fxFlex type="text" class="ctrlInput" [(ngModel)]="value.style.marginRight">
    </div>
    <div fxLayout="row" fxLayoutGap="20px" class="rowCtrl">
        <span fxFlex="10" class="margin-t-5" i18n>Bottom</span>
        <input fxFlex type="text" class="ctrlInput" [(ngModel)]="value.style.marginBottom">
        <span fxFlex="10" class="margin-t-5" i18n>Left</span>
        <input fxFlex type="text" class="ctrlInput" [(ngModel)]="value.style.marginLeft">
    </div>
</div>