$logoImage: "assets/img/miraway.png";
.logo {
    height: 30px;
    float: left;
    background: url($logoImage);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    width: 250px;
    transition: margin-left .15s;
}

.scrollbar {
    height: 90%;
    width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    &:hover {
        overflow-y: scroll;
    }
}

a:hover,
a:focus {
    text-decoration: none;
    border-left: 0px solid #F7F7F7;
}

nav {
    user-select: none;
}


/* Scrollbar Style */

#style-1::-webkit-scrollbar-track {
    border-radius: 2px;
}

#style-1::-webkit-scrollbar {
    width: 5px;
    background-color: #F7F7F7;
}

#style-1::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #BFBFBF;
}


/* Scrollbar End */

.fa-lg {
    font-size: 1em;
}

.fa {
    position: relative;
    display: table-cell;
    width: 30px;
    height: 36px;
    text-align: center;
    top: 12px;
    font-size: 20px;
}


/* Link style */

a {
    position: relative;
    width: 255px;
    display: table;
    border-collapse: collapse;
    border-spacing: 0;
    color: #8a8a8a;
    font-size: 13px;
    text-decoration: none;
    transform: translateZ(0) scale(1, 1);
    transition: all .14s linear;
    font-family: 'Strait', sans-serif;
    border-top: 1px solid #f2f2f2;
    text-shadow: 1px 1px 1px #fff;
    &:hover {
        color: #fff;
        background-color: #00bbbb;
        text-shadow: 0px 0px 0px;
    }
}


/* Main Menu */

.main-menu:hover {
    width: 250px;
    overflow: hidden;
    opacity: 1;
    .logo {
        margin: 0px;
    }
}

.main-menu {
    background: #F7F7F7;
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    width: 30px;
    z-index: 1;
    overflow: hidden;
    transition: width .2s linear;
    transform: translateZ(0) scale(1, 1);
    box-shadow: 1px 0 15px rgba(0, 0, 0, 0.07);
    opacity: 1;
    ul {
        position: relative;
        display: block;
        width: 250px;
        outline: 0;
        margin: 0;
        padding: 0;
        text-transform: uppercase;
        >a.active-link {
            color: rgba(0, 161, 255, 0.42);
            background-color: white;
        }
    }
    .nav-icon {
        position: relative;
        display: table-cell;
        width: 55px;
        height: 36px;
        text-align: center;
        vertical-align: middle;
        font-size: 18px;
    }
    .nav-text {
        position: relative;
        display: table-cell;
        vertical-align: middle;
        width: 190px;
        font-family: 'Titillium Web', sans-serif;
    }
}

.no-touch .scrollable.hover {
    overflow-y: hidden;
}

.no-touch .scrollable.hover:hover {
    overflow-y: auto;
    overflow: visible;
}


/* Darker element side menu Start*/

.darkerli {
    background-color: #ededed;
    text-transform: capitalize;
}

.darkerlishadow {
    background-color: #ededed;
    text-transform: capitalize;
    box-shadow: inset 0px 5px 5px -4px rgba(50, 50, 50, 0.55);
}

.darkerlishadowdown {
    background-color: #ededed;
    text-transform: capitalize;
    box-shadow: inset 0px -4px 5px -4px rgba(50, 50, 50, 0.55);
}

.area {
    float: left;
    background: #e2e2e2;
    width: 100%;
    height: 100%;
}