<nav>
    <ul>
        <li *ngFor="let item of menu">
            <a (click)="onClick(item)" [class.current-menu-item]="item == active">
                <i class="fa" [addClass]="item.icon"> </i>
                <span> {{item.name}} </span>
            </a>
            <ul>
                <li *ngFor="let child of item.children">
                    <a (click)="onClick(child)">
                        {{child.name}}
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</nav>