<nav>
    <ul>
        <li *ngFor="let item of menu; let i = index;">
            <a (click)="onClick(item, i)" [class.current-menu-item]="i == active">
                <i class="fa" [addClass]="item.icon"> </i>
                <span> {{item.name}} </span>
            </a>
            <ul>
                <li *ngFor="let child of item.children">
                    <a (click)="onClick(child, i)">
                        {{child.name}}
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</nav>