<div class="componentBorder queue">
    <div class="componentHeader">
        <span translate> LANGAUGELIST_MISS</span> &nbsp;(<span class="total">{{count | async}}</span>)
        <input #ticket [class.hidden]="!show" (keyup)="onSearch(ticket.value)" 
                type="text" placeholder="{{'LANGAUGE_TICKET_NUMBER_MISS' | translate}}" class="inputSearch">
        <img src="./assets/img/icon/search.png" (click)="show = !show; ticket.value='';onSearch(ticket.value)" alt="Search" class="iconSearch">
    </div>
    <div fxLayout="row" class="headerTable">
        <span fxFlex class="cell" translate>LANGAUGE_NUMBER</span>
        <span fxFlex class="cell" translate>LANGAUGE_SERVICE</span>
        <span fxFlex class="cell" translate>LANGAUGE_MISS_AT</span>
    </div>
    <div fxLayout="row" class="row" *ngFor="let t of tickets | async" [ticket-detail]="t" [ticket-highlight]="t">
        <div fxFlex class="cell">
            <img class="icon" src="./assets/img/icon/person.png" alt="Number Ticket">
            <span class="ticketNum">{{t.cnum}}</span>
        </div>
        <span fxFlex class="cell">{{t.services | multipleServiceName}}</span>
        <span fxFlex class="cell">{{t.mtime | localDayTime}}</span>
    </div>
</div>