<div class="componentBorder queue">
    <div class="componentHeader">
        <span translate> LANGAUGE_LIST_WAIT</span> &nbsp;(<span class="totalCount">{{count$ | async}}</span>)
    </div>
    <div fxLayout="row" class="headerTable">
        <span fxFlex class="cell" translate>LANGAUGE_NUMBER</span>
        <span fxFlex class="cell" translate>LANGAUGE_SERVICE</span>
        <span fxFlex class="cell" translate>LANGAUGE_TIME_WAIT</span>
    </div>
    <div fxLayout="row" class="row" *ngFor="let t of waiting$ | async" [ticket-detail]="t" [ticket-highlight]="t">
        <div fxFlex class="cell">
            <img class="icon" src="./assets/img/icon/person.png" alt="Number Ticket">
            <span class="ticketNum">{{t.cnum}}</span>
        </div>
        <span fxFlex class="cell">{{t.services | multipleServiceName}}</span>
        <timer fxFlex class="cell" [start]="t.mtime" [timeWarning]="15"></timer>
    </div>
</div>