<editor #edit [name]="level | levelName" [fields]="fields" [data]="branches | async" [service]="service">
    <editor-title> Danh sách {{level | levelName}}</editor-title>
    <form *ngIf="edit.form" [formGroup]="edit.form">
        Tên:
        <input type="text" formControlName="name" placeholder="Tên"><br> Mã:
        <input type="text" formControlName="code" placeholder="Mã">

        <div>
            <label style="margin-right: 14px;">{{level + 1 | levelName}}</label>
            <select formControlName="parent">
                <option *ngFor="let br of upperLayers | async" [value]="br.id">{{br.name}}</option>
            </select>
        </div>
    </form>
</editor>