<app-header>
    <div class="module-name"> Monitor </div>
</app-header>

<top-nav></top-nav>
<br>
<br>

<div class="container">
    <branch-selector class="aside"></branch-selector>
    <div class="main">
        <div style="height: 50px;">
            <div style="float: right; margin-top: 5px;">
                <button class="gd" type="submit" routerLink="ticket" routerLinkActive="active">GIAO DỊCH VƯỢT CHUẨN</button>
                <button type="submit" routerLink="device" routerLinkActive="active">THIẾT BỊ MẤT KẾT NỐI</button>
            </div>
        </div>

        <router-outlet></router-outlet>
        <div style="float: right;margin-top: 20px;">
            <button (click)="excel()"> XUẤT RA FILE EXCEL </button>
            <button (click)="pdf()"> XUẤT RA FILE PDF </button>
        </div>
        <div class="ft">
            <p style="font-size: 12px;">Copyright by Miraway &copy; 2007-2016 | www.miraway.vn</p>
        </div>
    </div>
</div>