<app-header>
    <div class="module-name"> Giám Sát </div>
</app-header>

<top-nav></top-nav>
<br>
<br>

<div class="container" style="height:100vh;">
    <monitor-filter *ngIf="hidden" class="aside" style="padding-top: 50px;" (filter)="setAsideFilter($event)"></monitor-filter>
    <i *ngIf="!hidden" class="fa fa-angle-double-right fa-2x" aria-hidden="true" style="cursor:pointer; margin:250px 0px 0px 5px;color: gray;" (click)="hidden=!hidden" title="Hiển thị bộ lọc"></i>
    <i *ngIf="hidden" class="fa fa-angle-double-left fa-2x" aria-hidden="true" style="cursor:pointer; margin:250px 0px 0px 5px;color:gray;" (click)="hidden=!hidden" title="Đóng bộ lọc"></i>
    <div class="main" style="padding: 20px 20px 0px 0px;">
        <div style="height: 50px;">
            <div style="float: right; margin-top: 5px;">
                <button class="gd btpointer" type="submit" routerLink="/ticket" routerLinkActive="active">GIAO DỊCH VƯỢT CHUẨN</button>
                <button type="submit" routerLink="/device" routerLinkActive="active">THIẾT BỊ MẤT KẾT NỐI</button>
            </div>
        </div>

        <router-outlet></router-outlet>

        <div class="ft">
            <p style="font-size: 12px;">Copyright by Miraway &copy; 2007-2016 | www.miraway.vn</p>
        </div>
    </div>
</div>