<app-header>
    <div class="module-name"> Giám Sát </div>
</app-header>

<top-nav></top-nav>
<br>
<br>

<div class="container" style="height:100vh;">
    <div class="aside">
        <monitor-filter *ngIf="hidden" style="padding-top: 50px;" (filter)="setAsideFilter($event)"></monitor-filter>
        <i *ngIf="!hidden" class="fa fa-angle-double-right fa-2x" aria-hidden="true" style="cursor:pointer; margin:250px 2px 0px 2px;color: gray;" (click)="hidden=!hidden" title="{{SHOW_FILTER | translate}}"></i>
        <i *ngIf="hidden" class="fa fa-angle-double-left fa-2x" aria-hidden="true" style="cursor:pointer; margin:250px 2px 0px 2px;color:gray;" (click)="hidden=!hidden" title="{{HIDDEN_FILTER | translate}}"></i>
    </div>

    <div class="main">
        <div style="height: 50px;">
            <div style="float: right; margin-top: 5px;">
                <span translate>AUTO_UPDATE</span>
                <select (ngModelChange)="setRefreshInterval($event)">
                    <option *ngFor="let a of intervals" [value]="a.interval">{{a.name}}</option>
                </select>
                <button class="gd btpointer" type="submit" routerLink="/ticket" routerLinkActive="active" translate>BUTTON_TRANSACTION</button>
                <button type="submit" routerLink="/device" routerLinkActive="active" translate>BUTTON_DEVICE</button>
            </div>
        </div>

        <router-outlet></router-outlet>

        <div class="ft">
            <p style="font-size: 12px;">Copyright by Miraway &copy; 2007-2016 | www.miraway.vn</p>
        </div>
    </div>
</div>