<app-env-sub-module i18n-title title="Service Flow">
</app-env-sub-module>
<div class="animated fadeInLeft" *ngIf="showList$ | async">
    <app-datatable i18n-name name="Service Flow" [data]="data$ | async" (action)="onActionRequest($event)">
        <app-table-field name=location i18n-title title="Location"></app-table-field>
        <app-table-field name="service_id" i18n-title title="Service ID"></app-table-field>
    </app-datatable>
</div>

<app-editor-view class="animated fadeInLeft" [isValid] *ngIf="form$ | async; let form" [title]="title" [isNew]="isNew$ | async" (action)="onActionConfirm($event, form.value)">
    <form [formGroup]="form" fxLayout="column">
        <div fxLayout="row" fxLayoutGap="20px" class="rowCtrl">
            <span fxFlex="20%" i18n>Store</span>
            <div fxFlex fxLayout="row" fxLayoutGap="5px">
                <span fxFlex="1%" class="valid-color" *ngIf="form.get('branch_id').hasError('required')">*</span>
                <span fxFlex="1%" *ngIf="!form.get('branch_id').hasError('required')">&nbsp;</span>
                <select fxFlex class="hl-select" formControlName="branch_id" *ngIf="storeLevel0$ | async; let stores" required>
                    <option value="" class="uppercase" selected>Choose store</option>
                    <option [value]="store.id" *ngFor="let store of stores">{{store.name}}</option>
                </select>
            </div>
            <span fxFlex="20%" i18n>Service ID</span>
            <div fxFlex fxLayout="row" fxLayoutGap="5px">
                <span fxFlex="1%" class="valid-color" *ngIf="form.get('service_id').hasError('required')">*</span>
                <span fxFlex="1%" *ngIf="!form.get('service_id').hasError('required')">&nbsp;</span>
                <select fxFlex class="hl-select" formControlName="service_id">
                    <option *ngFor="let s of services | async" [value]="s.id">{{s.name}}</option>
                </select>
            </div>
        </div>
        <div fxLayout="row" fxLayoutGap="20px" class="rowCtrl">
            <span fxFlex="20%" i18n>Ticket format</span>
            <div fxFlex fxLayout="row" fxLayoutGap="5px">
                <span fxFlex="1%" class="valid-color" *ngIf="form.get('tform_normal').hasError('required')">*</span>
                <span fxFlex="1%" *ngIf="!form.get('tform_normal').hasError('required')">&nbsp;</span>
                <select fxFlex class="hl-select" formControlName="tform_normal">
                    <option *ngFor="let t of tforms | async" [value]="t.id">{{t.code}}</option>
                </select>
            </div>

            <span fxFlex="20%" i18n>Ticket format Vip</span>
            <div fxFlex fxLayout="row" fxLayoutGap="5px">
                <span fxFlex="1%">&nbsp;</span>
                <select fxFlex class="hl-select" formControlName="tform_vip">
                    <option *ngFor="let t of tformVips | async" [value]="t.id">{{t.code}}</option>
                </select>
            </div>
        </div>
    </form>
</app-editor-view>