@import '../../shared/style.scss';
.counterCell {
    border-radius: 3px;
    font-weight: $font-weight-default;
    font-size: 115%;
    cursor: pointer;
    outline: none;
    background-color: $background-color-title;
    .ticketNum {
        font-weight: $font-weight-default;
    }
}

.serving {
    background-color: $key-color;
    color: #fff;
}

.empty {
    background-color: #fff;
    color: $text-color;
}

.init {
    background-color: $background-color-title;
    color: $text-color;
}

.warning {
    background-color: #f53e30;
}

.activated {
    border: 2px dashed $text-color;
}

#countersMap {
    height: 60vh;
    padding: 3vw;
}

@media screen and (min-width: 1030px) {
    .counterCell {
        font-size: 100%;
    }
}