<div>
    <div>
        <span class="user-head-text" i18n>User Setting</span>
        <hr class="user-hr-css">
    </div>
    <div>
        <form [formGroup]="form">

            <span class="user-text-language" i18n>Old Pass:</span>
            <div>
                <span fxFlex>&nbsp;</span>
                <input class="hl-input-change-pass" type="password" formControlName="old_pass" i18n-placeholder placeholder="Pass Word">
            </div>
            <span class="user-text-language" i18n>New Pass:</span>
            <div>
                <span fxFlex class="valid-color" *ngIf="form.get('new_pass').hasError('pattern')">*</span>
                <span fxFlex class="valid-color" *ngIf="!form.get('new_pass').hasError('pattern')">&nbsp;</span>
                <input class="hl-input-change-pass" type="password" formControlName="new_pass" i18n-placeholder placeholder="Old Pass Word">
            </div>
            <span class="user-text-language" i18n>Retype New Pass:</span>
            <div>
                <span fxFlex class="valid-color" *ngIf="form.get('re_new_pass').hasError('pattern')">*</span>
                <span fxFlex class="valid-color" *ngIf="!form.get('re_new_pass').hasError('pattern')">&nbsp;</span>
                <input class="hl-input-change-pass" type="password" formControlName="re_new_pass" i18n-placeholder placeholder=" Retype Old Pass Word">
            </div>
            <span fxFlex>&nbsp;</span>
            <button class="btnFill submit-setup" [disabled]="!form.valid" [style.opacity]="!form.valid?0.3:1" (click)="Submit()">Submit</button>
            <button class="hl-button-user btn-footer-user" (click)="Close()"> <span i18n>Close</span> </button>
        </form>

    </div>
</div>