@import '../../../shared/style.scss';
#header {
    width: 100%;
    border-bottom: $border;
    background-color: #fff;
    padding: 0 15px;
}

@media screen and (max-width: 1030px) {
    #header{
        font-size: 120%;
    }
}