<span [matMenuTriggerFor]="menu" class="pointer">
    <span i18n>Hello</span> {{ username | async}}
    <i class="fa fa-caret-down fa-lg"></i>
</span>

<mat-menu #menu="matMenu" id="menuSetting" overlapTrigger="true" x-position="before">
    <div class="settingMenuItem" (click)="Refresh()">
        <i class="fa fa-refresh"></i>
        <span i18n>Refresh</span>
    </div>
    <div class="settingMenuItem" (click)="openSettingModal()">
        <i class="fa fa-cog"></i>
        <span i18n>Setting</span>
    </div>
    <div class="settingMenuItem" (click)="openChangePassModal()">
        <i class="fa fa-key"></i>
        <span i18n>Change password</span>
    </div>
    <div class="settingMenuItem" i18n-appConfirm appConfirm="Do you want to logout?" (confirm)="Logout()">
        <i class="fa fa-power-off"></i>
        <span i18n>Logout</span>
    </div>
</mat-menu>

<app-notice>
    <app-notice-message name="must_finish_first" message="You have to finish this transaction first" i18n-message></app-notice-message>
</app-notice>