<div class="hl-droplabel-user">
    <span [matMenuTriggerFor]="menu" class="pointer">
        <span i18n>Hello</span> {{ username | async}}
        <i class="fa fa-caret-down fa-lg"></i>
    </span>
</div>

<mat-menu #menu="matMenu" id="menuSetting" overlapTrigger="true" x-position="before">
    <div class="hl-dropdown-item-user" (click)="Refresh()">
        <i class="fa fa-refresh"></i> <span i18n>Refresh</span>
    </div>
    <div class="hl-dropdown-item-user" (click)="openSettingModal()">
        <i class="fa fa-cog"></i> <span i18n>Setting</span>
    </div>
    <div *ngIf="!supperCounter" class="hl-dropdown-item-user" (click)="openChangePassModal()">
        <i class="fa fa-key"></i> <span i18n>Change password</span>
    </div>
    <div *ngIf="!supperCounter" class="hl-dropdown-item-user" (click)="Logout()">
        <i class="fa fa-power-off"></i> <span i18n>Logout</span>
    </div>
</mat-menu>