<div class="hl-divlogin">
    <img src="../assets/img/login/miraway-logo.png" alt="Miraway" class="hl-logo-login">
    <div class="hl-bodys-login">

        <div *ngIf="!IsLogin()">
            <div class="hl-title-login">ĐĂNG NHẬP HỆ THỐNG</div>
            <form [formGroup]="loginForm" (submit)="login()">
                <div class="hl-form-login">
                    <div class="hl-message-login"> {{message}} </div>
                    <div class="hl-info-login">
                        <div class="hl-divinp-login">
                            <input class="hl-input-login" type="text" formControlName="username" placeholder="Tên truy cập">
                        </div>
                        <div>
                            <input class="hl-input-login" type="password" formControlName="password" placeholder="Mật khẩu">
                        </div>
                        <div class="hl-divbtn-login">
                            <button class="hl-btnLogin btpointer" type="submit">ĐĂNG NHẬP</button>
                        </div>
                    </div>
                    <!--<a href="#" class="mk">Bạn quên mật khẩu ? Yêu cầu Admin cấp lại mật khẩu</a>-->
                </div>
            </form>
        </div>
        <div *ngIf="IsLogin()">
            <h2 style="text-align: center;">Xin chào</h2>
            <button (click)="logout()" class="hl-btn-logout">Logout</button>
        </div>
    </div>
    <div class="hl-ft-login">
        <p>Copyright by Miraway &copy; 2007-2016 | www.miraway.vn</p>
    </div>
</div>