/*.hl-title-login {
    font-size: 18px;
    text-align: center;
    height: 50px;
    line-height: 50px;
    background-color: #dee0df;
}

.hl-btnLogin {
    border-radius: 3px;
    color: #fff;
    background-color: #0b8fda;
    border: 0px solid #0b8fda;
    font-size: 18px;
    line-height: 40px;
    height: 40px;
    width: 100%;
}

.hl-btn-logout {
    margin-left: 15px;
    background-color: #f2f2f2;
    border-radius: 0px;
    font-size: 18px;
}

.hl-input-login {
    border-radius: 3px;
    height: 35px;
    padding-left: 5px;
    border: 1px solid #a8a9ad;
    width: 100%;
    font-size: 18px;
}

.hl-form-login {
    margin: 30px 30px;
    text-align: center;
}

.hl-info-login {
    margin: 0px 30px;
}

.mk {
    font-size: 14px;
    color: #0b8fda;
}

.hl-divlogin {
    background-image: url("./assets/img/login/background_1.png");
    height: 100vh;
    background-size: cover;
}

.hl-bodys-login {
    position: fixed;
    left: calc(50% - 185px);
    top: 100px;
    width: 370px;
    border-width: 1px;
    border-style: solid;
    border-color: #e9edeb;
    background-color: #fff;
}

.hl-message-login {
    font: 18px;
    color: brown;
}

.hl-ft-loginft {
    text-align: center;
    position: fixed;
    bottom: 5px;
    font-size: 16px;
    color: #fff;
    width: 100%;
}

.hl-logo-login {
    width: 200px;
    height: 80px;
    margin-left: 10px;
}

.hl-divinp-login {
    margin-bottom: 20px;
}

.hl-divbtn-login {
    margin: 30px 0px;
}*/